WorkflowsRAG.Ingestar.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extraer texto del archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto del archivo": {
      "main": [
        [
          {
            "node": "Borrar contenido del tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar contenido del tenant": {
      "main": [
        [
          {
            "node": "Preparar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar texto": {
      "main": [
        [
          {
            "node": "Qdrant Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T22:28:47.537Z",
  "id": "0XOqICRbivKnhsTP",
  "isArchived": false,
  "meta": null,
  "name": "RAG.Ingestar",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -176
      ],
      "id": "8ead06a0-3a18-456a-911f-87548c286611",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -176
      ],
      "id": "f2028a29-a89a-4593-a859-f24f9ec9a9dc",
      "name": "Extraer texto del archivo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/smartweb_knowledge/points/delete?wait=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"filter\": { \"must\": [ { \"key\": \"metadata.tenant\", \"match\": { \"value\": $('Execute Workflow Trigger').item.json.tenant } } ] } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -176
      ],
      "id": "6d454417-a2dd-4034-b677-9101aaf481a1",
      "name": "Borrar contenido del tenant",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a63292e-3f7d-495b-b977-8be4aea96f2f",
              "name": "tenant",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant }}",
              "type": "string"
            },
            {
              "id": "d5ee64c5-fd74-49dd-b652-6983d110e510",
              "name": "contenido",
              "value": "={{ $('Extraer texto del archivo').item.json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -176
      ],
      "id": "1ef82d77-c6f7-4363-ab1e-46d60fd6761c",
      "name": "Preparar texto"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "smartweb_knowledge",
          "mode": "list",
          "cachedResultName": "smartweb_knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        688,
        -176
      ],
      "id": "fa78e34b-0775-4a88-a58e-2f9907f00beb",
      "name": "Qdrant Insert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        64
      ],
      "id": "b592ccb1-087c-40ec-a2cd-45501ac0abff",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.contenido }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tenant",
                "value": "={{ $json.tenant }}"
              },
              {
                "name": "source",
                "value": "upload"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        784,
        64
      ],
      "id": "a4fe28df-9f1b-4608-ae71-1fa7f5e05fe1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "80236789-112c-46d0-9c54-1f4b0736c11d",
      "name": "Recursive Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T22:28:47.537Z",
      "createdAt": "2026-06-04T22:28:47.537Z",
      "role": "workflow:owner",
      "workflowId": "0XOqICRbivKnhsTP",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-04T22:29:43.649Z",
  "versionId": "71a35726-d4f6-42da-95d1-8cb878d8b1f3"
}