WorkflowsSurebet ValueBet Detector v2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule - Every 15min": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - TimeWindow": {
      "main": [
        [
          {
            "node": "IF - WithinSchedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WithinSchedule?": {
      "main": [
        [
          {
            "node": "HTTP Request - Get events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get events": {
      "main": [
        [
          {
            "node": "Filter - ByLeague",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Normalize": {
      "main": [
        [
          {
            "node": "Function - GroupByMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - GroupByMatch": {
      "main": [
        [
          {
            "node": "Function - BestOddsPerOutcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - BestOddsPerOutcome": {
      "main": [
        [
          {
            "node": "Filter - TimeToMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - SurebetCalc": {
      "main": [
        [
          {
            "node": "Generate Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Function - AttachLastHash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - AttachLastHash": {
      "main": [
        [
          {
            "node": "IF Compare Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Compare Hash": {
      "main": [
        [
          {
            "node": "IF - RowExists?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function - PayloadString",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - PayloadString": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code - ParseLLM & Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai/gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - ParseLLM & Merge": {
      "main": [
        [
          {
            "node": "Code - ValidateLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - ValueCalc": {
      "main": [
        [
          {
            "node": "Function - RoundingAndCurrency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - RoundingAndCurrency": {
      "main": [
        [
          {
            "node": "IF - Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Alert?": {
      "main": [
        [
          {
            "node": "Telegram - Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Send Alert": {
      "main": [
        [
          {
            "node": "Get many rows - By Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row - AlertSent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Function - TimeWindow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - TimeToMatch": {
      "main": [
        [
          {
            "node": "Function - SurebetCalc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Ranking 20:00": {
      "main": [
        [
          {
            "node": "HTTP - Get events for Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get events for Ranking": {
      "main": [
        [
          {
            "node": "Code - BookmakerRanking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - BookmakerRanking": {
      "main": [
        [
          {
            "node": "Telegram - Send Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - ByLeague": {
      "main": [
        [
          {
            "node": "Function - Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - RowExists?": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - ValidateLLM": {
      "main": [
        [
          {
            "node": "Function - ValueCalc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows - By Match": {
      "main": [
        [
          {
            "node": "Update a row - AlertSent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-21T18:07:54.879Z",
  "id": "ECcE1aUJqB2En9Rj",
  "isArchived": false,
  "meta": null,
  "name": "Surebet ValueBet Detector v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Schedule - Every 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -128
      ],
      "id": "c151cde4-3b05-4f99-9621-0831f411f253"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('CONFIG').first().json;\nconst horaInicio = cfg.CFG_HORA_INICIO ?? 8;\nconst horaFin = cfg.CFG_HORA_FIN ?? 23;\n\nconst hour = Number(\n  new Date().toLocaleString('en-US', {\n    hour: 'numeric',\n    hour12: false,\n    timeZone: 'America/Lima'\n  })\n);\n\nreturn [\n  {\n    json: {\n      ...cfg,\n      horaPeru: hour,\n      dentroHorario: (hour >= horaInicio && hour < horaFin)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -128
      ],
      "id": "9f323ec0-8e28-4c51-8403-bca4bd8181d4",
      "name": "Function - TimeWindow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-schedule-001",
              "leftValue": "={{ $json.dentroHorario }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - WithinSchedule?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -128
      ],
      "id": "bb4bbcd9-fdf3-470e-bd02-d70e55d1981a"
    },
    {
      "parameters": {
        "url": "={{ $('CONFIG').first().json.CFG_DATA_URL }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "HTTP Request - Get events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -144
      ],
      "id": "a5f51938-e34e-4dfe-b43f-e1978d1f83ad"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar eventos desde la API\n// Ampliar currencyMap para soportar múltiples regiones\nconst raw = items[0].json;\nconst events = raw.events || [];\n\nconst currencyMap = {\n  // South America\n  'Peru': 'PEN', 'Brazil': 'BRL', 'Argentina': 'ARS',\n  'Chile': 'CLP', 'Colombia': 'COP', 'Uruguay': 'UYU',\n  'South America': 'PEN',\n  // Europe\n  'England': 'GBP', 'Spain': 'EUR', 'Germany': 'EUR',\n  'Italy': 'EUR', 'France': 'EUR', 'Netherlands': 'EUR',\n  'Portugal': 'EUR', 'Europe': 'EUR',\n  // North America\n  'United States': 'USD', 'Mexico': 'MXN', 'Canada': 'CAD',\n  'North America': 'USD',\n  // Asia\n  'Japan': 'JPY', 'China': 'CNY', 'South Korea': 'KRW',\n  // Default\n  'default': 'USD'\n};\n\nconst normalized = events.flatMap(e => {\n  const match = `${e.homeTeam} vs ${e.awayTeam}`;\n  const timestamp = e.timestamp;\n  const bookmakers = e.canonical?.bookmakers || {};\n\n  return Object.keys(bookmakers).flatMap(bk => {\n    const odds = bookmakers[bk].odds || {};\n    const oneXtwo = odds['1X2'] || odds['1x2'] || null;\n    if (!oneXtwo) return [];\n\n    const currency = bookmakers[bk].currency\n      || currencyMap[e.country]\n      || currencyMap['default'];\n\n    return [{\n      match,\n      timestamp,\n      league: e.league || null,\n      country: e.country || null,\n      region: e.region || null,\n      bookmaker: bk,\n      market: '1X2',\n      odds: { home: oneXtwo[0], draw: oneXtwo[1], away: oneXtwo[2] },\n      url: bookmakers[bk].url || null,\n      currency\n    }];\n  });\n});\n\nreturn normalized.map(r => ({ json: r }));"
      },
      "name": "Function - Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        96
      ],
      "id": "e5d6239a-a5f2-44d7-9ab0-0a8a724aea15"
    },
    {
      "parameters": {
        "jsCode": "const arr = items.map(i => i.json);\nconst grouped = {};\narr.forEach(r => {\n  if (!grouped[r.match]) grouped[r.match] = [];\n  grouped[r.match].push(r);\n});\nreturn Object.keys(grouped).map(m => ({\n  json: {\n    match: m,\n    offers: grouped[m],\n    // Preservar metadata del primer item del grupo\n    league: grouped[m][0]?.league || null,\n    country: grouped[m][0]?.country || null,\n    region: grouped[m][0]?.region || null,\n    timestamp: grouped[m][0]?.timestamp || null\n  }\n}));"
      },
      "name": "Function - GroupByMatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        96
      ],
      "id": "b7e90e4c-21da-40ca-89e5-6635856a85ed"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { match, offers, league, country, region, timestamp } = item.json || {};\n  const best = { home: null, draw: null, away: null };\n\n  (offers || []).forEach(o => {\n    const { bookmaker, odds, currency, url } = o;\n    if (!best.home || odds.home > best.home.odds)\n      best.home = { bookmaker, odds: odds.home, currency, url };\n    if (!best.draw || odds.draw > best.draw.odds)\n      best.draw = { bookmaker, odds: odds.draw, currency, url };\n    if (!best.away || odds.away > best.away.odds)\n      best.away = { bookmaker, odds: odds.away, currency, url };\n  });\n\n  return { json: { match, best, league, country, region, timestamp } };\n});"
      },
      "name": "Function - BestOddsPerOutcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        96
      ],
      "id": "43aa663f-92c3-4476-84ab-9f34dc71ba06"
    },
    {
      "parameters": {
        "jsCode": "// SurebetCalc robusto con capital configurable via variable de entorno\nconst parseOdd = (v) => {\n  if (v === null || v === undefined) return NaN;\n  if (typeof v === 'number') return v;\n  let s = String(v).trim();\n  s = s.replace(',', '.');\n\n  // Fraccional '3/2' -> decimal\n  if (/^\\d+\\/\\d+$/.test(s)) {\n    const [a, b] = s.split('/').map(Number);\n    if (b === 0) return NaN;\n    return 1 + (a / b);\n  }\n  // Americana '+150' / '-200'\n  if (/^[+-]\\d+$/.test(s)) {\n    const n = Number(s);\n    if (n > 0) return 1 + (n / 100);\n    if (n < 0) return 1 + (100 / Math.abs(n));\n  }\n  // Porcentaje '45%' -> odds\n  if (s.endsWith('%')) {\n    const p = parseFloat(s.slice(0, -1));\n    if (!isFinite(p) || p <= 0) return NaN;\n    return 100 / p;\n  }\n  const num = Number(s);\n  if (isFinite(num)) {\n    if (num > 0 && num < 1) return 1 / num;\n    return num;\n  }\n  return NaN;\n};\n\nconst round = (n, d = 3) => Math.round(n * Math.pow(10, d)) / Math.pow(10, d);\n\n// CAPITAL configurable: primero busca variable de entorno n8n, luego fallback a 100\nconst CAPITAL_TOTAL = Number($('CONFIG').first().json.CFG_CAPITAL ?? 100);\n\nreturn items.map(item => {\n  const { match, best, league, country, region, timestamp } = item.json || {};\n\n  if (!best) {\n    return { json: { match, error: 'best missing', raw: item.json } };\n  }\n\n  const cuotaHome = parseOdd(best?.home?.odds ?? null);\n  const cuotaDraw = parseOdd(best?.draw?.odds ?? null);\n  const cuotaAway = parseOdd(best?.away?.odds ?? null);\n\n  const invalid = [cuotaHome, cuotaDraw, cuotaAway].some(v => !isFinite(v) || v <= 0);\n  if (invalid) {\n    return {\n      json: {\n        match, best, league, country, region, timestamp,\n        cuotaHome, cuotaDraw, cuotaAway,\n        margen: null, surebet: false,\n        beneficioPct: 0, stakes: null,\n        capitalTotal: CAPITAL_TOTAL,\n        debug: 'Cuotas inválidas o no convertibles'\n      }\n    };\n  }\n\n  const invHome = 1 / cuotaHome;\n  const invDraw = 1 / cuotaDraw;\n  const invAway = 1 / cuotaAway;\n  const margen = invHome + invDraw + invAway;\n  const surebet = margen < 1;\n  const beneficioPct = surebet ? (1 - margen) * 100 : 0;\n\n  const denom = invHome + invDraw + invAway;\n  const stakeHome = (CAPITAL_TOTAL * invHome) / denom;\n  const stakeDraw = (CAPITAL_TOTAL * invDraw) / denom;\n  const stakeAway = (CAPITAL_TOTAL * invAway) / denom;\n\n  return {\n    json: {\n      match, best, league, country, region, timestamp,\n      cuotaHome: round(cuotaHome, 3),\n      cuotaDraw: round(cuotaDraw, 3),\n      cuotaAway: round(cuotaAway, 3),\n      margen: round(margen, 6),\n      surebet,\n      beneficioPct: round(beneficioPct, 3),\n      stakes: {\n        home: round(stakeHome, 2),\n        draw: round(stakeDraw, 2),\n        away: round(stakeAway, 2)\n      },\n      capitalTotal: CAPITAL_TOTAL,\n      currencies: {\n        home: best.home?.currency || 'USD',\n        draw: best.draw?.currency || 'USD',\n        away: best.away?.currency || 'USD'\n      }\n    }\n  };\n});"
      },
      "name": "Function - SurebetCalc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        96
      ],
      "id": "467e4058-6766-40bf-9a55-032994b0dc82"
    },
    {
      "parameters": {
        "jsCode": "// Hash robusto con crypto nativo de Node.js\nconst crypto = require('crypto');\n\nreturn items.map(item => {\n  const { match, best } = item.json;\n  const raw = `${match}-${best?.home?.odds}-${best?.draw?.odds}-${best?.away?.odds}`;\n  const hash = crypto.createHash('md5').update(raw).digest('hex');\n  return { json: { ...item.json, hash } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        96
      ],
      "id": "8f52a901-2fbf-44a1-b119-2af279f00e7f",
      "name": "Generate Hash"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        288
      ],
      "id": "dacc85ef-d412-4d96-8bea-163b203fba3d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 987151,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8639447,
                "value": "={{$json['match']}}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -112,
        304
      ],
      "id": "c26a944d-4d2a-405a-b637-d9788ec1e377",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AttachLastHash: fusiona datos de Baserow con el item del Loop\n// Detecta si Baserow devolvió una fila existente o está vacío\nreturn items.map(it => {\n  const out = { ...it.json };\n\n  const norm = v => {\n    if (v === null || v === undefined) return null;\n    const s = String(v).trim();\n    return (s === '' || s.toLowerCase() === 'null') ? null : s.toLowerCase();\n  };\n\n  // El item del Loop tiene el hash calculado\n  // El item de Baserow (si existe) tiene 'id' y los campos de la tabla\n  const loopItem = $('Loop Over Items').item.json;\n\n  // Recuperar hash calculado desde el Loop\n  out.hash = norm(loopItem.hash) || null;\n\n  // Detectar si Baserow devolvió una fila real\n  // Una fila de Baserow siempre tiene campo 'id' (número entero)\n  const baserowId = out.id ?? null;\n  out.baserowRowExists = (baserowId !== null && baserowId !== undefined && baserowId !== '');\n  out.baserowRowId = out.baserowRowExists ? baserowId : null;\n\n  // Hash guardado en Baserow (campo que hayas definido)\n  const possibleHashKeys = ['Hash', 'hash', 'lastHash', 'last_hash'];\n  let savedHash = null;\n  for (const k of possibleHashKeys) {\n    if (out[k] !== undefined && out[k] !== null && out[k] !== '') {\n      savedHash = norm(out[k]);\n      break;\n    }\n  }\n  out.lastHash = savedHash;\n\n  // beneficioPct desde Loop (ya calculado en SurebetCalc)\n  out.beneficioPct = loopItem.beneficioPct ?? 0;\n\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        304
      ],
      "id": "55758b7d-7f41-499f-acf4-6785c5c703d8",
      "name": "Function - AttachLastHash"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-hash-newrow",
              "leftValue": "={{ !$json.baserowRowExists || ($json.hash !== $json.lastHash) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF Compare Hash",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        304
      ],
      "id": "c61d792a-e0d4-49fa-81f9-b7d4ec98ef3d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-rowexists-001",
              "leftValue": "={{ $json.baserowRowExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - RowExists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        288
      ],
      "id": "8e21ae3a-aa45-4023-9c4a-8cc02e41e4ea"
    },
    {
      "parameters": {
        "jsCode": "// PayloadString — serializa datos del partido para el LLM\n// Los datos del partido vienen del Loop Over Items (no de Baserow)\nconst src = $('Loop Over Items').item.json;\n\nconst match          = src.match          || '';\nconst league         = src.league         || '';\nconst country        = src.country        || '';\nconst timestamp      = src.timestamp      || null;\nconst horasRestantes = src.horasRestantes ?? null;\nconst margen         = src.margen         ?? null;\nconst beneficioPct   = src.beneficioPct   ?? 0;\nconst surebet        = src.surebet        ?? false;\nconst best           = src.best           || {};\n\n// Contar casas distintas\nconst casas = new Set([\n  best?.home?.bookmaker,\n  best?.draw?.bookmaker,\n  best?.away?.bookmaker\n].filter(Boolean));\n\nconst normalized = {\n  match, league, country, timestamp, horasRestantes,\n  margen, beneficioPct, surebet,\n  casasDistintas: casas.size,\n  best: {\n    home: { odds: best?.home?.odds ?? null, bookmaker: best?.home?.bookmaker ?? null },\n    draw: { odds: best?.draw?.odds ?? null, bookmaker: best?.draw?.bookmaker ?? null },\n    away: { odds: best?.away?.odds ?? null, bookmaker: best?.away?.bookmaker ?? null }\n  }\n};\n\nconst hasOdds = normalized.best.home.odds\n  && normalized.best.draw.odds\n  && normalized.best.away.odds;\n\nreturn [{\n  json: {\n    // Datos completos del partido para nodos posteriores\n    ...src,\n    normalized,\n    payloadString: JSON.stringify(normalized),\n    skipLLM: !hasOdds\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        528
      ],
      "id": "460dafd6-26b7-490c-a78d-7a7d995516dc",
      "name": "Function - PayloadString"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Clasifica esta oportunidad:\n\n{{ $json.payloadString }}\n\nDevuelve SOLO el JSON. Sin explicaciones. Sin markdown.",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un analista de arbitraje deportivo. Tu única tarea es clasificar oportunidades de apuesta basándote EXCLUSIVAMENTE en los datos matemáticos que recibes (margen, beneficioPct, cuotas). NO estimas probabilidades. NO usas conocimiento externo sobre equipos o ligas.\n\nDevuelve SIEMPRE un objeto JSON puro, sin markdown, sin backticks, con exactamente esta estructura:\n\n{\n  \"tipo\": \"surebet | valuebet | ninguno\",\n  \"riesgo\": \"alto | medio | bajo\",\n  \"confianza\": 85,\n  \"comentario\": \"texto breve en español, máximo 100 caracteres\"\n}\n\nReglas de clasificación:\n- tipo='surebet': cuando margen < 1 (beneficioPct > 0). Ganancia matemáticamente garantizada.\n- tipo='valuebet': cuando margen >= 1 pero alguna cuota parece subvalorada por el mercado (ej: cuota muy superior al promedio histórico de esa posición).\n- tipo='ninguno': sin oportunidad clara.\n\nReglas de riesgo (basado en beneficioPct):\n- bajo: beneficioPct > 2.0% — margen amplio, estable\n- medio: beneficioPct entre 0.5% y 2.0% — margen ajustado\n- alto: beneficioPct < 0.5% o cuotas de una sola casa dominan\n\nReglas de confianza (0-100):\n- 80-100: surebet con beneficioPct > 1.5%, mínimo 2 casas distintas\n- 60-79: surebet con beneficioPct 0.5-1.5%\n- 40-59: valuebet o surebet marginal\n- 0-39: datos insuficientes o inconsistentes\n\nEl comentario debe ser útil para decidir si ejecutar la apuesta. Ejemplo: 'Surebet sólida, 3 casas distintas, cuotas estables 6h'\n\nSi faltan datos: tipo:'ninguno', riesgo:'alto', confianza:0, comentario:'datos insuficientes'.\nNUNCA incluyas texto fuera del JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -240,
        528
      ],
      "id": "f1501610-15b0-448d-bfa0-2d3e0adcbdf1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        704
      ],
      "id": "0b8f8e03-0210-484e-b321-f3e34df0fd91",
      "name": "openai/gpt-4o-mini",
      "credentials": {
        "openRouterApi": {
          "id": "aq9Mu0k1n9JBuo3F",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ParseLLM & Merge\n// LLM Chain devuelve solo { text: '...' }\n// Datos del partido se recuperan desde Loop Over Items (fuente confiable)\nreturn items.map(item => {\n\n  // ── 1. Parsear respuesta LLM ──────────────────────────────\n  const rawText = item.json?.text || '';\n  let parsed = null;\n\n  if (rawText) {\n    let clean = rawText.trim()\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n    try {\n      parsed = JSON.parse(clean);\n    } catch (e) {\n      try {\n        const m = clean.match(/\\{[\\s\\S]*\\}/);\n        parsed = m ? JSON.parse(m[0]) : null;\n      } catch (e2) { parsed = null; }\n    }\n  }\n\n  const llm = {\n    tipo:       parsed?.tipo       || 'ninguno',\n    riesgo:     parsed?.riesgo     || 'alto',\n    confianza:  Number(parsed?.confianza ?? 0),\n    comentario: parsed?.comentario || 'Sin análisis'\n  };\n\n  // ── 2. Datos del partido desde Loop Over Items ─────────────\n  const src = $('Loop Over Items').item.json;\n\n  return {\n    json: {\n      match:          src.match          ?? null,\n      best:           src.best           ?? null,\n      league:         src.league         ?? null,\n      country:        src.country        ?? null,\n      region:         src.region         ?? null,\n      horasRestantes: src.horasRestantes ?? null,\n      surebet:        src.surebet        ?? false,\n      beneficioPct:   src.beneficioPct   ?? 0,\n      margen:         src.margen         ?? null,\n      stakes:         src.stakes         ?? null,\n      capitalTotal:   src.capitalTotal   ?? 100,\n      currencies:     src.currencies     ?? { home: 'PEN', draw: 'PEN', away: 'PEN' },\n      tipo:       llm.tipo,\n      riesgo:     llm.riesgo,\n      confianza:  llm.confianza,\n      comentario: llm.comentario\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        528
      ],
      "id": "d559f56a-541d-4538-92ca-667ebadd303e",
      "name": "Code - ParseLLM & Merge"
    },
    {
      "parameters": {
        "jsCode": "// ValueCalc — Opción A\n// Probabilidades implícitas derivadas matemáticamente de las cuotas\n// NO se usan probabilidades del LLM\nconst threshold = Number($('CONFIG').first().json.CFG_VALUE_THRESHOLD ?? 1.05);\n\nreturn items.map(item => {\n  const { match, best, stakes, beneficioPct, capitalTotal, currencies, surebet,\n          tipo, riesgo, confianza, comentario, league, country, region,\n          horasRestantes, margen } = item.json;\n\n  // Probabilidades implícitas normalizadas (eliminan el margen de la casa)\n  const oHome = best?.home?.odds || 0;\n  const oDraw = best?.draw?.odds || 0;\n  const oAway = best?.away?.odds || 0;\n\n  const invSum = (oHome > 0 ? 1/oHome : 0)\n               + (oDraw > 0 ? 1/oDraw : 0)\n               + (oAway > 0 ? 1/oAway : 0);\n\n  const prob = invSum > 0 ? {\n    local:     (1/oHome) / invSum,\n    empate:    (1/oDraw) / invSum,\n    visitante: (1/oAway) / invSum\n  } : { local: 0.33, empate: 0.33, visitante: 0.34 };\n\n  // Valor esperado por resultado\n  const valHome = prob.local     * oHome;\n  const valDraw = prob.empate    * oDraw;\n  const valAway = prob.visitante * oAway;\n\n  const valueBets = [];\n  if (valHome > threshold) valueBets.push({\n    outcome: 'home', label: 'Local',\n    valor: valHome,\n    roi: ((valHome - 1) * 100).toFixed(2),\n    bookmaker: best?.home?.bookmaker,\n    cuota: best?.home?.odds\n  });\n  if (valDraw > threshold) valueBets.push({\n    outcome: 'draw', label: 'Empate',\n    valor: valDraw,\n    roi: ((valDraw - 1) * 100).toFixed(2),\n    bookmaker: best?.draw?.bookmaker,\n    cuota: best?.draw?.odds\n  });\n  if (valAway > threshold) valueBets.push({\n    outcome: 'away', label: 'Visitante',\n    valor: valAway,\n    roi: ((valAway - 1) * 100).toFixed(2),\n    bookmaker: best?.away?.bookmaker,\n    cuota: best?.away?.odds\n  });\n\n  return {\n    json: {\n      match, best, league, country, region, horasRestantes, margen,\n      prob, valueBets, surebet,\n      tipo, riesgo, confianza, comentario,\n      stakes, capitalTotal, currencies,\n      beneficioPct,\n      roiPct: valueBets.map(v => v.roi)\n    }\n  };\n});"
      },
      "name": "Function - ValueCalc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        528
      ],
      "id": "44338338-8dd3-4dd4-9f7c-ae7eba444d65"
    },
    {
      "parameters": {
        "jsCode": "// Formatear todos los campos para presentación\nreturn items.map(item => {\n  const out = { ...item.json };\n\n  // Beneficio formateado\n  out.beneficioPctFmt = out.beneficioPct !== undefined\n    ? `${Number(out.beneficioPct).toFixed(2)}%`\n    : '0.00%';\n\n  // Stakes formateados con moneda correcta\n  if (out.stakes && out.currencies) {\n    out.stakesRounded = {\n      home: Number(out.stakes.home).toFixed(2),\n      draw: Number(out.stakes.draw).toFixed(2),\n      away: Number(out.stakes.away).toFixed(2)\n    };\n  } else {\n    out.stakesRounded = { home: '0.00', draw: '0.00', away: '0.00' };\n  }\n\n  // Cuotas formateadas\n  if (out.best) {\n    out.bestFmt = {\n      home: `${out.best.home?.odds ?? '-'} (${out.best.home?.bookmaker ?? '-'})`,\n      draw: `${out.best.draw?.odds ?? '-'} (${out.best.draw?.bookmaker ?? '-'})`,\n      away: `${out.best.away?.odds ?? '-'} (${out.best.away?.bookmaker ?? '-'})`\n    };\n  }\n\n  // Etiqueta de tipo para el mensaje\n  const tipoLabel = out.tipo === 'surebet' ? '🔒 Surebet'\n    : out.tipo === 'valuebet' ? '📈 Value Bet'\n    : '⚪ Sin oportunidad';\n  out.tipoLabel = tipoLabel;\n\n  // Liga y país formateados\n  out.ligaFmt = [out.league, out.country].filter(Boolean).join(' · ') || 'Liga desconocida';\n\n  // Value bets summary\n  out.valueBetsFmt = (out.valueBets || []).length > 0\n    ? out.valueBets.map(v => `${v.label}: cuota ${v.cuota} en ${v.bookmaker} (ROI +${v.roi}%)`).join('\\n')\n    : null;\n\n  return { json: out };\n});"
      },
      "name": "Function - RoundingAndCurrency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        528
      ],
      "id": "33d5b68a-73f5-4df1-b25e-aa66294b52e8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-alert-bp",
              "leftValue": "={{ $json.beneficioPct }}",
              "rightValue": "={{ $('CONFIG').first().json.CFG_MIN_BENEFICIO_PCT ?? 0.5 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "cond-alert-tipo",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "ninguno",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-alert-riesgo",
              "leftValue": "={{ $json.riesgo }}",
              "rightValue": "alto",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-alert-confianza",
              "leftValue": "={{ $json.confianza }}",
              "rightValue": "={{ $('CONFIG').first().json.CFG_MIN_CONFIANZA ?? 50 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        528
      ],
      "id": "8b64601c-ac29-40cf-bed8-36caac850ff0"
    },
    {
      "parameters": {
        "chatId": "={{ $('CONFIG').first().json.CFG_TELEGRAM_CHAT_ID }}",
        "text": "={{ \n  '🎯 ' + $json.tipoLabel + '\\n' +\n  '📋 ' + ($json.ligaFmt || 'Liga desconocida') + '\\n' +\n  '⏱ Faltan: ' + ($json.horasRestantes != null ? $json.horasRestantes + 'h' : 'N/A') + '\\n\\n' +\n  '⚽ Partido: ' + $json.match + '\\n' +\n  '💹 Beneficio: ' + $json.beneficioPctFmt + '\\n' +\n  '🤖 Confianza IA: ' + $json.confianza + '/100\\n' +\n  '💬 ' + ($json.comentario || '') + '\\n\\n' +\n  '📌 Mejores cuotas:\\n' +\n  '  Local: ' + ($json.best?.home?.odds || '-') + ' → ' + ($json.best?.home?.bookmaker || '-') + '\\n' +\n  '  Empate: ' + ($json.best?.draw?.odds || '-') + ' → ' + ($json.best?.draw?.bookmaker || '-') + '\\n' +\n  '  Visitante: ' + ($json.best?.away?.odds || '-') + ' → ' + ($json.best?.away?.bookmaker || '-') + '\\n\\n' +\n  '💰 Stakes (capital: ' + ($json.capitalTotal || 100) + ' PEN):\\n' +\n  '  Local: S/' + ($json.stakesRounded?.home || '0.00') + ' en ' + ($json.best?.home?.bookmaker || '-') + '\\n' +\n  '  Empate: S/' + ($json.stakesRounded?.draw || '0.00') + ' en ' + ($json.best?.draw?.bookmaker || '-') + '\\n' +\n  '  Visitante: S/' + ($json.stakesRounded?.away || '0.00') + ' en ' + ($json.best?.away?.bookmaker || '-') + '\\n' +\n  ($json.valueBetsFmt ? ('\\n📈 Value Bets:\\n' + $json.valueBetsFmt + '\\n') : '') +\n  '\\n✅ Beneficio esperado: ~' + $json.beneficioPctFmt\n}}",
        "additionalFields": {}
      },
      "name": "Telegram - Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1056,
        656
      ],
      "id": "19889eb4-2634-497c-8b83-a7a7ac33cd8f",
      "webhookId": "2b8ac5eb-76d0-49fc-9974-52022209ced6",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 987151,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8639447,
                "value": "={{ $json.match }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        1312,
        656
      ],
      "id": "e3bf9826-d39b-4c6c-8143-c183acbb0277",
      "name": "Get many rows - By Match",
      "alwaysOutputData": true,
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "operation": "update",
        "tableId": 987151,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8639449,
              "fieldValue": "true"
            },
            {
              "fieldId": 8671391,
              "fieldValue": "={{ $('Function - RoundingAndCurrency').item.json.tipo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        1536,
        656
      ],
      "id": "0dc1e23a-4962-41f5-b7f7-8a896cfb696f",
      "name": "Update a row - AlertSent",
      "rowId": null,
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "operation": "create",
        "tableId": 987151,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8639447,
              "fieldValue": "={{ $('Loop Over Items').item.json.match }}"
            },
            {
              "fieldId": 8639448,
              "fieldValue": "={{ $('Loop Over Items').item.json.hash }}"
            },
            {
              "fieldId": 8639449,
              "fieldValue": "false"
            },
            {
              "fieldId": 8639450,
              "fieldValue": "={{ $('Loop Over Items').item.json.beneficioPct }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        1056,
        432
      ],
      "id": "366f7c7a-b151-4cdb-9d76-093776212000",
      "name": "Create a row",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "operation": "update",
        "tableId": 987151,
        "rowId": "={{ $json.baserowRowId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8639448,
              "fieldValue": "={{ $('Loop Over Items').item.json.hash }}"
            },
            {
              "fieldId": 8639450,
              "fieldValue": "={{ $json.beneficioPct }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        1056,
        272
      ],
      "id": "23b372d6-0048-433b-9491-1bacc681df58",
      "name": "Update a row",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-001",
              "name": "CFG_DATA_URL",
              "value": "https://TU-URL-ESTABLE.com/data/data.json",
              "type": "string"
            },
            {
              "id": "cfg-002",
              "name": "CFG_CAPITAL",
              "value": 100,
              "type": "number"
            },
            {
              "id": "cfg-003",
              "name": "CFG_VALUE_THRESHOLD",
              "value": 1.05,
              "type": "number"
            },
            {
              "id": "cfg-004",
              "name": "CFG_MIN_CONFIANZA",
              "value": 50,
              "type": "number"
            },
            {
              "id": "cfg-005",
              "name": "CFG_MIN_BENEFICIO_PCT",
              "value": 0.5,
              "type": "number"
            },
            {
              "id": "cfg-006",
              "name": "CFG_TELEGRAM_CHAT_ID",
              "value": "1704819492",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "CFG_HORA_INICIO",
              "value": 8,
              "type": "number"
            },
            {
              "id": "cfg-008",
              "name": "CFG_HORA_FIN",
              "value": 23,
              "type": "number"
            },
            {
              "id": "cfg-009",
              "name": "CFG_MAX_HORAS_AL_PARTIDO",
              "value": 48,
              "type": "number"
            },
            {
              "id": "cfg-010",
              "name": "CFG_LEAGUES",
              "value": "[\"Premier League\", \"La Liga\", \"Bundesliga\", \"Serie A\", \"Ligue 1\", \"Copa Libertadores\", \"Copa Sudamericana\", \"Mundial\", \"Champions League\", \"Europa League\"]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -128
      ],
      "id": "b0f6f1c3-33f8-4734-9355-71331d6b1e34"
    },
    {
      "parameters": {
        "jsCode": "// Filtrar partidos por ventana de tiempo\n// timestamp en el scraper = Unix seconds (entero)\nconst cfg = $('CONFIG').first().json;\nconst maxHoras = cfg.CFG_MAX_HORAS_AL_PARTIDO ?? 48;\n\nreturn items.filter(item => {\n  const ts = item.json.timestamp;\n  if (ts === null || ts === undefined) return true;\n\n  // Unix timestamp en segundos → multiplicar por 1000 para ms\n  const matchTime = Number(ts) * 1000;\n  const now = Date.now();\n\n  // Descartar partidos ya iniciados\n  if (matchTime <= now) return false;\n\n  const horasRestantes = (matchTime - now) / (1000 * 60 * 60);\n  return horasRestantes <= maxHoras;\n}).map(item => ({\n  json: {\n    ...item.json,\n    horasRestantes: parseFloat(\n      ((Number(item.json.timestamp) * 1000 - Date.now()) / (1000 * 60 * 60)).toFixed(1)\n    )\n  }\n}));"
      },
      "name": "Filter - TimeToMatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        96
      ],
      "id": "8c58c78e-e221-4b98-aa50-d674ceb7ec33"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "name": "Schedule - Ranking 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -304
      ],
      "id": "c4461b7c-dae2-4e77-9115-cb0901d8f868"
    },
    {
      "parameters": {
        "url": "={{ $('CONFIG').first().json.CFG_DATA_URL }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "HTTP - Get events for Ranking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -304
      ],
      "id": "c7814be0-b604-4222-b37b-8fee87af1158"
    },
    {
      "parameters": {
        "jsCode": "// Análisis estadístico de casas de apuestas\n// Solo analiza las ligas configuradas en CFG_LEAGUES\nconst cfg = $('CONFIG').first().json;\n\nlet allowedLeagues = [];\ntry {\n  allowedLeagues = JSON.parse(cfg.CFG_LEAGUES || '[]');\n} catch(e) {\n  allowedLeagues = (cfg.CFG_LEAGUES || '')\n    .split(',')\n    .map(l => l.trim())\n    .filter(Boolean);\n}\n\nconst normalize = str => str\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .trim();\n\nconst allowedNorm = allowedLeagues.map(normalize);\n\nconst raw = items[0].json;\nconst allEvents = raw.events || [];\n\nconst events = allowedNorm.length === 0\n  ? allEvents\n  : allEvents.filter(e => {\n      const league = normalize(e.league || e.league_raw || '');\n      return allowedNorm.some(a => league.includes(a) || a.includes(league));\n    });\n\nconst ranking = {};\nlet totalPartidos = 0;\n\nevents.forEach(e => {\n  const bookmakers = e.canonical?.bookmakers || {};\n  const bkList = Object.keys(bookmakers);\n  if (bkList.length === 0) return;\n\n  totalPartidos++;\n\n  let bestHome = { bk: null, odds: -1 };\n  let bestDraw = { bk: null, odds: -1 };\n  let bestAway = { bk: null, odds: -1 };\n\n  bkList.forEach(bk => {\n    const odds = bookmakers[bk].odds || {};\n    const ox = odds['1X2'] || odds['1x2'] || null;\n    if (!ox) return;\n\n    if (!ranking[bk]) ranking[bk] = { home: 0, draw: 0, away: 0, total: 0, partidos: 0 };\n    ranking[bk].partidos++;\n\n    if (ox[0] > bestHome.odds) bestHome = { bk, odds: ox[0] };\n    if (ox[1] > bestDraw.odds) bestDraw = { bk, odds: ox[1] };\n    if (ox[2] > bestAway.odds) bestAway = { bk, odds: ox[2] };\n  });\n\n  if (bestHome.bk) { ranking[bestHome.bk].home++; ranking[bestHome.bk].total++; }\n  if (bestDraw.bk) { ranking[bestDraw.bk].draw++; ranking[bestDraw.bk].total++; }\n  if (bestAway.bk) { ranking[bestAway.bk].away++; ranking[bestAway.bk].total++; }\n});\n\nconst sorted = Object.entries(ranking)\n  .map(([bk, s]) => ({\n    bookmaker: bk,\n    total: s.total,\n    home: s.home,\n    draw: s.draw,\n    away: s.away,\n    partidos: s.partidos,\n    pctMejorCuota: totalPartidos > 0\n      ? ((s.total / (totalPartidos * 3)) * 100).toFixed(1)\n      : '0.0'\n  }))\n  .sort((a, b) => b.total - a.total);\n\nconst top10 = sorted.slice(0, 10);\nconst fecha = new Date().toLocaleDateString('es-PE', {\n  timeZone: 'America/Lima',\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nconst ligasAnalizadas = [...new Set(events.map(e => e.league))].join(', ');\n\nlet msg = `🏆 Ranking de Casas — ${fecha}\\n`;\nmsg += `📊 ${totalPartidos} partidos | Ligas: ${ligasAnalizadas}\\n\\n`;\n\ntop10.forEach((c, i) => {\n  const medal = i === 0 ? '🥇' : i === 1 ? '🥈' : i === 2 ? '🥉' : `${i+1}.`;\n  msg += `${medal} ${c.bookmaker} — mejor cuota ${c.pctMejorCuota}% del tiempo\\n`;\n  msg += `   🏠${c.home} 🤝${c.draw} ✈️${c.away}\\n`;\n});\n\nmsg += `\\n💡 Abrir cuenta primero en:\\n`;\nmsg += top10.slice(0, 3).map((c, i) => `  ${i+1}. ${c.bookmaker}`).join('\\n');\n\nreturn [{ json: { rankingMsg: msg, ranking: sorted, totalPartidos, ligasAnalizadas } }];"
      },
      "name": "Code - BookmakerRanking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -304
      ],
      "id": "231f44a9-13b1-410b-8565-5862499ca14b"
    },
    {
      "parameters": {
        "chatId": "={{ $('CONFIG').first().json.CFG_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.rankingMsg }}",
        "additionalFields": {}
      },
      "name": "Telegram - Send Ranking",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        -304
      ],
      "id": "13e4f55d-41e1-4ca4-9988-a39710298696",
      "webhookId": "1f265a43-292b-40db-9ae0-f81b76c5c211",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtrar eventos por liga configurable\n// CFG_LEAGUES es un string JSON con array de ligas permitidas\nconst cfg = $('CONFIG').first().json;\n\nlet allowedLeagues = [];\ntry {\n  allowedLeagues = JSON.parse(cfg.CFG_LEAGUES || '[]');\n} catch(e) {\n  // Si no es JSON válido, intentar como lista separada por comas\n  allowedLeagues = (cfg.CFG_LEAGUES || '')\n    .split(',')\n    .map(l => l.trim())\n    .filter(Boolean);\n}\n\n// Si la lista está vacía, dejar pasar todo (sin filtro)\nif (allowedLeagues.length === 0) {\n  return items;\n}\n\n// Normalizar para comparación case-insensitive y sin acentos\nconst normalize = str => str\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .trim();\n\nconst allowedNorm = allowedLeagues.map(normalize);\n\nconst raw = items[0].json;\nconst events = raw.events || [];\n\nconst filtered = events.filter(e => {\n  const league = e.league || e.league_raw || '';\n  const leagueNorm = normalize(league);\n\n  // Coincidencia exacta o parcial (ej: 'Copa Lib' matchea 'Copa Libertadores')\n  return allowedNorm.some(allowed =>\n    leagueNorm.includes(allowed) || allowed.includes(leagueNorm)\n  );\n});\n\n// Log para debug en n8n\nconst skipped = events.length - filtered.length;\nconsole.log(`Filter - ByLeague: ${filtered.length} eventos OK, ${skipped} descartados`);\nconsole.log('Ligas permitidas:', allowedLeagues);\nconsole.log('Ligas encontradas:', [...new Set(events.map(e => e.league))]);\n\nif (filtered.length === 0) {\n  // Retornar item vacío para no romper el flujo\n  return [{ json: { events: [], _filteredCount: 0, _totalCount: events.length } }];\n}\n\nreturn [{ json: { ...raw, events: filtered, _filteredCount: filtered.length, _totalCount: events.length } }];"
      },
      "name": "Filter - ByLeague",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "3c030a6e-e8fa-4ee9-8537-3aad406e13e1"
    },
    {
      "parameters": {
        "jsCode": "// ValidateLLM — detecta contradicciones entre análisis LLM y matemática\nreturn items.map(item => {\n  const d = item.json;\n  const errors = [];\n  const warnings = [];\n\n  const margen       = d.margen       ?? null;\n  const beneficioPct = d.beneficioPct ?? 0;\n  const tipo         = d.tipo         || 'ninguno';\n  const riesgo       = d.riesgo       || 'alto';\n  const confianza    = d.confianza    ?? 0;\n  const best         = d.best         || {};\n\n  // ── Errores matemáticos graves ───────────────────────────\n\n  // 1. LLM dice surebet pero margen >= 1\n  if (tipo === 'surebet' && margen !== null && margen >= 1) {\n    errors.push(`MATH_ERROR: tipo='surebet' pero margen=${margen.toFixed(4)} (debe ser < 1)`);\n  }\n\n  // 2. LLM dice ninguno pero margen < 1 (hay surebet real que el LLM ignoró)\n  if (tipo === 'ninguno' && margen !== null && margen < 1) {\n    errors.push(`MISSED_SUREBET: margen=${margen.toFixed(4)} < 1 pero LLM clasificó como 'ninguno'`);\n  }\n\n  // 3. Confianza 0 con datos completos (LLM usó el fallback mal)\n  const hasOdds = best?.home?.odds && best?.draw?.odds && best?.away?.odds;\n  if (confianza === 0 && hasOdds) {\n    errors.push(`FALLBACK_ERROR: confianza=0 pero datos completos (match='${d.match}')`);\n  }\n\n  // 4. LLM dice riesgo='bajo' pero beneficioPct < 0.5\n  if (riesgo === 'bajo' && beneficioPct < 0.5) {\n    errors.push(`RISK_ERROR: riesgo='bajo' pero beneficioPct=${beneficioPct.toFixed(3)}% (debe ser > 2%)`);\n  }\n\n  // 5. LLM dice riesgo='bajo' pero tipo='ninguno'\n  if (riesgo === 'bajo' && tipo === 'ninguno') {\n    errors.push(`RISK_ERROR: riesgo='bajo' con tipo='ninguno' — imposible`);\n  }\n\n  // ── Warnings — inconsistencias menores ───────────────────\n\n  // 6. Surebet con confianza < 40 (debería ser al menos 40)\n  if (tipo === 'surebet' && confianza < 40) {\n    warnings.push(`LOW_CONFIDENCE: surebet real pero confianza=${confianza}`);\n  }\n\n  // 7. Confianza > 80 con tipo='ninguno'\n  if (tipo === 'ninguno' && confianza > 80) {\n    warnings.push(`HIGH_CONFIDENCE_NINGUNO: confianza=${confianza} con tipo='ninguno'`);\n  }\n\n  // 8. beneficioPct > 0 pero tipo != 'surebet'\n  if (beneficioPct > 0 && tipo !== 'surebet') {\n    warnings.push(`TYPE_MISMATCH: beneficioPct=${beneficioPct.toFixed(3)}% > 0 pero tipo='${tipo}'`);\n  }\n\n  // ── Resultado ─────────────────────────────────────────────\n  const llmValid  = errors.length === 0;\n  const llmScore  = llmValid ? (warnings.length === 0 ? 'OK' : 'WARNING') : 'ERROR';\n\n  // Si hay error grave: corregir tipo y confianza automáticamente\n  let tipoFinal      = tipo;\n  let confianzaFinal = confianza;\n  let comentarioFinal = d.comentario || '';\n\n  if (!llmValid) {\n    // Corrección automática basada en matemática\n    if (margen !== null && margen < 1) {\n      tipoFinal      = 'surebet';\n      confianzaFinal = beneficioPct > 1.5 ? 85 : beneficioPct > 0.5 ? 65 : 45;\n      comentarioFinal = `[Auto-corregido] Surebet real: margen=${margen.toFixed(4)}, beneficio=${beneficioPct.toFixed(2)}%`;\n    } else if (confianza === 0 && hasOdds) {\n      // Fallback mal usado — asignar confianza mínima\n      confianzaFinal = 10;\n      comentarioFinal = `[Auto-corregido] Datos completos, sin oportunidad clara`;\n    }\n  }\n\n  return {\n    json: {\n      ...d,\n      // Valores corregidos\n      tipo:       tipoFinal,\n      confianza:  confianzaFinal,\n      comentario: comentarioFinal,\n      // Metadata de validación\n      llmValid,\n      llmScore,\n      llmErrors:   errors,\n      llmWarnings: warnings\n    }\n  };\n});"
      },
      "name": "Code - ValidateLLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        528
      ],
      "id": "b8f2491f-6b1d-404f-a246-9c1c98cdfec3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-21T18:07:54.879Z",
      "createdAt": "2026-05-21T18:07:54.879Z",
      "role": "workflow:owner",
      "workflowId": "ECcE1aUJqB2En9Rj",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-22T17:14:22.396Z",
  "versionId": "48697286-15b5-435e-a3ee-19208716da30"
}