WorkflowsAuto.Test.json
{
  "active": true,
  "connections": {
    "ObtenerSlides": {
      "main": [
        [
          {
            "node": "BorrarSlide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CopiarPlantilla",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook.CodigoAlfa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook.Smartweb",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook.Optimiza",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram.Optimiza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReemplazarTexto": {
      "main": [
        [
          {
            "node": "ObtenerSlides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CopiarPlantilla": {
      "main": [
        [
          {
            "node": "ReemplazarTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-25T16:10:13.322Z",
  "id": "OcUacIKzdZ8BOrG8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto.Test",
  "nodes": [
    {
      "parameters": {
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $json.presentationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -32
      ],
      "id": "1c5471c9-f9e8-4f71-8ac8-caca0cabe742",
      "name": "ObtenerSlides",
      "credentials": {
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94480326-dc38-4f80-905b-81ca0ac063b1",
              "name": "Nombre",
              "value": "=John",
              "type": "string"
            },
            {
              "id": "93df26f2-4e6e-44e5-ab98-f2a68e40cf5f",
              "name": "MensajeEspecifico",
              "value": "Que sigan los éxitos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        352
      ],
      "id": "82348df4-46ad-4023-8259-387cc0e46dfd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{$node[\"CopiarPlantilla\"].json[\"id\"]}}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"nombre\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.Nombre }}\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"mensaje\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.MensajeEspecifico }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        -32
      ],
      "id": "3a5bb75d-4a23-4520-92a1-de2edcac7d50",
      "name": "ReemplazarTexto",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "r33mZaNsUtZk4fVS",
          "name": "Slides.jomBusiness"
        },
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/1Yagt11CRvgvCTGXkhDEMwQcNcK74I-cUvo1KlYZ5oDo/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"name\": \"Presentación_{{ $json.Nombre }}\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $json.Nombre }}\",\n  \"mensaje\": \"{{ $json.MensajeEspecifico }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        -32
      ],
      "id": "3a10ced7-1b21-4ab8-862b-00d76640cfc0",
      "name": "CopiarPlantilla",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9itbsHqDyr3Vwspb",
          "name": "Sheets.jomBusiness"
        },
        "googleSlidesOAuth2Api": {
          "id": "r33mZaNsUtZk4fVS",
          "name": "Slides.jomBusiness"
        },
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('CopiarPlantilla').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -32
      ],
      "id": "364249dc-cdbf-45aa-b78d-465c53693b57",
      "name": "BorrarSlide",
      "credentials": {
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "/me?fields=id,name",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -768,
        736
      ],
      "id": "aa9db21a-9083-40e6-b724-09161ce12ab5",
      "name": "Instagram.Optimiza",
      "credentials": {
        "facebookGraphApi": {
          "id": "q07PnzaLdq09L9OE",
          "name": "Instagram.Optimiza"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "/me?fields=id,name",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -768,
        160
      ],
      "id": "6bc1f2b5-285a-4172-ba97-cfcdc2e4670f",
      "name": "Facebook.CodigoAlfa",
      "credentials": {
        "facebookGraphApi": {
          "id": "hOMT44BIxjiDsVdw",
          "name": "Facebook.CodigoAlfa"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "/me?fields=id,name",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -768,
        352
      ],
      "id": "9eb78023-6239-4405-8fac-8458d0953c9b",
      "name": "Facebook.Smartweb",
      "credentials": {
        "facebookGraphApi": {
          "id": "IdpHq8Mtl5spHnnr",
          "name": "Facebook.SmartWeb"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "/me?fields=id,name",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -768,
        544
      ],
      "id": "5e5c7cf0-d9f8-4c91-9559-1c6ce6b7ce00",
      "name": "Facebook.Optimiza",
      "credentials": {
        "facebookGraphApi": {
          "id": "ym2xOYOdM5h5E89o",
          "name": "Facebook.Optimiza"
        }
      }
    },
    {
      "parameters": {
        "content": "## Renovar Token: Facebook \n- Ingresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Copiar: Token de acceso\n- [Depurador de token de acceso\n](https://developers.facebook.com/tools/debug/accesstoken/)\n- Regresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Usar: me?fields=id,accounts\n- Copiar: access_token\n- Volver a conectar: Graph API ",
        "height": 224,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        320
      ],
      "typeVersion": 1,
      "id": "d8986fad-37c6-4633-b34e-5a01cb1b1d38",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        448
      ],
      "id": "add01914-be49-4b09-93ce-3ff720ae820b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        256
      ],
      "id": "dc0e191c-1d49-4f92-b541-abcb73b408ea",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Lima",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "iNdV46Bame2vCTJz",
    "timeSavedPerExecution": 10
  },
  "shared": [
    {
      "createdAt": "2025-09-25T16:10:13.394Z",
      "updatedAt": "2025-09-25T16:10:13.394Z",
      "role": "workflow:owner",
      "workflowId": "OcUacIKzdZ8BOrG8",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-28T23:16:55.585Z",
      "updatedAt": "2025-07-28T23:16:55.585Z",
      "id": "B0zvrFLy0yNSEhVJ",
      "name": "💡SmartWeb"
    },
    {
      "createdAt": "2025-07-28T23:13:44.849Z",
      "updatedAt": "2025-07-28T23:13:44.849Z",
      "id": "E7azoCbE6H7Fjix1",
      "name": "✨ Optimiza.ia.pro"
    },
    {
      "createdAt": "2025-07-18T02:37:28.170Z",
      "updatedAt": "2025-07-18T02:37:28.170Z",
      "id": "Za1YQUqDKWnwNOuD",
      "name": "🤖 IA al mando"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-26T20:25:24.000Z",
  "versionId": "1f443efc-be58-4ecd-85c0-ab688641f596"
}