WorkflowsRss.SmartWeb.Post.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Upload.Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear.Post": {
      "main": [
        [
          {
            "node": "Crea.Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiza.Rss": {
      "main": [
        [
          {
            "node": "Crea.Titulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea.Titulo": {
      "main": [
        [
          {
            "node": "Prompt.Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt.Imagen": {
      "main": [
        [
          {
            "node": "Replicate.google.imagen-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea.Contenido": {
      "main": [
        [
          {
            "node": "Replicate.Get.Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini.Titulo": {
      "ai_languageModel": [
        [
          {
            "node": "Crea.Titulo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini.Analiza": {
      "ai_languageModel": [
        [
          {
            "node": "Analiza.Rss",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini.Imagen": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt.Imagen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini.Contenido": {
      "ai_languageModel": [
        [
          {
            "node": "Crea.Contenido",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Replicate.google.imagen-4": {
      "main": [
        [
          {
            "node": "Wait.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate.Get.Image": {
      "main": [
        [
          {
            "node": "Post.SmartWeb",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload.Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait.5": {
      "main": [
        [
          {
            "node": "Crear.Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crea.json": {
      "ai_outputParser": [
        [
          {
            "node": "Crea.Contenido",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "IA.en.Español",
            "type": "main",
            "index": 0
          },
          {
            "node": "Es.Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marketing.4.ecommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filtro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro": {
      "main": [
        [
          {
            "node": "Mostrar.Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar.Campos": {
      "main": [
        [
          {
            "node": "Select.Rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select.Rss": {
      "main": [
        []
      ]
    },
    "IA.en.Español": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es.Wired": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Marketing.4.ecommerce": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-01T16:43:48.347Z",
  "id": "fTot4aFI5RFKATAL",
  "isArchived": false,
  "meta": null,
  "name": "Rss.SmartWeb.Post",
  "nodes": [
    {
      "parameters": {
        "content": "## Publicar en Facebook\n**Double click** to edit me. [YouTube](https://www.youtube.com/watch?v=YN0990rg-PY&ab_channel=HackeandoLaRutina)\n\nhttps://developers.facebook.com/apps/?show_reminder=true",
        "height": 140,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        336
      ],
      "id": "7f32eba0-313d-4bc5-9f66-41a4ca31a6a4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Publicar en LinkedIn\n**Double click** to edit me. [YouTube](https://www.youtube.com/watch?v=OftERwkZVgc&ab_channel=AndyCruz)\n\nhttps://www.linkedin.com/developers/apps/223733671/auth",
        "height": 140,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        512
      ],
      "id": "bde8e9be-1b2b-4358-9123-84911a25d703",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/media/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "image"
            },
            {
              "name": "media_category",
              "value": "tweet_image"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        784
      ],
      "id": "d23e7509-f75b-43bf-9fad-77a40f84dd2e",
      "name": "Upload.Image",
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Publicar en Twitter\n**Double click** to edit me. [YouTube](https://www.youtube.com/watch?v=5lYXqXvnyqM&ab_channel=SouthbayJay)\n\nAl final agregar: +media.write",
        "height": 140,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        688
      ],
      "id": "de3bc1b2-1b13-4699-a5c9-1c873f6300d6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Antes de guardar\n**Siempre debe de estar DESCONECTADO el flujo**",
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        -176
      ],
      "id": "e206d61c-8ed3-44ca-903b-7e077f11ffc5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "person": "tdFK9o1W4M",
        "text": "={{ $('Crea.Contenido').item.json.output.linkedin.content }} {{ $('Crea.Contenido').item.json.output.linkedin.hashtags }}\n\nMás información: {{ $('Select.Rss').item.json.json.link }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=image",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1792,
        640
      ],
      "id": "67a45603-fce3-45e1-8a19-53baab28dc8a",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "evRB6Q1i1PKx1lKs",
          "name": "LinkedIn.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Crea.Contenido').item.json.output.twitter.tweet }} {{ $('Crea.Contenido').item.json.output.twitter.hashtags }}",
        "additionalFields": {
          "attachments": "={{ $json.body.data.id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1792,
        784
      ],
      "id": "4717caef-d5ee-42db-8961-bd6d618b4d4d",
      "name": "Create Tweet",
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Analiza.Rss').first().json;\n\nconst post = `\n**Resumen objetivo:**  \n${data.resumen_objetivo}\n\n**Puntos clave:**\n${data.puntos_clave.map(p => `- ${p}`).join('\\n')}\n\n**Antecedentes esenciales:**  \n${data.antecedentes}\n\n**Posibles implicaciones:**  \n${data.implicaciones}\n\n**Términos técnicos clave:**\n${data.terminos_tecnicos.map(t => `- **${t.termino}**: ${t.definicion}`).join('\\n')}\n`;\n\nreturn [{ post }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        320
      ],
      "id": "acdba2e8-13cd-4c86-a592-976b550b353f",
      "name": "Crear.Post"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.json.title }}\n{{ $json.json.contentSnippet }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Analiza en profundidad el texto de la noticia proporcionada. Investiga en múltiples fuentes confiables (medios internacionales, portales especializados, datos oficiales) para validar y ampliar la información. Sintetiza un brief único integrando perspectivas relevantes, datos contrastados y contexto actualizado. \n\nIncluye: \n1) Resumen objetivo del hecho \n2) 3-5 puntos clave con datos verificables\n3) Antecedentes esenciales\n4) Posibles implicaciones\n5) Términos técnicos explicados en contexto.\n\nPrioriza información reciente y relevante para audiencias profesionales en redes sociales. Excluye comparaciones explícitas entre fuentes - integra discrepancias como \"algunos reportes indican...\" vs \"fuentes oficiales señalan...\". \n\nFormato JSON\n{\n  \"resumen_objetivo\": \"Resumen claro del hecho\",\n  \"puntos_clave\": [\n    \"Punto 1 con dato verificable\",\n    \"Punto 2 con dato verificable\",\n    \"Punto 3 con dato verificable\"\n  ],\n  \"antecedentes\": \"Contexto histórico o previo esencial\",\n  \"implicaciones\": \"Posibles consecuencias o escenarios derivados del hecho\",\n  \"terminos_tecnicos\": [\n    {\n      \"termino\": \"Término técnico 1\",\n      \"definicion\": \"Definición en contexto profesional\"\n    },\n    {\n      \"termino\": \"Término técnico 2\",\n      \"definicion\": \"Definición en contexto profesional\"\n    }\n  ]\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1616,
        -176
      ],
      "id": "25b9dc49-203f-4129-a0c8-47aab3664cfa",
      "name": "Analiza.Rss"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.resumen_objetivo }}\n\n{{ $json.puntos_clave }}\n\n{{ $json.implicaciones }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "Aquí tienes tu prompt modificado para incluir un término de búsqueda de un logo relevante para la noticia, sin cambiar el resto del contenido:\n\nContexto\nEres un editor experto en titulares de noticias para redes sociales. Tu especialidad es crear títulos impactantes y concisos que capten la atención inmediata del lector en Instagram. en formato json.\n\nInput\nRecibirás un texto describiendo una noticia.\n\nObjetivo\nGenerar un título principal, un subtítulo opcional y un término de búsqueda para un logo relevante que:\nSean extremadamente concisos y directos\nUsen mayúsculas para mayor impacto visual\nComuniquen la información más relevante\nSean fácilmente comprensibles\nGeneren interés inmediato\n\nReglas de Formato\n\nTítulo Principal:\nMáximo 45 caracteres\nPreferiblemente en mayúsculas\nDebe ser impactante y directo\nEvitar artículos innecesarios\n\nSubtítulo (opcional):\nMáximo 35 caracteres\nComplementa la información principal\nPuede usar números y símbolos\n\nTérmino de Búsqueda de Logo:\nDebe ser relevante para la noticia\nDebe contener palabras clave como \"logo png\" o \"oficial\"\nDebe reflejar el tema o la empresa mencionada en la noticia\nDebe tener transparente al final de la frase\n\nEstructura del Output\n{\n  \"title\": \"string\",\n  \"subtitle\": \"string\",  // opcional\n  \"logo_search_term\": \"string\"\n}\n\nEjemplos\n\nPara una noticia sobre Goldman Sachs:\n{\n  \"title\": \"GOLDMAN SACHS ELEVA 26% EL SALARIO\",\n  \"subtitle\": \"de david solomon\",\n  \"logo_search_term\": \"Goldman Sachs logo png\"\n}\n\nPara una noticia sobre IA:\n{\n  \"title\": \"IA DEJARÁ SIN EMPLEO A 200,000\",\n  \"subtitle\": \"trabajadores de wall street\",\n  \"logo_search_term\": \"inteligencia artificial logo png transparente\"\n}\n\nInstrucciones Adicionales\nPrioriza claridad sobre creatividad\nUsa números cuando sean relevantes\nEvita abreviaturas poco comunes\nMantén un tono formal pero accesible\nConsidera el impacto visual del texto en mayúsculas\n\nCriterios de Evaluación\n¿Es inmediatamente comprensible?\n¿Captura la esencia de la noticia?\n¿Tiene el formato visual correcto?\n¿Respeta los límites de caracteres?\n¿Mantiene la seriedad del tema?"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        832,
        80
      ],
      "id": "42233f4d-2725-4ab5-8ffe-db9166fac4b4",
      "name": "Crea.Titulo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Analiza.Rss').item.json.resumen_objetivo }}",
        "messages": {
          "messageValues": [
            {
              "message": "Rol\nEres un experto en desarrollar prompts enfocado en producir imágenes hiperrealistas y de gran impacto visual para un modelo text to image\n\nTarea\nTu tarea es unicamente generar la instruccion sin ninguna anotacion extra\nLa opacidad de la imagen tiene que se más obscura.\nEl prompt debe ser conciso y clara.\n\nEspecificaciones\nEl prompt debe de ser en ingles.\nLa imagen no debe tener texto.\n\nContexto\nTe voy a proporcionar ejemplos de la publicación que quiero crear, y tu tienes que hacer el prompt en ingles que vaya de acuerdo a la noticia\n\nEjemplo\n\nOutput\nA set of modern technological gadgets, such as smartwatches, smart speakers, and connected appliances, with a dark and opaque background.\nA set of modern cell phones, computers, and tablets connected through the internet, with a dark and opaque background.\n\nNotas\nNo quiero que tenga letras la imagen.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1184,
        80
      ],
      "id": "dd4c6390-7eba-41de-b36b-fd5dd13039e9",
      "name": "Prompt.Imagen"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.post }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## Contexto\nEres un experto en marketing digital y comunicación multiplataforma. Tu tarea es transformar noticias en contenido optimizado para diferentes redes sociales, manteniendo la esencia del mensaje pero adaptándolo al tono y estilo único de cada plataforma. El output debe estar en español y en formato JSON estructurado.\n\n## Input\nRecibirás una noticia en formato texto plano.\n\n## Output Format\nDebes generar un JSON con la siguiente estructura:\n\nFormato JSON\n{\n  \"instagram\": {\n    \"caption\": \"string\",\n    \"hashtags\": [\"string\"]\n  },\n  \"linkedin\": {\n    \"content\": \"string\",\n    \"hashtags\": [\"string\"]\n  },\n  \"blog\": {\n    \"title\": \"string\",\n    \"content\": \"string\",\n    \"tags\": [\"string\"],\n    \"meta_description\": \"string\"\n  },\n  \"facebook\": {\n    \"content\": \"string\",\n    \"hashtags\": [\"string\"]\n  },\n  \"twitter\": {\n    \"tweet\": \"string\",\n    \"hashtags\": [\"string\"]\n  }\n}\n\n## Características Específicas por Plataforma\n\n### Instagram\n- Caption: 150-220 caracteres\n- Tono: Visual y atractivo\n- Elementos:\n  * Gancho emocional o dato impactante al inicio\n  * 2-4 emojis estratégicamente colocados\n  * Terminar con pregunta o call-to-action\n- Hashtags: 3-5 relevantes\n\n### LinkedIn\n- Contenido: 200-300 caracteres\n- Tono: Profesional pero conversacional\n- Elementos:\n  * Insight empresarial al inicio\n  * Datos concretos y relevantes\n  * Menciones de empresas/profesionales\n  * Pregunta final para generar debate\n- Hashtags: 2-3 estratégicos\n\n### Blog\n- Título: 60-70 caracteres\n- Contenido: 400-600 palabras\n- Meta descripción: 150-160 caracteres\n- Tono: Informativo y analítico\n- Elementos:\n  * Título SEO-friendly\n  * Introducción con contexto\n  * Desarrollo estructurado\n  * Conclusión con insights\n- Tags: 4-6 palabras clave relevantes\n\n### Facebook\n- Contenido: 150-250 caracteres\n- Tono: Informal pero informativo\n- Elementos:\n  * Pregunta o dato sorprendente al inicio\n  * 1-2 emojis máximo\n  * Call-to-action final\n- Hashtags: 2-3 relevantes\n\n### Twitter\n- Tweet: Máximo 240 caracteres\n- Tono: Directo y conciso\n- Elementos:\n  * Dato más impactante primero\n  * Números y símbolos para optimizar espacio\n  * Menciones relevantes\n- Hashtags: 1-2 máximo\n\n## Ejemplo de Output\n```json\n{\n  \"instagram\": {\n    \"caption\": \"🏦 El CEO de Goldman Sachs alcanza nuevas alturas: $80M en bonos de retención + aumento del 26% 📈 David Solomon lidera un crecimiento histórico del 175% en acciones desde 2018. ¿Cuál crees que será su próximo movimiento? 🤔\",\n  \"hashtags\": [\"#WallStreet\", \"#GoldmanSachs\", \"#Liderazgo\", \"#FinanzasGlobales\", \"#Banking\"]\n  },\n  \"linkedin\": {\n    \"content\": \"Goldman Sachs refuerza su confianza en el liderazgo ejecutivo con un bono de retención de $80M para David Solomon. Bajo su dirección desde 2018, las acciones han crecido un 175%. ¿Es esta la nueva tendencia en compensación ejecutiva para retener talento de primer nivel?\",\n  \"hashtags\": [\"#LeadershipStrategy\", \"#InvestmentBanking\", \"#ExecutiveCompensation\"]\n  },\n  \"blog\": {\n    \"title\": \"Goldman Sachs otorga bono histórico de $80M a su CEO: Análisis del impacto\",\n    \"content\": \"En un movimiento que reafirma su confianza en el liderazgo actual, Goldman Sachs ha anunciado...\",\n  \"tags\": [\"Goldman Sachs\", \"Banca de Inversión\", \"Liderazgo Ejecutivo\", \"Compensación Ejecutiva\", \"Wall Street\"],\n  \"meta_description\": \"Análisis del impacto del bono de retención de $80M otorgado al CEO de Goldman Sachs, David Solomon, y su relación con el crecimiento del banco desde 2018.\"\n  },\n  \"facebook\": {\n    \"content\": \"💰 ¿Qué harías con un bono de $80 millones? El CEO de Goldman Sachs, David Solomon, recibe esta recompensa tras lograr un crecimiento del 175% en acciones. ¡Cuéntanos tu opinión sobre esta mega-compensación! 🏦\",\n    \"hashtags\": [\"#GoldmanSachs\", \"#WallStreet\", \"#FinanzasGlobales\"]\n  },\n  \"twitter\": {\n    \"tweet\": \"ÚLTIMA HORA: Goldman Sachs otorga bono de $80M a su CEO David Solomon tras duplicar ganancias en Q4 2024. Acciones han subido 175% desde 2018 bajo su liderazgo.\",\n    \"hashtags\": [\"#GoldmanSachs\", \"#WallStreet\"]\n  }\n}\n```\n\n## Instrucciones Adicionales\n1. Mantén consistencia en los datos clave entre plataformas\n2. Adapta el tono según la plataforma pero mantén la precisión\n3. Asegura que los hashtags sean relevantes y actuales\n4. Verifica que cada versión sea única pero alineada con el mensaje central\n5. Respeta los límites de caracteres de cada plataforma"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1040,
        320
      ],
      "id": "ca6d82db-fd18-4900-bf36-ffd3d7410b1f",
      "name": "Crea.Contenido"
    },
    {
      "parameters": {
        "content": "## Consultar redes sociales\n[LinkedIn](https://www.linkedin.com/in/jombusiness/recent-activity/all/)\n\n[Facebook - SMARTweb](https://www.facebook.com/SmartWeb.Erp)\n\n[Twitter](https://x.com/jomBusiness)",
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        32
      ],
      "id": "00c6d868-7be1-4ab9-8a6d-5cc159662977",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        192
      ],
      "id": "a2337c81-254f-4f09-ac17-15756de6191c",
      "name": "gpt-4o-mini.Titulo",
      "credentials": {
        "openRouterApi": {
          "id": "aq9Mu0k1n9JBuo3F",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1504,
        -64
      ],
      "id": "3901163a-d454-43bc-92cc-836ca10050cf",
      "name": "gpt-4o-mini.Analiza",
      "credentials": {
        "openRouterApi": {
          "id": "aq9Mu0k1n9JBuo3F",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1072,
        192
      ],
      "id": "2b8ae762-73b5-453e-8c71-1dcff0c4b167",
      "name": "gpt-4o-mini.Imagen",
      "credentials": {
        "openRouterApi": {
          "id": "aq9Mu0k1n9JBuo3F",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        992,
        496
      ],
      "id": "7894174c-ffea-4654-aba9-a066a4a7c8c3",
      "name": "gpt-4o-mini.Contenido",
      "credentials": {
        "openRouterApi": {
          "id": "aq9Mu0k1n9JBuo3F",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/imagen-4/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.text }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"safety_filter_level\": \"block_only_high\",\n    \"output_format\": \"jpg\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        80
      ],
      "id": "120ca62d-2e2d-4b31-bae5-4c5f26ec47d7",
      "name": "Replicate.google.imagen-4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yKsf30NQFRM3zopJ",
          "name": "Replicate.msn"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Replicate.google.imagen-4').item.json.output }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        320
      ],
      "id": "15e9058e-d5b8-47f6-b072-32f281005d7d",
      "name": "Replicate.Get.Image",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Se debería de usar Ideograma  \n[Guide](https://about.ideogram.ai/api-pricing)",
        "height": 128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        704
      ],
      "typeVersion": 1,
      "id": "0f072ef0-037d-405c-bcc0-4d90fd215d47",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "157152044640637",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "image",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Crea.Contenido').item.json.output.facebook.content }} {{ $json.output.facebook.hashtags }}\n\nMás información: {{ $('Select.Rss').item.json.json.link }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1792,
        496
      ],
      "id": "5de72e9a-2bda-4df9-bcb2-93ecda434ac8",
      "name": "Post.SmartWeb",
      "credentials": {
        "facebookGraphApi": {
          "id": "pyh866tlIzHPoNGH",
          "name": "Facebook.SmartWeb"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        80
      ],
      "id": "4a3eca95-6a54-4521-8c7b-a5f138586680",
      "name": "Wait.5",
      "webhookId": "5dbfa580-58e8-44cb-8ec7-ada44805b8e1"
    },
    {
      "parameters": {
        "chatId": "1704819492",
        "text": "={{ $('Crea.Contenido').item.json.output.twitter.tweet }}\n{{ $('Crea.Contenido').item.json.output.twitter.hashtags }}\n\nMás información: {{ $('Select.Rss').item.json.json.link }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        320
      ],
      "id": "73fa8a0b-6d52-488d-9cb2-615d643f083b",
      "name": "Send a text message",
      "webhookId": "31514eaf-9832-4517-92bb-84fa223359a9",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    },
    {
      "parameters": {
        "content": "## Renovar Token: Facebook \n- Ingresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Copiar: Token de acceso\n- [Depurador de token de acceso\n](https://developers.facebook.com/tools/debug/accesstoken/)\n- Regresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Usar: me?fields=id,accounts\n- Copiar: access_token\n- Volver a conectar: Graph API ",
        "height": 224,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        656
      ],
      "typeVersion": 1,
      "id": "24032e4c-ac1c-4a2d-92c4-3f89f2454124",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"instagram\": {\n    \"caption\": \"string\",\n    \"hashtags\": [\"string\"]\n  },\n  \"linkedin\": {\n    \"content\": \"string\",\n    \"hashtags\": [\"string\"]\n  },\n  \"blog\": {\n    \"title\": \"string\",\n    \"content\": \"string\",\n    \"tags\": [\"string\"],\n    \"meta_description\": \"string\"\n  },\n  \"facebook\": {\n    \"content\": \"string\",\n    \"hashtags\": [\"string\"]\n  },\n  \"twitter\": {\n    \"tweet\": \"string\",\n    \"hashtags\": [\"string\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        496
      ],
      "id": "ef8f5aed-9a56-4530-84ef-4ec52ff67199",
      "name": "crea.json"
    },
    {
      "parameters": {
        "jsCode": "// ── CONFIGURACIÓN ──────────────────────────────────────────\nconst API_KEY            = 'fYj8QIdhiaRkgwt9mona9HPJT';\nconst API_SECRET         = 'YySH3PSOZwMhEGDNx75HfRAK87vta96iY13bAX2Q17aO9augKw';\nconst ACCESS_TOKEN       = '40005087-DpKnpN2F6CTeRHaDR9cseN1Sri0272oEGIMeEgZ8J';\nconst ACCESS_TOKEN_SECRET = '1Xfmxl4uLf124YoiR6NtFH9djMdfiv2p1f2tjkejQEPjn';\n\n// ── DATOS DEL TWEET ─────────────────────────────────────────\nconst tweetText = $('Crea.Contenido').item.json.output.twitter.tweet\n  + '\\n'\n  + $('Crea.Contenido').item.json.output.twitter.hashtags;\n\nconst mediaId = $('Upload.Image').item.json.body.data.id;\n\n// ── HMAC-SHA1 PURO EN JS ─────────────────────────────────────\nfunction sha1(msg) {\n  function rotl(n, s) { return (n << s) | (n >>> (32 - s)); }\n  function tohex(n) { return ('0000000' + n.toString(16)).slice(-8); }\n  let H = [0x67452301,0xEFCDAB89,0x98BADCFE,0x10325476,0xC3D2E1F0];\n  let bytes = [];\n  for (let i = 0; i < msg.length; i++) {\n    let c = msg.charCodeAt(i);\n    if (c < 128) bytes.push(c);\n    else if (c < 2048) { bytes.push((c>>6)|192); bytes.push((c&63)|128); }\n    else { bytes.push((c>>12)|224); bytes.push(((c>>6)&63)|128); bytes.push((c&63)|128); }\n  }\n  let bitLen = bytes.length * 8;\n  bytes.push(0x80);\n  while (bytes.length % 64 !== 56) bytes.push(0);\n  bytes.push(0,0,0,0);\n  for (let i = 3; i >= 0; i--) bytes.push((bitLen >> (i*8)) & 0xFF);\n  for (let i = 0; i < bytes.length; i += 64) {\n    let W = [];\n    for (let j = 0; j < 16; j++)\n      W[j] = (bytes[i+j*4]<<24)|(bytes[i+j*4+1]<<16)|(bytes[i+j*4+2]<<8)|bytes[i+j*4+3];\n    for (let j = 16; j < 80; j++)\n      W[j] = rotl(W[j-3]^W[j-8]^W[j-14]^W[j-16], 1);\n    let [a,b,c,d,e] = H;\n    for (let j = 0; j < 80; j++) {\n      let f, k;\n      if      (j < 20) { f=(b&c)|((~b)&d); k=0x5A827999; }\n      else if (j < 40) { f=b^c^d;           k=0x6ED9EBA1; }\n      else if (j < 60) { f=(b&c)|(b&d)|(c&d);k=0x8F1BBCDC;}\n      else              { f=b^c^d;           k=0xCA62C1D6; }\n      let temp = (rotl(a,5) + f + e + k + W[j]) >>> 0;\n      e=d; d=c; c=rotl(b,30); b=a; a=temp;\n    }\n    H[0]=(H[0]+a)>>>0; H[1]=(H[1]+b)>>>0;\n    H[2]=(H[2]+c)>>>0; H[3]=(H[3]+d)>>>0; H[4]=(H[4]+e)>>>0;\n  }\n  return H.map(tohex).join('');\n}\n\nfunction hmacSHA1base64(key, message) {\n  const BLOCK = 64;\n  let k = [];\n  if (key.length > BLOCK) {\n    let h = sha1(key);\n    for (let i = 0; i < h.length; i += 2) k.push(parseInt(h.slice(i,i+2),16));\n  } else {\n    for (let i = 0; i < key.length; i++) k.push(key.charCodeAt(i));\n  }\n  while (k.length < BLOCK) k.push(0);\n  const iPad = k.map(b => b ^ 0x36);\n  const oPad = k.map(b => b ^ 0x5C);\n  const inner = sha1(String.fromCharCode(...iPad) + message);\n  let innerBytes = [];\n  for (let i = 0; i < inner.length; i += 2) innerBytes.push(parseInt(inner.slice(i,i+2),16));\n  const raw = sha1(String.fromCharCode(...oPad) + String.fromCharCode(...innerBytes));\n  let bytes = [];\n  for (let i = 0; i < raw.length; i += 2) bytes.push(parseInt(raw.slice(i,i+2),16));\n  return btoa(String.fromCharCode(...bytes));\n}\n\n// ── OAUTH 1.0a ───────────────────────────────────────────────\nfunction percentEncode(str) {\n  return encodeURIComponent(str)\n    .replace(/!/g,'%21').replace(/'/g,'%27')\n    .replace(/\\(/g,'%28').replace(/\\)/g,'%29')\n    .replace(/\\*/g,'%2A');\n}\n\nconst method    = 'POST';\nconst url       = 'https://api.twitter.com/2/tweets';\nconst nonce     = Math.random().toString(36).slice(2) + Date.now();\nconst timestamp = Math.floor(Date.now() / 1000).toString();\n\nconst oauthParams = {\n  oauth_consumer_key:     API_KEY,\n  oauth_nonce:            nonce,\n  oauth_signature_method: 'HMAC-SHA1',\n  oauth_timestamp:        timestamp,\n  oauth_token:            ACCESS_TOKEN,\n  oauth_version:          '1.0',\n};\n\nconst sortedParams = Object.keys(oauthParams).sort()\n  .map(k => `${percentEncode(k)}=${percentEncode(oauthParams[k])}`)\n  .join('&');\n\nconst baseString = [method, percentEncode(url), percentEncode(sortedParams)].join('&');\nconst signingKey = `${percentEncode(API_SECRET)}&${percentEncode(ACCESS_TOKEN_SECRET)}`;\nconst signature  = hmacSHA1base64(signingKey, baseString);\n\noauthParams.oauth_signature = signature;\n\nconst authHeader = 'OAuth ' + Object.keys(oauthParams).sort()\n  .map(k => `${percentEncode(k)}=\"${percentEncode(oauthParams[k])}\"`)\n  .join(', ');\n\n// ── REQUEST via $helpers ─────────────────────────────────────\nconst response = await $helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.twitter.com/2/tweets',\n  headers: {\n    'Authorization': authHeader,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    text: tweetText,\n    media: { media_ids: [mediaId] }\n  }),\n});\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        784
      ],
      "id": "44676099-50ac-4c2d-81b6-99bd28a07ba1",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        368,
        -176
      ],
      "id": "967b1113-bf33-4c67-83c4-f23a283b96cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Obtén todos los elementos que vienen del nodo anterior (RSS Read)\nconst rssArray = $input.all();\n\n// --- Elige tu lógica de selección ---\nconst indice = 20// 0: Primer elemento\nconst selectedElement = rssArray[indice];\n\n// Envía el elemento seleccionado como salida\nif (selectedElement) {\n  return [{ json: selectedElement }]; // Asegúrate de devolverlo dentro de un objeto con la propiedad 'json'\n} else {\n  // Manejo si no se encuentra ningún elemento o si el array está vacío\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -176
      ],
      "id": "e2f82c9b-d3b1-44c1-af56-eddd553d91ef",
      "name": "Select.Rss"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        -192
      ],
      "id": "0519321c-c658-49d7-bf8a-4fc25a3c3a2a",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9190e1b7-d3c3-42d6-8f60-102233162cab",
              "leftValue": "={{ $json.title }}",
              "rightValue": "IA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c1c01e3c-0f94-4dfb-a471-3a6dcf7c62b6",
              "leftValue": "={{ $json.title }}",
              "rightValue": "gpt",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "29503942-2c6b-445e-8ef1-6520a6bf48ba",
              "leftValue": "={{ $json.title }}",
              "rightValue": "OpenAI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b6798105-bae7-4e4f-a078-d7b84e5bfdfb",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Claude",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1ba2cb88-9c89-4e6e-9136-7129e140bc1e",
              "leftValue": "={{ $json.title }}",
              "rightValue": "dinero",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "19661ee1-ea95-4ea6-94bb-31a15ae88250",
              "leftValue": "={{ $json.title }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "46518885-a95d-475f-a89b-94214fc15554",
              "leftValue": "={{ $json.title }}",
              "rightValue": "ChatGPT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d1138a1f-9675-441b-987f-3cc6a297087c",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Instagram",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c561f0b6-880c-4be6-9ccf-3f3970cd4133",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Facebook",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8ea8dc47-1969-48ae-9160-49da4e409ca3",
              "leftValue": "={{ $json.title }}",
              "rightValue": "YouTube",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1008,
        -176
      ],
      "id": "ee019937-d87c-4d79-8b9b-4869533c0b62",
      "name": "Filtro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad7b0a27-e2f4-43ef-a980-8032b0827cf4",
              "name": "=index",
              "value": "={{ $itemIndex }}",
              "type": "number"
            },
            {
              "id": "94d3989d-b3bd-47c1-9867-539e5670bc1f",
              "name": "=creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "81250a65-7a30-43a9-83a0-f01a3961ccaf",
              "name": "=title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "856fd9c0-61e1-4b3a-bbb4-ae1498c462ae",
              "name": "=link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "7abb6e02-9128-4af8-9d33-00cccc283251",
              "name": "=pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "4bbe4469-7fe6-44bb-ac06-3a8e6722983e",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true,
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -176
      ],
      "id": "2ec947da-eb3d-43e6-a360-353c7b0c978f",
      "name": "Mostrar.Campos"
    },
    {
      "parameters": {
        "url": "https://iaenespanol.substack.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        608,
        -320
      ],
      "id": "af620fd1-9892-4f26-888a-c9082b3585c9",
      "name": "IA.en.Español"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        608,
        -176
      ],
      "id": "90bcea56-cf2f-416b-b96d-68cd39f6481e",
      "name": "Es.Wired"
    },
    {
      "parameters": {
        "url": "https://marketing4ecommerce.net/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        608,
        -16
      ],
      "id": "b6b4ed50-ff86-4fc1-9ef4-dabca7c81e0c",
      "name": "Marketing.4.ecommerce"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-01T16:43:48.347Z",
      "createdAt": "2026-05-01T16:43:48.347Z",
      "role": "workflow:owner",
      "workflowId": "fTot4aFI5RFKATAL",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-05-01T14:05:45.832Z",
      "createdAt": "2026-05-01T14:05:45.832Z",
      "id": "8wlQKtpUxQ9ElXHE",
      "name": "💡SmartWeb"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-31T00:41:03.786Z",
  "versionId": "f5273c5d-99db-4c89-979e-62bdacc3c2a6"
}