Workflows_Utils.WhatsApp.Router.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook entrante": {
      "main": [
        [
          {
            "node": "Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar": {
      "main": [
        [
          {
            "node": "Filtro fromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro fromMe": {
      "main": [
        [
          {
            "node": "Ignorar propio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Origen": {
      "main": [
        [
          {
            "node": "Registrar desde formulario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar ruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar desde formulario": {
      "main": [
        [
          {
            "node": "Config empresa (form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config empresa (form)": {
      "main": [
        [
          {
            "node": "Armar payload (form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar payload (form)": {
      "main": [
        [
          {
            "node": "Llamar Agente (form)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar ruta": {
      "main": [
        [
          {
            "node": "Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado": {
      "main": [
        [
          {
            "node": "Empresas (menu)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empresas (sel)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Config empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresas (menu)": {
      "main": [
        [
          {
            "node": "Construir menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir menu": {
      "main": [
        [
          {
            "node": "Enviar menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar menu": {
      "main": [
        [
          {
            "node": "Marcar pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresas (sel)": {
      "main": [
        [
          {
            "node": "Resolver seleccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver seleccion": {
      "main": [
        [
          {
            "node": "Seleccion valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccion valida?": {
      "main": [
        [
          {
            "node": "Guardar empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reintentar menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar empresa": {
      "main": [
        [
          {
            "node": "Confirmar seleccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config empresas": {
      "main": [
        [
          {
            "node": "Armar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar payload": {
      "main": [
        [
          {
            "node": "Llamar Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-05T17:21:49.967Z",
  "id": "785x7zyYzqiwj5ds",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "_Utils.WhatsApp.Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "291e8d88-ae23-44cc-bff3-2775e5c3f270",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        368
      ],
      "id": "b34849f6-ea67-4f62-a2f6-a18fa4f9aa32",
      "name": "Webhook entrante",
      "webhookId": "3a35d9f5-5432-4b28-8658-71b66bcccad5"
    },
    {
      "parameters": {
        "jsCode": "// Detectar origen por estructura del payload\nconst body = $json.body || $json;\nconst desdeEvolution = !!(body?.data?.key?.remoteJid);\n\nlet remoteJid, texto, tenant;\n\nif (desdeEvolution) {\n  remoteJid = body.data.key.remoteJid;\n  texto      = body.data.message?.conversation || '';\n  tenant     = null;\n} else {\n  // Formulario web: normalizar teléfono → formato WhatsApp\n  const tel = (body.telefono || body.phone || body.remoteJid || '')\n    .toString().replace(/\\D/g, '');\n  remoteJid = tel.includes('@') ? tel : tel + '@s.whatsapp.net';\n  texto      = body.mensaje || body.message || body.consulta || '';\n  tenant     = body.tenant || null;\n}\n\nreturn [{ json: {\n  remoteJid,\n  texto,\n  tenant,\n  origen: desdeEvolution ? 'whatsapp' : 'formulario',\n  bodyRaw: body\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        368
      ],
      "id": "d7ade74e-64af-47a4-bbd9-26eb3fa55d05",
      "name": "Normalizar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8aba5bc9-144f-4cee-abff-c662843155fb",
              "leftValue": "={{ $json.origen === 'whatsapp' && $json.bodyRaw?.data?.key?.fromMe === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        368
      ],
      "id": "7fd03728-36a1-477e-a1af-8cddc5854712",
      "name": "Filtro fromMe"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -480,
        160
      ],
      "id": "651987f9-3877-4e73-a906-baaf5a182e12",
      "name": "Ignorar propio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e83001f1-e24a-4db8-bc33-274dee1b8478",
                    "leftValue": "={{ $json.origen }}",
                    "rightValue": "formulario",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORMULARIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc4e0f98-e64a-44c3-8403-2eafb83615a5",
                    "leftValue": "={{ $json.origen }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WHATSAPP"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        464
      ],
      "id": "5429f158-dea0-44f8-9c9c-9b58085254bb",
      "name": "Origen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO whatsapp_routing (remote_jid, tenant) VALUES ('{{ $json.remoteJid }}', '{{ $json.tenant }}') ON CONFLICT (remote_jid) DO UPDATE SET tenant='{{ $json.tenant }}', updated_at=now()",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        176
      ],
      "id": "6f9db24a-a816-4b7b-b781-18f0f6f4ec94",
      "name": "Registrar desde formulario",
      "credentials": {
        "postgres": {
          "id": "dptch5UJkIPuomI3",
          "name": "Postgres.contabo"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 1013406,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "d57087e3-3b66-43df-827e-9318e0e4b11a",
      "name": "Config empresa (form)",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tenant = $('Normalizar').first().json.tenant;\nconst e = $input.all().map(i=>i.json).find(r=>r.tenant===tenant) || {};\nconst norm = $('Normalizar').first().json;\n// Construir un body compatible con la estructura que espera el Agente\nconst bodyCompatible = {\n  data: {\n    key: {\n      remoteJid: norm.remoteJid,\n      fromMe: false\n    },\n    message: { conversation: norm.texto },\n    messageType: 'conversation'\n  }\n};\nreturn [{ json: {\n  body:              bodyCompatible,\n  tenant:            e.tenant,\n  empresaNombre:     e.nombre,\n  email:             e.email,\n  calEventTypeId:    String(e.cal_event_type_id || ''),\n  calApiKey:         e.cal_api_key,\n  evolutionInstance: e.evolution_instance,\n  evolutionUrl:      e.evolution_url,\n  origen:            'formulario'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        176
      ],
      "id": "9c2e1151-a6fe-4965-a198-50644ea552e7",
      "name": "Armar payload (form)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_AGENTE",
          "mode": "list",
          "cachedResultName": "_Utils.WhatsApp.AgenteIA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        176
      ],
      "id": "e3729e9f-47f2-4232-862d-73c3a13ae5b9",
      "name": "Llamar Agente (form)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tenant FROM whatsapp_routing WHERE remote_jid = '{{ $json.remoteJid }}' LIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        576
      ],
      "id": "22a2cbb3-3041-4596-b297-26a43c7c4522",
      "name": "Buscar ruta",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "dptch5UJkIPuomI3",
          "name": "Postgres.contabo"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2305791c-9db9-4c9c-b60c-cddb9d626442",
                    "leftValue": "={{ $json.tenant }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NUEVO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db982d0f-fb13-46dd-88b7-e2a00e69a10e",
                    "leftValue": "={{ $json.tenant }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDIENTE"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -16,
        560
      ],
      "id": "427c1051-44e9-4d32-89c7-e5f4ff84368e",
      "name": "Estado"
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 1013406,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        224,
        400
      ],
      "id": "738a00fb-436b-4e37-8f2f-609836dd6555",
      "name": "Empresas (menu)",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const empresas = $input.all().map(i=>i.json).filter(r=>r.activo===true).sort((a,b)=>a.id-b.id);\nlet menu = '¡Hola! ¿A cuál de nuestras empresas deseas contactar? Responde con el número:\\n\\n';\nempresas.forEach((e,i)=>{ menu += (i+1)+'. '+e.nombre+'\\n'; });\nreturn [{ json: { remoteJid: $('Normalizar').first().json.remoteJid, menu } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ],
      "id": "25da03ec-c827-4b81-82aa-1c94dd8d3f40",
      "name": "Construir menu"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "={{ $json.remoteJid }}",
        "messageText": "={{ $json.menu }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        656,
        400
      ],
      "id": "6ef39d27-ff31-4cda-95d0-5b62eca20fb8",
      "name": "Enviar menu",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO whatsapp_routing (remote_jid, tenant) VALUES ('{{ $('Normalizar').item.json.remoteJid }}', 'pending') ON CONFLICT (remote_jid) DO UPDATE SET tenant='pending', updated_at=now()",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        320
      ],
      "id": "92a3ea72-0dfe-457f-8731-de007db236a3",
      "name": "Marcar pendiente",
      "credentials": {
        "postgres": {
          "id": "dptch5UJkIPuomI3",
          "name": "Postgres.contabo"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 1013406,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        224,
        576
      ],
      "id": "e199b0e1-fe36-4eaa-9386-6c30d8700665",
      "name": "Empresas (sel)",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const empresas = $input.all().map(i=>i.json).filter(r=>r.activo===true).sort((a,b)=>a.id-b.id);\nconst texto = ($('Normalizar').first().json.texto || '').trim();\nconst n = parseInt(texto, 10);\nconst remoteJid = $('Normalizar').first().json.remoteJid;\nlet tenant=null, nombre=null;\nif(!isNaN(n) && n>=1 && n<=empresas.length){ tenant=empresas[n-1].tenant; nombre=empresas[n-1].nombre; }\nreturn [{ json: { remoteJid, tenant, nombre, valido: tenant!==null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        576
      ],
      "id": "860232c4-31c1-409f-a3db-fbcbbb245f1f",
      "name": "Resolver seleccion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aab7d0a6-38c1-4cff-bbd4-c05ddb9988ca",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        576
      ],
      "id": "8d38fff7-3705-4974-8c52-6d3796489fad",
      "name": "Seleccion valida?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE whatsapp_routing SET tenant='{{ $json.tenant }}', updated_at=now() WHERE remote_jid='{{ $json.remoteJid }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        496
      ],
      "id": "5f988a04-5307-41e4-9767-6cceac1bd43f",
      "name": "Guardar empresa",
      "credentials": {
        "postgres": {
          "id": "dptch5UJkIPuomI3",
          "name": "Postgres.contabo"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "={{ $('Resolver seleccion').item.json.remoteJid }}",
        "messageText": "=¡Listo! Quedaste registrado con {{ $('Resolver seleccion').item.json.nombre }}. Ahora cuéntame, ¿en qué puedo ayudarte?",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1072,
        496
      ],
      "id": "e841cd76-20bf-455e-8b0e-72ae3507ab4f",
      "name": "Confirmar seleccion",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "={{ $('Resolver seleccion').item.json.remoteJid }}",
        "messageText": "No entendí tu respuesta. Por favor responde solo con el número de la empresa.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        880,
        672
      ],
      "id": "b5131f6f-1ba0-4c89-ae9a-b723690eb3df",
      "name": "Reintentar menu",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 1013406,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        224,
        800
      ],
      "id": "8f542210-ded7-4f97-a21d-13ffb2f3ece4",
      "name": "Config empresas",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tenant = $('Buscar ruta').first().json.tenant\n                    || $('Normalizar').first().json.tenant;\nconst e = $input.all().map(i=>i.json).find(r=>r.tenant===tenant) || {};\nconst norm = $('Normalizar').first().json;\nreturn [{ json: {\n  body:              norm.bodyRaw,\n  tenant:            e.tenant,\n  empresaNombre:     e.nombre,\n  email:             e.email,\n  calEventTypeId:    String(e.cal_event_type_id || ''),\n  calApiKey:         e.cal_api_key,\n  evolutionInstance: e.evolution_instance,\n  evolutionUrl:      e.evolution_url,\n  origen:            norm.origen\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        800
      ],
      "id": "86a911bd-dbd4-4a9d-8a12-b2bb548f29f9",
      "name": "Armar payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_AGENTE",
          "mode": "list",
          "cachedResultName": "_Utils.WhatsApp.AgenteIA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        800
      ],
      "id": "a8292652-78e0-43f7-8ca3-21640754e184",
      "name": "Llamar Agente"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-05T17:21:49.967Z",
      "createdAt": "2026-06-05T17:21:49.967Z",
      "role": "workflow:owner",
      "workflowId": "785x7zyYzqiwj5ds",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-12T20:01:43.166Z",
  "versionId": "0fd9d59b-39fc-4543-bdbd-154f4c990495"
}