WorkflowsSurebet ValueBet Detector v2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule - Every 15min": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - TimeWindow": {
      "main": [
        [
          {
            "node": "IF - WithinSchedule?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WithinSchedule?": {
      "main": [
        [
          {
            "node": "HTTP Request - Get events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get events": {
      "main": [
        [
          {
            "node": "Function - Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Normalize": {
      "main": [
        [
          {
            "node": "Function - GroupByMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - GroupByMatch": {
      "main": [
        [
          {
            "node": "Function - BestOddsPerOutcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - BestOddsPerOutcome": {
      "main": [
        [
          {
            "node": "Filter - TimeToMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - SurebetCalc": {
      "main": [
        [
          {
            "node": "Generate Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Function - AttachLastHash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - AttachLastHash": {
      "main": [
        [
          {
            "node": "IF Compare Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Compare Hash": {
      "main": [
        [
          {
            "node": "IF - LastHash?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function - PayloadString",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - LastHash?": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - PayloadString": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code - ParseLLM & Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai/gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - ParseLLM & Merge": {
      "main": [
        [
          {
            "node": "Function - ValueCalc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - ValueCalc": {
      "main": [
        [
          {
            "node": "Function - RoundingAndCurrency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - RoundingAndCurrency": {
      "main": [
        [
          {
            "node": "IF - Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Alert?": {
      "main": [
        [
          {
            "node": "Telegram - Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Send Alert": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Function - TimeWindow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - TimeToMatch": {
      "main": [
        [
          {
            "node": "Function - SurebetCalc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Ranking 20:00": {
      "main": [
        [
          {
            "node": "HTTP - Get events for Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get events for Ranking": {
      "main": [
        [
          {
            "node": "Code - BookmakerRanking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - BookmakerRanking": {
      "main": [
        [
          {
            "node": "Telegram - Send Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-21T18:07:54.879Z",
  "id": "ECcE1aUJqB2En9Rj",
  "isArchived": false,
  "meta": null,
  "name": "Surebet ValueBet Detector v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Schedule - Every 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        -176
      ],
      "id": "a2fe9489-31e1-4e30-a5e3-99f2a5e0744d"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('CONFIG').first().json;\nconst horaInicio = cfg.CFG_HORA_INICIO ?? 8;\nconst horaFin = cfg.CFG_HORA_FIN ?? 23;\n\nconst hour = Number(\n  new Date().toLocaleString('en-US', {\n    hour: 'numeric',\n    hour12: false,\n    timeZone: 'America/Lima'\n  })\n);\n\nreturn [\n  {\n    json: {\n      ...cfg,\n      horaPeru: hour,\n      dentroHorario: (hour >= horaInicio && hour < horaFin)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -176
      ],
      "id": "0739c947-e050-4022-b4f1-33771ec44bcf",
      "name": "Function - TimeWindow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-schedule-001",
              "leftValue": "={{ $json.dentroHorario }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - WithinSchedule?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        -176
      ],
      "id": "d3c792e5-8e5c-4eae-be6c-16102a140381"
    },
    {
      "parameters": {
        "url": "={{ $('CONFIG').first().json.CFG_DATA_URL }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "HTTP Request - Get events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        -192
      ],
      "id": "16236be8-bc75-41b6-b825-3111151a4058"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar eventos desde la API\n// Ampliar currencyMap para soportar múltiples regiones\nconst raw = items[0].json;\nconst events = raw.events || [];\n\nconst currencyMap = {\n  // South America\n  'Peru': 'PEN', 'Brazil': 'BRL', 'Argentina': 'ARS',\n  'Chile': 'CLP', 'Colombia': 'COP', 'Uruguay': 'UYU',\n  'South America': 'PEN',\n  // Europe\n  'England': 'GBP', 'Spain': 'EUR', 'Germany': 'EUR',\n  'Italy': 'EUR', 'France': 'EUR', 'Netherlands': 'EUR',\n  'Portugal': 'EUR', 'Europe': 'EUR',\n  // North America\n  'United States': 'USD', 'Mexico': 'MXN', 'Canada': 'CAD',\n  'North America': 'USD',\n  // Asia\n  'Japan': 'JPY', 'China': 'CNY', 'South Korea': 'KRW',\n  // Default\n  'default': 'USD'\n};\n\nconst normalized = events.flatMap(e => {\n  const match = `${e.homeTeam} vs ${e.awayTeam}`;\n  const timestamp = e.timestamp;\n  const bookmakers = e.canonical?.bookmakers || {};\n\n  return Object.keys(bookmakers).flatMap(bk => {\n    const odds = bookmakers[bk].odds || {};\n    const oneXtwo = odds['1X2'] || odds['1x2'] || null;\n    if (!oneXtwo) return [];\n\n    const currency = bookmakers[bk].currency\n      || currencyMap[e.country]\n      || currencyMap['default'];\n\n    return [{\n      match,\n      timestamp,\n      league: e.league || null,\n      country: e.country || null,\n      region: e.region || null,\n      bookmaker: bk,\n      market: '1X2',\n      odds: { home: oneXtwo[0], draw: oneXtwo[1], away: oneXtwo[2] },\n      url: bookmakers[bk].url || null,\n      currency\n    }];\n  });\n});\n\nreturn normalized.map(r => ({ json: r }));"
      },
      "name": "Function - Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        32
      ],
      "id": "f952b8ab-642c-4d8b-bb5b-c5e6fa10213a"
    },
    {
      "parameters": {
        "jsCode": "const arr = items.map(i => i.json);\nconst grouped = {};\narr.forEach(r => {\n  if (!grouped[r.match]) grouped[r.match] = [];\n  grouped[r.match].push(r);\n});\nreturn Object.keys(grouped).map(m => ({\n  json: {\n    match: m,\n    offers: grouped[m],\n    // Preservar metadata del primer item del grupo\n    league: grouped[m][0]?.league || null,\n    country: grouped[m][0]?.country || null,\n    region: grouped[m][0]?.region || null,\n    timestamp: grouped[m][0]?.timestamp || null\n  }\n}));"
      },
      "name": "Function - GroupByMatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        32
      ],
      "id": "05c75adc-853b-44bc-9419-e68079243973"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { match, offers, league, country, region, timestamp } = item.json || {};\n  const best = { home: null, draw: null, away: null };\n\n  (offers || []).forEach(o => {\n    const { bookmaker, odds, currency, url } = o;\n    if (!best.home || odds.home > best.home.odds)\n      best.home = { bookmaker, odds: odds.home, currency, url };\n    if (!best.draw || odds.draw > best.draw.odds)\n      best.draw = { bookmaker, odds: odds.draw, currency, url };\n    if (!best.away || odds.away > best.away.odds)\n      best.away = { bookmaker, odds: odds.away, currency, url };\n  });\n\n  return { json: { match, best, league, country, region, timestamp } };\n});"
      },
      "name": "Function - BestOddsPerOutcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        32
      ],
      "id": "49050ede-28fc-42e2-b0c0-c5c942caea2c"
    },
    {
      "parameters": {
        "jsCode": "// SurebetCalc robusto con capital configurable via variable de entorno\nconst parseOdd = (v) => {\n  if (v === null || v === undefined) return NaN;\n  if (typeof v === 'number') return v;\n  let s = String(v).trim();\n  s = s.replace(',', '.');\n\n  // Fraccional '3/2' -> decimal\n  if (/^\\d+\\/\\d+$/.test(s)) {\n    const [a, b] = s.split('/').map(Number);\n    if (b === 0) return NaN;\n    return 1 + (a / b);\n  }\n  // Americana '+150' / '-200'\n  if (/^[+-]\\d+$/.test(s)) {\n    const n = Number(s);\n    if (n > 0) return 1 + (n / 100);\n    if (n < 0) return 1 + (100 / Math.abs(n));\n  }\n  // Porcentaje '45%' -> odds\n  if (s.endsWith('%')) {\n    const p = parseFloat(s.slice(0, -1));\n    if (!isFinite(p) || p <= 0) return NaN;\n    return 100 / p;\n  }\n  const num = Number(s);\n  if (isFinite(num)) {\n    if (num > 0 && num < 1) return 1 / num;\n    return num;\n  }\n  return NaN;\n};\n\nconst round = (n, d = 3) => Math.round(n * Math.pow(10, d)) / Math.pow(10, d);\n\n// CAPITAL configurable: primero busca variable de entorno n8n, luego fallback a 100\nconst CAPITAL_TOTAL = Number($('CONFIG').first().json.CFG_CAPITAL ?? 100);\n\nreturn items.map(item => {\n  const { match, best, league, country, region, timestamp } = item.json || {};\n\n  if (!best) {\n    return { json: { match, error: 'best missing', raw: item.json } };\n  }\n\n  const cuotaHome = parseOdd(best?.home?.odds ?? null);\n  const cuotaDraw = parseOdd(best?.draw?.odds ?? null);\n  const cuotaAway = parseOdd(best?.away?.odds ?? null);\n\n  const invalid = [cuotaHome, cuotaDraw, cuotaAway].some(v => !isFinite(v) || v <= 0);\n  if (invalid) {\n    return {\n      json: {\n        match, best, league, country, region, timestamp,\n        cuotaHome, cuotaDraw, cuotaAway,\n        margen: null, surebet: false,\n        beneficioPct: 0, stakes: null,\n        capitalTotal: CAPITAL_TOTAL,\n        debug: 'Cuotas inválidas o no convertibles'\n      }\n    };\n  }\n\n  const invHome = 1 / cuotaHome;\n  const invDraw = 1 / cuotaDraw;\n  const invAway = 1 / cuotaAway;\n  const margen = invHome + invDraw + invAway;\n  const surebet = margen < 1;\n  const beneficioPct = surebet ? (1 - margen) * 100 : 0;\n\n  const denom = invHome + invDraw + invAway;\n  const stakeHome = (CAPITAL_TOTAL * invHome) / denom;\n  const stakeDraw = (CAPITAL_TOTAL * invDraw) / denom;\n  const stakeAway = (CAPITAL_TOTAL * invAway) / denom;\n\n  return {\n    json: {\n      match, best, league, country, region, timestamp,\n      cuotaHome: round(cuotaHome, 3),\n      cuotaDraw: round(cuotaDraw, 3),\n      cuotaAway: round(cuotaAway, 3),\n      margen: round(margen, 6),\n      surebet,\n      beneficioPct: round(beneficioPct, 3),\n      stakes: {\n        home: round(stakeHome, 2),\n        draw: round(stakeDraw, 2),\n        away: round(stakeAway, 2)\n      },\n      capitalTotal: CAPITAL_TOTAL,\n      currencies: {\n        home: best.home?.currency || 'USD',\n        draw: best.draw?.currency || 'USD',\n        away: best.away?.currency || 'USD'\n      }\n    }\n  };\n});"
      },
      "name": "Function - SurebetCalc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        32
      ],
      "id": "426718e6-5fc5-4b20-9fc6-c723438a5921"
    },
    {
      "parameters": {
        "jsCode": "// Hash robusto con crypto nativo de Node.js\nconst crypto = require('crypto');\n\nreturn items.map(item => {\n  const { match, best } = item.json;\n  const raw = `${match}-${best?.home?.odds}-${best?.draw?.odds}-${best?.away?.odds}`;\n  const hash = crypto.createHash('md5').update(raw).digest('hex');\n  return { json: { ...item.json, hash } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        32
      ],
      "id": "4015aedc-fe12-4253-910a-ce73cbf32981",
      "name": "Generate Hash"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1328,
        240
      ],
      "id": "cdd0c74f-b699-4d3f-843c-24674bcdcba5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "tableId": 987151,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8639447,
                "value": "={{$json['match']}}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -1056,
        256
      ],
      "id": "acbae4a7-97a0-4b44-b926-16156a6f0df1",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AttachLastHash: detecta hash previo en Baserow y normaliza\nreturn items.map(it => {\n  const out = { ...it.json };\n\n  const getFirst = (obj, keys) => {\n    for (const k of keys) {\n      if (!k) continue;\n      if (k.includes('.')) {\n        const parts = k.split('.');\n        let cur = obj;\n        let ok = true;\n        for (const p of parts) {\n          if (cur && Object.prototype.hasOwnProperty.call(cur, p)) cur = cur[p];\n          else { ok = false; break; }\n        }\n        if (ok && cur !== undefined) return cur;\n      } else if (Object.prototype.hasOwnProperty.call(obj, k)) {\n        return obj[k];\n      }\n    }\n    return undefined;\n  };\n\n  const possibleOriginalHashKeys = ['hash', 'Hash', 'originalHash', '_hash'];\n  const possibleBaserowHashKeys = ['lastHash', 'LastHash', 'last_hash', 'Hash', 'hash', 'fields.Hash', 'fields.hash'];\n  const possibleBeneficioKeys = ['BeneficioPct', 'beneficioPct', 'beneficio_pct', 'fields.BeneficioPct'];\n\n  const norm = v => {\n    if (v === null || v === undefined) return null;\n    if (typeof v === 'number') return String(v).trim().toLowerCase();\n    if (typeof v === 'string') {\n      const t = v.trim();\n      if (t === '' || t.toLowerCase() === 'null') return null;\n      return t.toLowerCase();\n    }\n    try { return String(v).trim().toLowerCase(); } catch (e) { return null; }\n  };\n\n  out.hash = norm(getFirst(out, possibleOriginalHashKeys)) || null;\n  out.lastHash = norm(getFirst(out, possibleBaserowHashKeys)) || null;\n\n  // FIX: normalizar beneficioPct con todas las variantes de nombre\n  const bpRaw = getFirst(out, possibleBeneficioKeys) ?? 0;\n  out.beneficioPct = (bpRaw === null || bpRaw === '' || bpRaw === undefined)\n    ? 0\n    : Number(bpRaw);\n\n  out.lastBeneficioPct = out.lastBeneficioPct !== undefined\n    ? Number(out.lastBeneficioPct)\n    : null;\n\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        256
      ],
      "id": "a0816453-0b7f-4b30-ac97-5cd400ea4506",
      "name": "Function - AttachLastHash"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-hash-001",
              "leftValue": "={{ (() => {\n  const h = $('Loop Over Items').item.json.hash ?? null;\n  const last = $json['lastHash'] ?? null;\n  const lastBP = ($json['lastBeneficioPct'] === undefined || $json['lastBeneficioPct'] === null)\n    ? null\n    : Number($json['lastBeneficioPct']);\n  const bp = Number($('Loop Over Items').item.json.beneficioPct ?? 0);\n  if (h === null) return true;\n  if (last === null) return true;\n  if (h !== last) return true;\n  if (lastBP === null) return Math.abs(bp) > 0.3;\n  return Math.abs(bp - lastBP) > 0.3;\n})() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF Compare Hash",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        256
      ],
      "id": "eb03562e-c6a7-4e75-8097-e26be136d36e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-lasthash-001",
              "leftValue": "={{ ($json['lastHash'] === null || $json['lastHash'] === undefined || $json['lastHash'] === '') && ($json['hash'] !== null) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - LastHash?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        240
      ],
      "id": "42d64e8c-de00-4b35-8ad4-a2231a4c3707"
    },
    {
      "parameters": {
        "jsCode": "// Serializar payload para el LLM — incluye datos matemáticos para clasificación\nreturn items.map(item => {\n  const src = item.json || {};\n\n  const getStr = (...keys) => {\n    for (const k of keys) {\n      if (src[k] !== undefined && src[k] !== null) return String(src[k]);\n    }\n    return '';\n  };\n\n  const match = getStr('Match', 'match');\n  const league = getStr('League', 'league');\n  const country = getStr('Country', 'country');\n  const timestamp = getStr('timestamp') || new Date().toISOString();\n\n  const bestSrc = src.best || {};\n\n  // Contar casas distintas involucradas\n  const casas = new Set([\n    bestSrc?.home?.bookmaker,\n    bestSrc?.draw?.bookmaker,\n    bestSrc?.away?.bookmaker\n  ].filter(Boolean));\n\n  const normalized = {\n    match, league, country, timestamp,\n    horasRestantes: src.horasRestantes ?? null,\n    // Datos matemáticos clave para el clasificador\n    margen: src.margen ?? null,\n    beneficioPct: src.beneficioPct ?? 0,\n    surebet: src.surebet ?? false,\n    casasDistintas: casas.size,\n    best: {\n      home: { odds: bestSrc?.home?.odds ?? null, bookmaker: bestSrc?.home?.bookmaker ?? null },\n      draw: { odds: bestSrc?.draw?.odds ?? null, bookmaker: bestSrc?.draw?.bookmaker ?? null },\n      away: { odds: bestSrc?.away?.odds ?? null, bookmaker: bestSrc?.away?.bookmaker ?? null }\n    }\n  };\n\n  const hasOdds = normalized.best.home.odds\n    && normalized.best.draw.odds\n    && normalized.best.away.odds;\n\n  return {\n    json: {\n      ...src,\n      normalized,\n      payloadString: JSON.stringify(normalized),\n      skipLLM: !hasOdds\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        480
      ],
      "id": "c4852441-1fcc-4486-97ba-37a08c8cb653",
      "name": "Function - PayloadString"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Clasifica esta oportunidad:\n\n{{ $json.payloadString }}\n\nDevuelve SOLO el JSON. Sin explicaciones. Sin markdown.",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un analista de arbitraje deportivo. Tu única tarea es clasificar oportunidades de apuesta basándote EXCLUSIVAMENTE en los datos matemáticos que recibes (margen, beneficioPct, cuotas). NO estimas probabilidades. NO usas conocimiento externo sobre equipos o ligas.\n\nDevuelve SIEMPRE un objeto JSON puro, sin markdown, sin backticks, con exactamente esta estructura:\n\n{\n  \"tipo\": \"surebet | valuebet | ninguno\",\n  \"riesgo\": \"alto | medio | bajo\",\n  \"confianza\": 85,\n  \"comentario\": \"texto breve en español, máximo 100 caracteres\"\n}\n\nReglas de clasificación:\n- tipo='surebet': cuando margen < 1 (beneficioPct > 0). Ganancia matemáticamente garantizada.\n- tipo='valuebet': cuando margen >= 1 pero alguna cuota parece subvalorada por el mercado (ej: cuota muy superior al promedio histórico de esa posición).\n- tipo='ninguno': sin oportunidad clara.\n\nReglas de riesgo (basado en beneficioPct):\n- bajo: beneficioPct > 2.0% — margen amplio, estable\n- medio: beneficioPct entre 0.5% y 2.0% — margen ajustado\n- alto: beneficioPct < 0.5% o cuotas de una sola casa dominan\n\nReglas de confianza (0-100):\n- 80-100: surebet con beneficioPct > 1.5%, mínimo 2 casas distintas\n- 60-79: surebet con beneficioPct 0.5-1.5%\n- 40-59: valuebet o surebet marginal\n- 0-39: datos insuficientes o inconsistentes\n\nEl comentario debe ser útil para decidir si ejecutar la apuesta. Ejemplo: 'Surebet sólida, 3 casas distintas, cuotas estables 6h'\n\nSi faltan datos: tipo:'ninguno', riesgo:'alto', confianza:0, comentario:'datos insuficientes'.\nNUNCA incluyas texto fuera del JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1136,
        480
      ],
      "id": "817010ba-b779-4b27-9dea-d522fb0236dd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1024,
        656
      ],
      "id": "ebf78aca-1552-4839-8c9c-b0580333eec0",
      "name": "openai/gpt-4o-mini",
      "credentials": {
        "openRouterApi": {
          "id": "aq9Mu0k1n9JBuo3F",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear salida LLM y mergear con datos del partido\n// Opción A: LLM es clasificador puro, no devuelve prob\nreturn items.map(item => {\n  const rawCandidate =\n    item.json?.text ||\n    item.json?.response ||\n    item.json?.choices?.[0]?.message?.content ||\n    null;\n\n  let parsed = null;\n  if (rawCandidate) {\n    let cleanStr = typeof rawCandidate === 'string'\n      ? rawCandidate.trim()\n      : JSON.stringify(rawCandidate);\n    cleanStr = cleanStr.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    try {\n      parsed = JSON.parse(cleanStr);\n    } catch (e) {\n      try {\n        const m = cleanStr.match(/\\{[\\s\\S]*\\}/);\n        parsed = m ? JSON.parse(m[0]) : null;\n      } catch (e2) { parsed = null; }\n    }\n  }\n\n  const llm = {\n    tipo:      parsed?.tipo      || 'ninguno',\n    riesgo:    parsed?.riesgo    || 'alto',\n    confianza: Number(parsed?.confianza ?? 0),\n    comentario: parsed?.comentario || 'LLM sin respuesta válida',\n    raw: rawCandidate || null\n  };\n\n  const src = item.json?.src || item.json || {};\n\n  return {\n    json: {\n      match:        src.match        || null,\n      best:         src.best         || null,\n      league:       src.league       || null,\n      country:      src.country      || null,\n      region:       src.region       || null,\n      horasRestantes: src.horasRestantes ?? null,\n      surebet:      src.surebet      || false,\n      beneficioPct: src.beneficioPct || 0,\n      margen:       src.margen       || null,\n      stakes:       src.stakes       || null,\n      capitalTotal: src.capitalTotal || 100,\n      currencies:   src.currencies   || { home: 'PEN', draw: 'PEN', away: 'PEN' },\n      tipo:      llm.tipo,\n      riesgo:    llm.riesgo,\n      confianza: llm.confianza,\n      comentario: llm.comentario\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        480
      ],
      "id": "fc14cf1d-9022-4e69-a6b8-1e2899d137e0",
      "name": "Code - ParseLLM & Merge"
    },
    {
      "parameters": {
        "jsCode": "// ValueCalc — Opción A\n// Probabilidades implícitas derivadas matemáticamente de las cuotas\n// NO se usan probabilidades del LLM\nconst threshold = Number($('CONFIG').first().json.CFG_VALUE_THRESHOLD ?? 1.05);\n\nreturn items.map(item => {\n  const { match, best, stakes, beneficioPct, capitalTotal, currencies, surebet,\n          tipo, riesgo, confianza, comentario, league, country, region,\n          horasRestantes, margen } = item.json;\n\n  // Probabilidades implícitas normalizadas (eliminan el margen de la casa)\n  const oHome = best?.home?.odds || 0;\n  const oDraw = best?.draw?.odds || 0;\n  const oAway = best?.away?.odds || 0;\n\n  const invSum = (oHome > 0 ? 1/oHome : 0)\n               + (oDraw > 0 ? 1/oDraw : 0)\n               + (oAway > 0 ? 1/oAway : 0);\n\n  const prob = invSum > 0 ? {\n    local:     (1/oHome) / invSum,\n    empate:    (1/oDraw) / invSum,\n    visitante: (1/oAway) / invSum\n  } : { local: 0.33, empate: 0.33, visitante: 0.34 };\n\n  // Valor esperado por resultado\n  const valHome = prob.local     * oHome;\n  const valDraw = prob.empate    * oDraw;\n  const valAway = prob.visitante * oAway;\n\n  const valueBets = [];\n  if (valHome > threshold) valueBets.push({\n    outcome: 'home', label: 'Local',\n    valor: valHome,\n    roi: ((valHome - 1) * 100).toFixed(2),\n    bookmaker: best?.home?.bookmaker,\n    cuota: best?.home?.odds\n  });\n  if (valDraw > threshold) valueBets.push({\n    outcome: 'draw', label: 'Empate',\n    valor: valDraw,\n    roi: ((valDraw - 1) * 100).toFixed(2),\n    bookmaker: best?.draw?.bookmaker,\n    cuota: best?.draw?.odds\n  });\n  if (valAway > threshold) valueBets.push({\n    outcome: 'away', label: 'Visitante',\n    valor: valAway,\n    roi: ((valAway - 1) * 100).toFixed(2),\n    bookmaker: best?.away?.bookmaker,\n    cuota: best?.away?.odds\n  });\n\n  return {\n    json: {\n      match, best, league, country, region, horasRestantes, margen,\n      prob, valueBets, surebet,\n      tipo, riesgo, confianza, comentario,\n      stakes, capitalTotal, currencies,\n      beneficioPct,\n      roiPct: valueBets.map(v => v.roi)\n    }\n  };\n});"
      },
      "name": "Function - ValueCalc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        480
      ],
      "id": "04943f83-93d5-4f4e-892b-c9830e781b1d"
    },
    {
      "parameters": {
        "jsCode": "// Formatear todos los campos para presentación\nreturn items.map(item => {\n  const out = { ...item.json };\n\n  // Beneficio formateado\n  out.beneficioPctFmt = out.beneficioPct !== undefined\n    ? `${Number(out.beneficioPct).toFixed(2)}%`\n    : '0.00%';\n\n  // Stakes formateados con moneda correcta\n  if (out.stakes && out.currencies) {\n    out.stakesRounded = {\n      home: Number(out.stakes.home).toFixed(2),\n      draw: Number(out.stakes.draw).toFixed(2),\n      away: Number(out.stakes.away).toFixed(2)\n    };\n  } else {\n    out.stakesRounded = { home: '0.00', draw: '0.00', away: '0.00' };\n  }\n\n  // Cuotas formateadas\n  if (out.best) {\n    out.bestFmt = {\n      home: `${out.best.home?.odds ?? '-'} (${out.best.home?.bookmaker ?? '-'})`,\n      draw: `${out.best.draw?.odds ?? '-'} (${out.best.draw?.bookmaker ?? '-'})`,\n      away: `${out.best.away?.odds ?? '-'} (${out.best.away?.bookmaker ?? '-'})`\n    };\n  }\n\n  // Etiqueta de tipo para el mensaje\n  const tipoLabel = out.tipo === 'surebet' ? '🔒 Surebet'\n    : out.tipo === 'valuebet' ? '📈 Value Bet'\n    : '⚪ Sin oportunidad';\n  out.tipoLabel = tipoLabel;\n\n  // Liga y país formateados\n  out.ligaFmt = [out.league, out.country].filter(Boolean).join(' · ') || 'Liga desconocida';\n\n  // Value bets summary\n  out.valueBetsFmt = (out.valueBets || []).length > 0\n    ? out.valueBets.map(v => `${v.label}: cuota ${v.cuota} en ${v.bookmaker} (ROI +${v.roi}%)`).join('\\n')\n    : null;\n\n  return { json: out };\n});"
      },
      "name": "Function - RoundingAndCurrency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        480
      ],
      "id": "9d6c0754-034f-47f4-9d21-929864114526"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-alert-bp",
              "leftValue": "={{ $json.beneficioPct }}",
              "rightValue": "={{ $('CONFIG').first().json.CFG_MIN_BENEFICIO_PCT ?? 0.5 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "cond-alert-tipo",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "ninguno",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-alert-riesgo",
              "leftValue": "={{ $json.riesgo }}",
              "rightValue": "alto",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-alert-confianza",
              "leftValue": "={{ $json.confianza }}",
              "rightValue": "={{ $('CONFIG').first().json.CFG_MIN_CONFIANZA ?? 50 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF - Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        480
      ],
      "id": "146ee1a7-cad2-4789-93cc-545d0a7c1c55"
    },
    {
      "parameters": {
        "chatId": "={{ $('CONFIG').first().json.CFG_TELEGRAM_CHAT_ID }}",
        "text": "={{ \n  '🎯 ' + $json.tipoLabel + '\\n' +\n  '📋 ' + ($json.ligaFmt || 'Liga desconocida') + '\\n' +\n  '⏱ Faltan: ' + ($json.horasRestantes != null ? $json.horasRestantes + 'h' : 'N/A') + '\\n\\n' +\n  '⚽ Partido: ' + $json.match + '\\n' +\n  '💹 Beneficio: ' + $json.beneficioPctFmt + '\\n' +\n  '🤖 Confianza IA: ' + $json.confianza + '/100\\n' +\n  '💬 ' + ($json.comentario || '') + '\\n\\n' +\n  '📌 Mejores cuotas:\\n' +\n  '  Local: ' + ($json.best?.home?.odds || '-') + ' → ' + ($json.best?.home?.bookmaker || '-') + '\\n' +\n  '  Empate: ' + ($json.best?.draw?.odds || '-') + ' → ' + ($json.best?.draw?.bookmaker || '-') + '\\n' +\n  '  Visitante: ' + ($json.best?.away?.odds || '-') + ' → ' + ($json.best?.away?.bookmaker || '-') + '\\n\\n' +\n  '💰 Stakes (capital: ' + ($json.capitalTotal || 100) + ' PEN):\\n' +\n  '  Local: S/' + ($json.stakesRounded?.home || '0.00') + ' en ' + ($json.best?.home?.bookmaker || '-') + '\\n' +\n  '  Empate: S/' + ($json.stakesRounded?.draw || '0.00') + ' en ' + ($json.best?.draw?.bookmaker || '-') + '\\n' +\n  '  Visitante: S/' + ($json.stakesRounded?.away || '0.00') + ' en ' + ($json.best?.away?.bookmaker || '-') + '\\n' +\n  ($json.valueBetsFmt ? ('\\n📈 Value Bets:\\n' + $json.valueBetsFmt + '\\n') : '') +\n  '\\n✅ Beneficio esperado: ~' + $json.beneficioPctFmt\n}}",
        "additionalFields": {}
      },
      "name": "Telegram - Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -16,
        592
      ],
      "id": "ee0741fa-5abc-4ada-8b39-327aa5f2736f",
      "webhookId": "ca9c3eca-2749-497e-8c1d-535dda18a4ff",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "operation": "create",
        "tableId": 987151,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8639447,
              "fieldValue": "={{ $('Loop Over Items').item.json.match }}"
            },
            {
              "fieldId": 8639448,
              "fieldValue": "={{ $('Loop Over Items').item.json.hash }}"
            },
            {
              "fieldId": 8639449,
              "fieldValue": "false"
            },
            {
              "fieldId": 8639450,
              "fieldValue": "={{ $('Loop Over Items').item.json.beneficioPct }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -16,
        224
      ],
      "id": "63bf5892-dd83-46db-bf87-ec3ba90aad90",
      "name": "Create a row",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "databaseToken",
        "operation": "update",
        "tableId": 987151,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8639450,
              "fieldValue": "={{ $json.beneficioPct }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -16,
        416
      ],
      "id": "98da5992-37b7-4752-9aab-3fdfa698e8a5",
      "name": "Update a row",
      "credentials": {
        "baserowTokenApi": {
          "id": "hTWnIZ4BPHanwIRP",
          "name": "Baserow.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-001",
              "name": "CFG_DATA_URL",
              "value": "https://unmixed-subgroup-patronize.ngrok-free.dev/NightBet/data/data.json",
              "type": "string"
            },
            {
              "id": "cfg-002",
              "name": "CFG_CAPITAL",
              "value": 100,
              "type": "number"
            },
            {
              "id": "cfg-003",
              "name": "CFG_VALUE_THRESHOLD",
              "value": 1.05,
              "type": "number"
            },
            {
              "id": "cfg-004",
              "name": "CFG_MIN_CONFIANZA",
              "value": 50,
              "type": "number"
            },
            {
              "id": "cfg-005",
              "name": "CFG_MIN_BENEFICIO_PCT",
              "value": 0.5,
              "type": "number"
            },
            {
              "id": "cfg-006",
              "name": "CFG_TELEGRAM_CHAT_ID",
              "value": "1704819492",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "CFG_HORA_INICIO",
              "value": 8,
              "type": "number"
            },
            {
              "id": "cfg-008",
              "name": "CFG_HORA_FIN",
              "value": 20,
              "type": "number"
            },
            {
              "id": "cfg-009",
              "name": "CFG_MAX_HORAS_AL_PARTIDO",
              "value": 48,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -176
      ],
      "id": "0c705f14-e146-4fd4-9c89-f7f4999bad33"
    },
    {
      "parameters": {
        "jsCode": "// Filtrar partidos cuyo inicio supera CFG_MAX_HORAS_AL_PARTIDO\nconst cfg = $('CONFIG').first().json;\nconst maxHoras = cfg.CFG_MAX_HORAS_AL_PARTIDO ?? 48;\n\nreturn items.filter(item => {\n  const ts = item.json.timestamp;\n  if (!ts) return true; // si no hay timestamp, dejar pasar\n\n  const matchTime = new Date(ts).getTime();\n  const now = Date.now();\n\n  // Si el partido ya empezó, descartar\n  if (matchTime <= now) return false;\n\n  const horasRestantes = (matchTime - now) / (1000 * 60 * 60);\n  return horasRestantes <= maxHoras;\n}).map(item => ({\n  json: {\n    ...item.json,\n    horasRestantes: parseFloat(\n      ((new Date(item.json.timestamp).getTime() - Date.now()) / (1000 * 60 * 60)).toFixed(1)\n    )\n  }\n}));"
      },
      "name": "Filter - TimeToMatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        32
      ],
      "id": "9093f145-27ab-407b-b02c-2da9590ebf72"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "name": "Schedule - Ranking 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        -352
      ],
      "id": "bef890e9-dbd2-44ea-a2ff-6e4151502a2a",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('CONFIG').first().json.CFG_DATA_URL }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "HTTP - Get events for Ranking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        -352
      ],
      "id": "8f1161d7-177d-4ee8-89c5-f2e35da8ac58"
    },
    {
      "parameters": {
        "jsCode": "// Análisis estadístico de casas de apuestas\n// Cuenta cuántas veces cada casa ofrece la mejor cuota por resultado\nconst raw = items[0].json;\nconst events = raw.events || [];\n\nconst ranking = {}; // { bookmaker: { home: N, draw: N, away: N, total: N } }\nlet totalPartidos = 0;\nlet totalOffers = 0;\n\nevents.forEach(e => {\n  const bookmakers = e.canonical?.bookmakers || {};\n  const bkList = Object.keys(bookmakers);\n  if (bkList.length === 0) return;\n\n  totalPartidos++;\n\n  // Encontrar mejor cuota por resultado en este partido\n  let bestHome = { bk: null, odds: -1 };\n  let bestDraw = { bk: null, odds: -1 };\n  let bestAway = { bk: null, odds: -1 };\n\n  bkList.forEach(bk => {\n    totalOffers++;\n    const odds = bookmakers[bk].odds || {};\n    const ox = odds['1X2'] || odds['1x2'] || null;\n    if (!ox) return;\n\n    if (!ranking[bk]) ranking[bk] = { home: 0, draw: 0, away: 0, total: 0, partidos: 0 };\n    ranking[bk].partidos++;\n\n    if (ox[0] > bestHome.odds) bestHome = { bk, odds: ox[0] };\n    if (ox[1] > bestDraw.odds) bestDraw = { bk, odds: ox[1] };\n    if (ox[2] > bestAway.odds) bestAway = { bk, odds: ox[2] };\n  });\n\n  // Sumar wins al ranking\n  if (bestHome.bk) { ranking[bestHome.bk].home++; ranking[bestHome.bk].total++; }\n  if (bestDraw.bk) { ranking[bestDraw.bk].draw++; ranking[bestDraw.bk].total++; }\n  if (bestAway.bk) { ranking[bestAway.bk].away++; ranking[bestAway.bk].total++; }\n});\n\n// Ordenar por total de veces con mejor cuota\nconst sorted = Object.entries(ranking)\n  .map(([bk, s]) => ({\n    bookmaker: bk,\n    total: s.total,\n    home: s.home,\n    draw: s.draw,\n    away: s.away,\n    partidos: s.partidos,\n    pctMejorCuota: totalPartidos > 0\n      ? ((s.total / (totalPartidos * 3)) * 100).toFixed(1)\n      : '0.0'\n  }))\n  .sort((a, b) => b.total - a.total);\n\n// Construir mensaje Telegram\nconst top10 = sorted.slice(0, 10);\nconst fecha = new Date().toLocaleDateString('es-PE', {\n  timeZone: 'America/Lima',\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nlet msg = `🏆 Ranking de Casas — ${fecha}\\n`;\nmsg += `📊 ${totalPartidos} partidos analizados\\n\\n`;\n\ntop10.forEach((c, i) => {\n  const medal = i === 0 ? '🥇' : i === 1 ? '🥈' : i === 2 ? '🥉' : `${i+1}.`;\n  msg += `${medal} ${c.bookmaker}\\n`;\n  msg += `   Mejor cuota ${c.pctMejorCuota}% del tiempo\\n`;\n  msg += `   🏠${c.home} 🤝${c.draw} ✈️${c.away}\\n`;\n});\n\nmsg += `\\n💡 Abrir cuenta primero en: ${top10.slice(0,3).map(c => c.bookmaker).join(', ')}`;\n\nreturn [{ json: { rankingMsg: msg, ranking: sorted, totalPartidos } }];"
      },
      "name": "Code - BookmakerRanking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -352
      ],
      "id": "db99e16e-fded-4f69-a4d7-3d5403cfa933"
    },
    {
      "parameters": {
        "chatId": "={{ $('CONFIG').first().json.CFG_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.rankingMsg }}",
        "additionalFields": {}
      },
      "name": "Telegram - Send Ranking",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -512,
        -352
      ],
      "id": "a51c40b9-d7e9-4e53-b7eb-ffb571f61e1a",
      "webhookId": "b06e1b33-be0a-427a-a424-6daed15dbdf9",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-21T18:07:54.879Z",
      "createdAt": "2026-05-21T18:07:54.879Z",
      "role": "workflow:owner",
      "workflowId": "ECcE1aUJqB2En9Rj",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-21T18:18:54.788Z",
  "versionId": "8e161a9d-6220-4e69-bd88-c8693b4853ad"
}