WorkflowsRAG.Ingestar.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-06T22:45:29.338Z",
    "createdAt": "2026-06-06T22:45:23.751Z",
    "versionId": "eacf0973-6b7b-499e-a5b5-016eb8df9372",
    "workflowId": "0XOqICRbivKnhsTP",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -128,
          240
        ],
        "id": "a31694b2-a6a7-4739-a6f7-91420e1fb4e1",
        "name": "Execute Workflow Trigger"
      },
      {
        "parameters": {
          "operation": "text",
          "binaryPropertyName": "documento",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          96,
          240
        ],
        "id": "9569b739-bf47-48a6-be28-16590d4bcf9d",
        "name": "Extraer texto del archivo"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://qdrant:6333/collections/smartweb_knowledge/points/delete?wait=true",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"filter\": { \"must\": [ { \"key\": \"metadata.tenant\", \"match\": { \"value\": $('Execute Workflow Trigger').item.json.tenant } } ] } } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          240
        ],
        "id": "f1c348a1-18c6-41e1-977c-4de15dd01679",
        "name": "Borrar contenido del tenant",
        "credentials": {
          "httpHeaderAuth": {
            "id": "wjc1WFMfshKAx1RE",
            "name": "Qdrant.auth.inHouse"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5a63292e-3f7d-495b-b977-8be4aea96f2f",
                "name": "tenant",
                "value": "={{ $('Execute Workflow Trigger').item.json.tenant }}",
                "type": "string"
              },
              {
                "id": "d5ee64c5-fd74-49dd-b652-6983d110e510",
                "name": "contenido",
                "value": "={{ $('Extraer texto del archivo').item.json.data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          544,
          240
        ],
        "id": "6d92a673-a62c-444b-bba7-70f47804ad2d",
        "name": "Preparar texto"
      },
      {
        "parameters": {
          "mode": "insert",
          "qdrantCollection": {
            "__rl": true,
            "value": "smartweb_knowledge",
            "mode": "list",
            "cachedResultName": "smartweb_knowledge"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.1,
        "position": [
          784,
          240
        ],
        "id": "a60764ed-0aab-4843-972b-21571e0ae33f",
        "name": "Qdrant Insert",
        "credentials": {
          "qdrantApi": {
            "id": "CGQrp2xFcyYxuAVX",
            "name": "Qdrant.inHouse"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          704,
          480
        ],
        "id": "1c0c0266-0675-48fe-a790-478369f4abc8",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.contenido }}",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "tenant",
                  "value": "={{ $json.tenant }}"
                },
                {
                  "name": "source",
                  "value": "upload"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          864,
          480
        ],
        "id": "00a6a702-dfc8-4814-a370-8db61d3895cf",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "chunkOverlap": 200,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          960,
          704
        ],
        "id": "1f866f48-689a-4ef8-a8d6-0dda1ed236c7",
        "name": "Recursive Text Splitter"
      },
      {
        "parameters": {
          "chatId": "1704819492",
          "text": "=RAG.Ingestar: Termino de insertar/cargar el archivo.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1328,
          240
        ],
        "id": "b1c4b661-911f-469a-aaf0-9caf624645d0",
        "name": "Send a text message",
        "webhookId": "31514eaf-9832-4517-92bb-84fa223359a9",
        "credentials": {
          "telegramApi": {
            "id": "Kz6I7RAZL2mii6bK",
            "name": "Telegram.api"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1136,
          240
        ],
        "id": "e6d178cf-9375-4efc-b38d-402bb0c77f58",
        "name": "Limit.1"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Extraer texto del archivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer texto del archivo": {
        "main": [
          [
            {
              "node": "Borrar contenido del tenant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Borrar contenido del tenant": {
        "main": [
          [
            {
              "node": "Preparar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar texto": {
        "main": [
          [
            {
              "node": "Qdrant Insert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Insert",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Qdrant Insert",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant Insert": {
        "main": [
          [
            {
              "node": "Limit.1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit.1": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "John Ordóñez Monroy",
    "name": "Version eacf0973",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "eacf0973-6b7b-499e-a5b5-016eb8df9372",
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extraer texto del archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto del archivo": {
      "main": [
        [
          {
            "node": "Borrar contenido del tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar contenido del tenant": {
      "main": [
        [
          {
            "node": "Preparar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar texto": {
      "main": [
        [
          {
            "node": "Qdrant Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Insert": {
      "main": [
        [
          {
            "node": "Limit.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit.1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T22:28:47.537Z",
  "id": "0XOqICRbivKnhsTP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG.Ingestar",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        240
      ],
      "id": "a31694b2-a6a7-4739-a6f7-91420e1fb4e1",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "documento",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        96,
        240
      ],
      "id": "9569b739-bf47-48a6-be28-16590d4bcf9d",
      "name": "Extraer texto del archivo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/smartweb_knowledge/points/delete?wait=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"filter\": { \"must\": [ { \"key\": \"metadata.tenant\", \"match\": { \"value\": $('Execute Workflow Trigger').item.json.tenant } } ] } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        240
      ],
      "id": "f1c348a1-18c6-41e1-977c-4de15dd01679",
      "name": "Borrar contenido del tenant",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wjc1WFMfshKAx1RE",
          "name": "Qdrant.auth.inHouse"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a63292e-3f7d-495b-b977-8be4aea96f2f",
              "name": "tenant",
              "value": "={{ $('Execute Workflow Trigger').item.json.tenant }}",
              "type": "string"
            },
            {
              "id": "d5ee64c5-fd74-49dd-b652-6983d110e510",
              "name": "contenido",
              "value": "={{ $('Extraer texto del archivo').item.json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        240
      ],
      "id": "6d92a673-a62c-444b-bba7-70f47804ad2d",
      "name": "Preparar texto"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "smartweb_knowledge",
          "mode": "list",
          "cachedResultName": "smartweb_knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        784,
        240
      ],
      "id": "a60764ed-0aab-4843-972b-21571e0ae33f",
      "name": "Qdrant Insert",
      "credentials": {
        "qdrantApi": {
          "id": "CGQrp2xFcyYxuAVX",
          "name": "Qdrant.inHouse"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        480
      ],
      "id": "1c0c0266-0675-48fe-a790-478369f4abc8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.contenido }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tenant",
                "value": "={{ $json.tenant }}"
              },
              {
                "name": "source",
                "value": "upload"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        480
      ],
      "id": "00a6a702-dfc8-4814-a370-8db61d3895cf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        960,
        704
      ],
      "id": "1f866f48-689a-4ef8-a8d6-0dda1ed236c7",
      "name": "Recursive Text Splitter"
    },
    {
      "parameters": {
        "chatId": "1704819492",
        "text": "=RAG.Ingestar: Termino de insertar/cargar el archivo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        240
      ],
      "id": "b1c4b661-911f-469a-aaf0-9caf624645d0",
      "name": "Send a text message",
      "webhookId": "31514eaf-9832-4517-92bb-84fa223359a9",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1136,
        240
      ],
      "id": "e6d178cf-9375-4efc-b38d-402bb0c77f58",
      "name": "Limit.1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T22:28:47.537Z",
      "createdAt": "2026-06-04T22:28:47.537Z",
      "role": "workflow:owner",
      "workflowId": "0XOqICRbivKnhsTP",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-06T22:45:23.748Z",
  "versionId": "eacf0973-6b7b-499e-a5b5-016eb8df9372"
}