WorkflowsBaserow.Optimiza.Carrusel.Imagenes.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-28T11:37:52.577Z",
    "createdAt": "2025-11-28T11:37:52.577Z",
    "versionId": "0aeb7d0a-5c0e-4ba7-9a33-c98858422eef",
    "workflowId": "UYV4F0QBv68hb6oD",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "447861b0-ecb3-4c7b-86f4-523681c8821b",
                "leftValue": "={{ $json.output.scraped_summary }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -224,
          400
        ],
        "id": "64b6d7c2-dad7-4f9c-b01b-d092d5b1224b",
        "name": "If"
      },
      {
        "parameters": {
          "fieldToSplitOut": "message.content.prompts",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1152,
          384
        ],
        "id": "75d1fca6-609d-4108-8a0c-4fe39ba5c7c9",
        "name": "Split Out"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Eres un agente IA altamente especializado en la creación de prompts detallados y de alta calidad para la generación de imágenes de infografía, optimizados para carruseles de Instagram. Tu objetivo es transformar el esquema de cada slide proporcionado en una única prompt final y completa, diseñada para ser directamente procesable por un modelo avanzado de generación de imágenes como el de ChatGPT.\n\nConsideraciones Clave:\n\nContexto de Empresa: Automatización de Procesos con IA. Esto implica un estilo visual que transmita modernidad, eficiencia, tecnología, innovación y profesionalismo.\n\nPaleta de Colores: Utiliza exclusivamente la siguiente paleta de colores. Sé explícito con ellos:\n\nAzul: #007bff (para elementos corporativos, títulos principales, íconos de información).\n\nGris: #495057 (para texto principal, fondos suaves, elementos secundarios).\n\nBlanco: #ffffff (para fondos limpios, texto contrastante en fondos oscuros).\n\nNaranja: #fd7e14 (para acentos, elementos que requieran atención, llamadas a la acción secundarias).\n\nVerde Lima: #28a745 (para énfasis, beneficios, elementos positivos, llamadas a la acción principales).\n\nTipografía General: La tipografía principal para todo el carrusel es Futura. Varía entre sus pesos (Light, Regular, Medium, Bold) para la jerarquía visual.\n\nEstilos de Iconos:\n\nPrioriza el estilo Minimalista (que abarca Flat Design, Lineal y Glifo por su simplicidad).\n\nPuedes incorporar íconos Isométricos (sin excesivo detalle) para representar sistemas, arquitecturas o flujos complejos, pero con moderación y claridad.\n\nEvita íconos dibujados a mano, realistas, o con excesivas texturas/degradados.\n\nTu Salida Requerida: Un objeto JSON EXACTO con la siguiente estructura. Debe contener un elemento dentro de prompts por cada slide que recibas:\n\nJSON\n{\n  \"estilo\": \"infográfico\",\n  \"formato\": \"1:1\",\n  \"resolucion\": \"alta\",\n  \"tipografia\": \"Futura\",\n  \"prompts\": [\n    {\n      \"slide\": <numero de slide 1>,\n      \"prompt\": \"<instrucción infográfico para slide 1>\"\n    },\n    {\n      \"slide\": <numero de slide 2>,\n      \"prompt\": \"<instrucción infográfico para slide 2>\"\n    },\n    // ... y así sucesivamente para cada slide\n  ]\n}\n\nPara cada \"prompt\" (instrucción específica por slide), sigue estas directrices estrictas:\n\nInicio:\nSiempre comienza con \"Estilo infográfico, centrado en automatización con IA: \".\n\nFondo:\nDescribe el fondo de forma precisa, utilizando solo los colores de la paleta. Ejemplo: \"fondo blanco puro\", \"fondo degradado suave de gris a blanco\", \"fondo azul claro con una sección inferior en gris suave\". NO debe haber fondos transparentes.\n\nGráficos/Diagramas/Íconos:\nEspecifica el tipo de gráfico (barras, pastel, embudo, etc.) o diagrama, y su diseño (ej. \"gráfico de barras minimalista\", \"diagrama de flujo lineal\").\n\nIntegra los íconos de forma coherente con el estilo seleccionado (Minimalista: Flat, Lineal, Glifo; o Isométrico). Sé explícito sobre el estilo del ícono (ej. \"icono de engranaje en estilo Flat Design con color azul\", \"icono de flecha en estilo Lineal de color naranja\", \"icono de 'check' en estilo Glifo de color verde lima\") y su ubicación.\n\nAsegura que los elementos visuales reflejen el tema de automatización, datos, eficiencia, IA, tecnología.\n\nTexto:\nDetalla la ubicación, tamaño, peso y color del texto.\n\nObligatorio:\nEspecifica Fuente Futura para todo el texto.\n\nUtiliza los colores de la paleta para el texto (ej. \"título en Futura Bold de color azul #007bff\", \"texto secundario en Futura Regular de color gris #495057\", \"énfasis en Futura Medium de color naranja #fd7e14\").\n\nIncorpora el título y la descripción del slide de forma clara y concisa.\n\nPaleta de Colores:\nAplica los colores definidos con sus respectivos códigos hex cuando sea posible para asegurar la precisión. Por ejemplo: azul #007bff, gris #495057, blanco #ffffff, naranja #fd7e14, verde lima #28a745.\n\nNarrativa de Venta:\nCada slide debe contribuir a una narrativa que guíe al lector desde la identificación de un problema o necesidad hasta una solución ofrecida por la automatización con IA, culminando en una clara llamada a la acción (CTA) en el último slide. La descripción del prompt debe reflejar esta progresión.\n\nEjemplo de Output con las mejoras:\n\nJSON\n\n{\n  \"estilo\": \"infográfico\",\n  \"formato\": \"1:1\",\n  \"resolucion\": \"alta\",\n  \"tipografia\": \"Futura\",\n  \"prompts\": [\n    {\n      \"slide\": 1,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Crea una portada para un carrusel de 5 slides titulado 'Optimiza tu Negocio con IA'. Fondo blanco puro #ffffff con una sección inferior suavemente degradada de gris claro #495057 a blanco. En la parte superior, un gran título centrado en Futura Bold de color azul #007bff: 'Optimiza tu Negocio con IA'. Debajo del título, un icono de cerebro interconectado en estilo Flat Design con nodos luminosos en color verde lima #28a745, flanqueado por dos flechas de proceso circulares en estilo Lineal de color gris #495057. Pequeño subtítulo debajo del ícono en Futura Light de color gris #495057: 'Automatización inteligente para resultados superiores'.\"\n    },\n    {\n      \"slide\": 2,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Identifica tus puntos de dolor. Fondo blanco puro #ffffff con una franja superior fina en azul #007bff. Un diagrama de embudo minimalista en el centro, con tres secciones horizontales etiquetadas 'Tareas Repetitivas', 'Errores Manuales' y 'Costos Ocultos', cada sección en tonos de gris #495057 a azul #007bff. A la izquierda del embudo, un icono de 'X' en estilo Glifo de color naranja #fd7e14. Texto a la derecha del embudo: Título '1. Desafíos Comunes' en Futura Bold de color azul #007bff, y debajo en Futura Regular de color gris #495057: 'Identifica dónde tu negocio pierde tiempo y recursos. La IA puede transformar estas áreas en eficiencia'.\"\n    },\n    {\n      \"slide\": 3,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Cómo la IA Transforma. Fondo gris claro #495057. Sección central con tres paneles verticales, cada uno con un icono distintivo: 'Eficiencia' (icono de reloj con flecha en estilo Flat Design verde lima #28a745), 'Precisión' (icono de lupa con check en estilo Flat Design azul #007bff), 'Escalabilidad' (icono de crecimiento en estilo Flat Design naranja #fd7e14). Títulos de panel en Futura Medium blanco #ffffff, y descripciones cortas en Futura Light blanco #ffffff. Líneas divisorias sutiles entre paneles en blanco. Un pequeño diagrama de flujo lineal horizontal debajo de los paneles conectando 'Problema' a 'Solución IA' a 'Beneficio'.\"\n    },\n    {\n      \"slide\": 4,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Casos de Éxito y Aplicaciones. Fondo blanco puro #ffffff. Un gráfico de barras minimalista que muestra un aumento significativo de 'Productividad' y 'Reducción de Costos', usando barras en azul #007bff y verde lima #28a745. A la derecha, tres cajas de texto apiladas con iconos en estilo Lineal de color gris #495057: 'Atención al Cliente (chatbot)', 'Gestión de Datos (análisis)', 'Logística (optimización de rutas)'. Título principal en la parte superior '3. Impacto Real de la IA' en Futura Bold azul #007bff, con descripciones cortas de cada caso en Futura Regular gris #495057.\"\n    },\n    {\n      \"slide\": 5,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Tu Próximo Paso. Fondo degradado de azul #007bff a blanco #ffffff. Un gran icono de 'apretón de manos' o 'engranaje con flecha' en estilo Isométrico, de color azul oscuro #007bff y acentos en verde lima #28a745, ocupando el centro inferior. Título '4. ¡Es Hora de Automatizar!' en Futura Bold blanco #ffffff en la parte superior. Debajo del título, un botón simulado grande en color verde lima #28a745 con el texto 'Agenda una Demostración Gratuita' en Futura Bold blanco #ffffff. Iconos de teléfono, email y calendario en estilo Lineal gris #495057 dispersos alrededor del botón.\"\n    }\n  ]\n}",
                "role": "system"
              },
              {
                "content": "={{ $json.combined_slides_text }}"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          768,
          384
        ],
        "id": "6867d9ad-b204-40bb-8be1-2ad8efbe4a1f",
        "name": "Personalizacion",
        "credentials": {
          "openAiApi": {
            "id": "eLbN9zGBjEdfzRwe",
            "name": "OpenAi.msn"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Eres un copywriter especializado en contenido técnico para Instagram.\n\nVas a recibir un texto que resume conceptos clave extraídos de un artículo técnico.\n\nTu tarea:\n\nReescribir cada idea en 1 frase impactante, técnica y clara para un carrusel de Instagram.\n\nMantén el tema principal de cada idea (no cambies de tema).\n\nUsa estructura de mini historia en cada frase:\n\n➔ Presenta brevemente el problema ➔ Menciona el impacto ➔ Insinúa solución o esperanza.\n\nEl tono debe ser profesional, informativo y atractivo (no sensacionalista, no clickbait vacío).\n\nCada frase debe tener entre 12 y 20 palabras máximo.\n\nEL numero de slides dependera de el tema, sin embargo el limite máximo es de 10\n\nDevuélvelo en el siguiente formato JSON:\n\n{\n  \"slides\": [\n    { \"slide\": 1, \"text\": \"Frase lista para Slide 1\" },\n    { \"slide\": 2, \"text\": \"Frase lista para Slide 2\" },\n    { \"slide\": 3, \"text\": \"Frase lista para Slide 3\" },\n    { \"slide\": 4, \"text\": \"Frase lista para Slide 4\" },\n    { \"slide\": 5, \"text\": \"Frase lista para Slide 5\" }\n  ]\n}\n\nEJEMPLOS\n\nIdea Original | Reescritura Mejorada\n\n84% de fraude en ATMs, necesidad de IoT seguro | \"El 84% de los fraudes en ATMs revelan la urgencia de reforzar la conectividad IoT como defensa principal.\"\n\nIoT encripta y detecta fraudes | \"La encriptación IoT permite detectar amenazas en tiempo real antes de que los atacantes actúen.\"\n\nRed de ATMs desconectados = vulnerabilidad | \"Un cajero desconectado es un blanco perfecto: el uptime IoT es vital para la seguridad continua.\"\n\nMonitoreo IoT detecta amenazas temprano | \"Con monitoreo IoT, los ataques se detectan y neutralizan antes de comprometer los cajeros automáticos.\"\n\nSeguridad integral: IoT + físico + humano | \"La seguridad efectiva combina conectividad segura, protección física y supervisión humana estratégica.\"\n\nSi recibes un texto que tu pienses que no hace mucho sentido corrijelo y adaptalo para que haga sentido",
                "role": "system"
              },
              {
                "content": "={{ $json.ideas_text }}"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          208,
          384
        ],
        "id": "cac2ac49-2166-434e-8d7c-508eeba14adf",
        "name": "Escritor",
        "credentials": {
          "openAiApi": {
            "id": "eLbN9zGBjEdfzRwe",
            "name": "OpenAi.msn"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          192,
          1248
        ],
        "id": "159c3dae-b7f6-4022-b327-fed74c08e69b",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "ac50759b-e2f3-4efd-a2af-f28b7d209b45",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.data.status }}",
                "rightValue": "SUCCESS"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f6fbbee5-be6d-4a02-808e-97c42db139be",
        "name": "Is Ready?",
        "type": "n8n-nodes-base.if",
        "position": [
          720,
          1296
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/generate",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"size\": \"2:3\",\n  \"isEnhance\": false,\n  \"uploadCn\": false\n} ",
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          384,
          1296
        ],
        "id": "faf5f9b9-bae3-44e2-a7e5-929af4273312",
        "name": "4oImageApiIo.Post",
        "credentials": {
          "httpHeaderAuth": {
            "id": "BCtFCQIPro12mTQP",
            "name": "4oImageApi.gmail"
          }
        }
      },
      {
        "parameters": {
          "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/record-info",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{ $json.data.taskId }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          1296
        ],
        "id": "f9480bea-e389-4eb7-b803-8f8e556a5ded",
        "name": "4oImageApiIo.Get",
        "credentials": {
          "httpHeaderAuth": {
            "id": "BCtFCQIPro12mTQP",
            "name": "4oImageApi.gmail"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Accedemos al arreglo de ideas\nconst input = items[0].json.output.scraped_summary;\n\n// Unimos todas las ideas en un solo string con formato de lista numerada\nconst ideasText = input.map(entry => `${entry.id}.${entry.idea}`).join('\\n\\n');\n\n// Devolvemos el string como único output\nreturn [\n  {\n    json: {\n      ideas_text: ideasText\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          384
        ],
        "id": "91adb885-37b5-4f56-b447-691d737cc20b",
        "name": "IdeasToString"
      },
      {
        "parameters": {
          "jsCode": "// Accedemos al array de slides\n\nconst slides = items[0].json.message.content.slides;\n\n// Unimos todos los textos de los slides en un solo string\nconst combinedText = slides.map(slide => `${slide.slide}. ${slide.text}`).join('\\n\\n');\n\n// Devolvemos el resultado como un solo campo\nreturn [\n  {\n    json: {\n      combined_slides_text: combinedText\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          384
        ],
        "id": "7af8100d-3836-4bcc-b39c-d15ef64ed221",
        "name": "ArrayToString"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Texto a analizar: Genera un carrusel sobre \"{{ $('Idea').item.json.txtIdea }}\"",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "Eres un agente inteligente que tiene acceso a una herramienta capaz de investigar en internet. \n\nHerramientas\n1. ChatGPT: IA que puede buscar en internet\n\nInstrucciones:\nRecibirás un tema a investigar.\n\nDebes:\nExtrae las ideas principales que expliquen todo entendiblemente, el carrusel debe tener de 7-10 slides dependiendo la complejidad y extensión del contenido\nEs importante que el carrusel siga un storytelling y sea congruente\nLas ideas deben ser claras, relevantes y enfocadas en aportar valor, porque esto lo ocupare para hacer un carrusel despúes entonces debe contener información completa.\n\nIMPORTANTE:\nIgnora información irrelevante como menús, comentarios o contenido promocional.\n\nResponde en formato JSON, así:\n{\n  \"source\": \"url o tema\",\n  \"scraped_summary\": [\n    { \"id\": 1, \"idea\": \"Frase resumen de la idea 1\" },\n    { \"id\": 2, \"idea\": \"Frase resumen de la idea 2\" },\n    { \"id\": 3, \"idea\": \"Frase resumen de la idea 3\" },\n    { \"id\": 4, \"idea\": \"Frase resumen de la idea 4\" },\n    { \"id\": 5, \"idea\": \"Frase resumen de la idea 5\" }\n  ]\n}\n\nEs importante que todas las ideas vayan en orden de storytelling y hagan sentido la pasada con la nueva"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          976,
          128
        ],
        "id": "f044629b-80d2-4851-85de-16ab77f6edf2",
        "name": "Analizador"
      },
      {
        "parameters": {
          "httpMethod": "PUT",
          "path": "67bb6b74-2d70-4cbb-b164-d55acb759f8c",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -272,
          128
        ],
        "id": "a2284026-e4d2-41e9-a53b-8d6e19a803eb",
        "name": "Webhook",
        "webhookId": "67bb6b74-2d70-4cbb-b164-d55acb759f8c"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0f86894d-2123-4e06-bbe1-b839c7807797",
                "leftValue": "={{ $json.body.items[0].Estado.value }}",
                "rightValue": "Generado",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -32,
          128
        ],
        "id": "73558dc5-2e0c-41f7-8a40-44da2ac6ae90",
        "name": "Filter"
      },
      {
        "parameters": {
          "model": "openai/gpt-4o-mini",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          912,
          272
        ],
        "id": "be57ed08-5aed-4d2a-b3f1-6260b3220360",
        "name": "gpt-4o-mini.Analiza",
        "credentials": {
          "openRouterApi": {
            "id": "fx7pdURTekgTilKM",
            "name": "OpenRouter.msn"
          }
        }
      },
      {
        "parameters": {
          "maxItems": 10
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          16,
          1248
        ],
        "id": "55c5f9d9-7888-4611-8612-3e3da039513a",
        "name": "Limit.10"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          944,
          1232
        ],
        "id": "c73df725-d90d-4b4e-a238-63d6f4a704c8",
        "name": "Limit.1"
      },
      {
        "parameters": {
          "content": "## Optimiza.ia.pro \n[Facebook.Api - vence: 14.09.2025](https://developers.facebook.com/tools/explorer/?method=GET&path=me%2Faccounts&version=v23.0)\n[Facebook](https://www.facebook.com/profile.php?id=61578064421780)\n[Instagram](https://www.instagram.com/optimiza.ia.pro/)\n[4oImageApi](https://4oimageapi.io/logs)\n\n## Costo: \n1 crédito = $ 0.05\n10 Imágenes: 60 créditos (1 img = 6 cred.)\n1 Post: 60 x 0.05 = $ 0.3 ~ S/ 1.14\n",
          "height": 272,
          "width": 336
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          944,
          608
        ],
        "typeVersion": 1,
        "id": "c4771c2f-1ada-4207-927d-3b71402d4c74",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "chatId": "=1704819492",
          "text": "Fin del carrusel",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1104,
          1232
        ],
        "id": "e6a81b10-ac90-4dd8-abf3-37441d3eff75",
        "name": "Send.FinCarrusel",
        "webhookId": "c006ecae-1fc9-42b9-9c0e-64623f34f3c3",
        "credentials": {
          "telegramApi": {
            "id": "zxkALNj2uZW1uxoX",
            "name": "Telegram.jomBusiness"
          }
        }
      },
      {
        "parameters": {
          "chatId": "=1704819492",
          "text": "No se pudo procesar la instrucción.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -224,
          688
        ],
        "id": "ea3d0340-a410-41e6-84f7-09d65480add8",
        "name": "Send.Error",
        "webhookId": "e48bf998-52aa-4cde-8741-58569786fc06",
        "credentials": {
          "telegramApi": {
            "id": "zxkALNj2uZW1uxoX",
            "name": "Telegram.jomBusiness"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const result = items.map(item => {\n  return `{ \"media_fbid\": \"${item.json.media_fbid}\" }`;\n});\n\nreturn [\n  {\n    json: {\n      output: result.join(\", \")\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          592
        ],
        "id": "315b07eb-09ba-4260-94de-61c3022c23dd",
        "name": "MediaFbId"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          32,
          704
        ],
        "id": "b7afb369-2609-41dc-9942-f608cbf266ec",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/record-info",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{$json[\"taskId\"]}}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          720
        ],
        "id": "28e1abcb-299b-4275-9a06-2d14fa92b0ed",
        "name": "4oImageApiIo.Get1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "BCtFCQIPro12mTQP",
            "name": "4oImageApi.gmail"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  return {\n    json: {\n      media_fbid: item.json.id\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          592
        ],
        "id": "8892fc09-6a15-4b56-b374-5e81feee3a1f",
        "name": "media_fbid"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "17841476072414746",
          "edge": "media_publish",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "creation_id",
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          1008,
          912
        ],
        "id": "18126b72-558f-4f82-8754-86da7fd82af0",
        "name": "Instagram.Post.Carrusel",
        "credentials": {
          "facebookGraphApi": {
            "id": "q07PnzaLdq09L9OE",
            "name": "Instagram.Optimiza"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  return {\n    json: {\n      children: item.json.id\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          912
        ],
        "id": "a5153d42-0131-41f5-99b1-76ccdf2190fd",
        "name": "children"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "17841476072414746",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "caption",
                  "value": "={{ $('Redactor').first().json.output.instagram.caption }} {{ $('Redactor').first().json.output.instagram.hashtags }}\n\n{{ $('Redactor').first().json.output.instagram.accion[0] }}\n{{ $('Redactor').first().json.output.instagram.accion[1] }}\n{{ $('Redactor').first().json.output.instagram.accion[2] }}"
                },
                {
                  "name": "media_type",
                  "value": "CAROUSEL"
                },
                {
                  "name": "children",
                  "value": "=[ {{ $json.output }} ]"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          672,
          912
        ],
        "id": "069fb2ed-d8bc-4426-8edb-dae01ffdefe1",
        "name": "Instagram.Push.Carrusel",
        "credentials": {
          "facebookGraphApi": {
            "id": "q07PnzaLdq09L9OE",
            "name": "Instagram.Optimiza"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "17841476072414746",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.data.response.resultUrls[0] }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          480,
          1056
        ],
        "id": "022fb15f-f11c-4c14-881a-4040a832d1c0",
        "name": "Instagram.Upload.Image",
        "credentials": {
          "facebookGraphApi": {
            "id": "q07PnzaLdq09L9OE",
            "name": "Instagram.Optimiza"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const result = items.map(item => {\n  return `\"${item.json.children}\"`;\n});\n\nreturn [\n  {\n    json: {\n      output: result.join(\", \")\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          912
        ],
        "id": "7eb7a76c-b7ba-412c-b527-0deea2b70866",
        "name": "Code"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          32,
          1040
        ],
        "id": "fb2c3065-f910-4c6b-94ec-f123ee23f1ab",
        "name": "Loop Over Items2"
      },
      {
        "parameters": {
          "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/record-info",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{$json[\"taskId\"]}}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          272,
          1056
        ],
        "id": "b6872bc5-5b44-4c50-bf06-edde95a7fa4d",
        "name": "4oImageApiIo.Get2",
        "credentials": {
          "httpHeaderAuth": {
            "id": "BCtFCQIPro12mTQP",
            "name": "4oImageApi.gmail"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.txtIdea }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=## Contexto\nEres un experto en marketing digital y comunicación multiplataforma. Tu tarea es transformar ideas sobre Inteligencia Artificial en contenido optimizado para diferentes redes sociales, manteniendo la esencia de la idea pero adaptándolo al tono y estilo único de cada plataforma. El output debe estar en español y en formato JSON estructurado.\n\n## Input\nRecibirás una idea en formato texto plano.\n\n## Output Format\nDebes generar un JSON con la siguiente estructura:\n\nFormato JSON\n{\n  \"instagram\": {\n    \"caption\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  },\n  \"facebook\": {\n    \"content\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  }\n}\n\n## Características Específicas por Plataforma\n\n### Instagram\n- Caption: 150-220 caracteres\n- Tono: Visual y atractivo\n- Elementos:\n  * Gancho emocional o dato impactante al inicio\n  * 2-4 emojis estratégicamente colocados\n  * Terminar con pregunta o call-to-action\n- Accion: 3 llamadas a la acción (elígelos entre estos ejemplos o usa similares: 👉 Escríbeme si quieres empezar a automatizar. 🔗 Link en bio para más info. 🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios. 💬 Responde este post si quieres más información)\n- Hashtags: 4-6 relevantes, siempre incluye el hashtag `#OptimizaIApro` al final.\n\n### Facebook\n- Contenido: 150-250 caracteres\n- Tono: Informal pero informativo\n- Elementos:\n  * Pregunta o dato sorprendente al inicio\n  * 1-2 emojis máximo\n  * Call-to-action final\n- accion: 3 llamadas a la acción (elígelos entre estos ejemplos o usa similares: 👉 Escríbeme si quieres empezar a automatizar. 🔗 Link en bio para más info. 🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios. 💬 Responde este post si quieres más información)\n- Hashtags: 3-5 relevantes, siempre incluye el hashtag ` #OptimizaIApro` al final.\n\n## Ejemplo de Output\n{\n  \"instagram\": {\n    \"caption\": \"🏦 El CEO de Goldman Sachs alcanza nuevas alturas: $80M en bonos de retención + aumento del 26% 📈 David Solomon lidera un crecimiento histórico del 175% en acciones desde 2018. ¿Cuál crees que será su próximo movimiento? 🤔\",\n   \"accion\": [\"👉 Escríbeme si quieres empezar a automatizar.\", \"🔗 Link en bio para más info.\", \"🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios\"]\n   \"hashtags\": [\"#WallStreet\", \"#GoldmanSachs\", \"#Liderazgo\", \"#FinanzasGlobales\", \"#Banking\", \"#OptimizaIApro\"]\n  },\n  \"facebook\": {\n    \"content\": \"💰 ¿Qué harías con un bono de $80 millones? El CEO de Goldman Sachs, David Solomon, recibe esta recompensa tras lograr un crecimiento del 175% en acciones. ¡Cuéntanos tu opinión sobre esta mega-compensación! 🏦\",\n    \"accion\": [\"🔗 Link en bio para más info.\", \"🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios.\", \"💬 Responde este post si quieres más información.\"],\n    \"hashtags\": [\"#GoldmanSachs\", \"#WallStreet\", \"#FinanzasGlobales\", \"#OptimizaIApro\"]\n  }\n}\n\n## Instrucciones Adicionales\n1. Mantén consistencia en los datos clave entre plataformas\n2. Adapta el tono según la plataforma pero mantén la precisión\n3. Asegura que los hashtags sean relevantes y actuales\n4. Verifica que cada versión sea única pero alineada con e la idea central\n5. Respeta los límites de caracteres de cada plataforma"
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          496,
          128
        ],
        "id": "d546b8d2-8846-4bb3-bb04-56461489faa8",
        "name": "Redactor"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bfe4b7ee-0aac-4e38-9da3-18010109d00c",
                "name": "txtIdea",
                "value": "={{ $json.body.items[0].Idea }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          128
        ],
        "id": "f55bb97d-129b-44be-9577-7c26245d12b4",
        "name": "Idea"
      },
      {
        "parameters": {
          "model": "openai/gpt-4o-mini",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          336,
          256
        ],
        "id": "827e6cd5-609b-4cb8-8efa-52080cd1728e",
        "name": "gpt-4o-mini.Redacta",
        "credentials": {
          "openRouterApi": {
            "id": "fx7pdURTekgTilKM",
            "name": "OpenRouter.msn"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"source\": \"url o tema\",\n  \"scraped_summary\": [\n    { \"id\": 1, \"idea\": \"Frase resumen de la idea 1\" },\n    { \"id\": 2, \"idea\": \"Frase resumen de la idea 2\" },\n    { \"id\": 3, \"idea\": \"Frase resumen de la idea 3\" },\n    { \"id\": 4, \"idea\": \"Frase resumen de la idea 4\" },\n    { \"id\": 5, \"idea\": \"Frase resumen de la idea 5\" }\n  ]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1168,
          272
        ],
        "id": "c22d8b39-b094-459c-99d1-7c7a3ab2075d",
        "name": "Estructura.Analisis"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"instagram\": {\n    \"caption\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  },\n  \"facebook\": {\n    \"content\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  }\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          592,
          272
        ],
        "id": "7ecf0d4f-aeef-4829-9035-ac8df2c1765f",
        "name": "Estructura.Redacta"
      },
      {
        "parameters": {
          "amount": 25
        },
        "id": "49fbaf73-e0b9-42ba-aa47-c0dba8338bf3",
        "name": "Wait.25",
        "type": "n8n-nodes-base.wait",
        "position": [
          864,
          1360
        ],
        "webhookId": "47943f24-f20c-4f96-a977-8bd5628de897",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "/me/photos",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "url",
                  "value": "={{ $json.data.response.resultUrls[0] }}"
                },
                {
                  "name": "published",
                  "value": "false"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          448,
          720
        ],
        "id": "5f3c7574-0620-4105-b09e-2d3592b0652b",
        "name": "Facebook.Upload.Image",
        "credentials": {
          "facebookGraphApi": {
            "id": "ym2xOYOdM5h5E89o",
            "name": "Facebook.Optimiza"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "me/feed",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "message",
                  "value": "={{ $('Redactor').first().json.output.facebook.content }} {{ $('Redactor').first().json.output.facebook.hashtags }}\n\n{{ $('Redactor').first().json.output.facebook.accion[0] }}\n{{ $('Redactor').first().json.output.facebook.accion[1] }}\n{{ $('Redactor').first().json.output.facebook.accion[2] }}\n"
                },
                {
                  "name": "attached_media",
                  "value": "=[{{ $('MediaFbId').item.json.output }}]"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          656,
          592
        ],
        "id": "b9f6fbaf-def8-4aa6-b6b8-420311af390d",
        "name": "Facebook.Post.Carrusel",
        "credentials": {
          "facebookGraphApi": {
            "id": "ym2xOYOdM5h5E89o",
            "name": "Facebook.Optimiza"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d3c53e6-1f61-40dc-93aa-5b41bc01e934",
                "name": "taskId",
                "value": "={{ $('4oImageApiIo.Get').item.json.data.taskId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          1360
        ],
        "id": "7924f139-ff55-444c-a14a-24ba59423577",
        "name": "taskId"
      },
      {
        "parameters": {
          "amount": 15
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          832,
          912
        ],
        "id": "c26ea637-2fab-411f-b1f2-ff2c9718f022",
        "name": "Wait.15",
        "webhookId": "db1bf8b2-a335-43e9-9f06-43efb82e4b22"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          688,
          1056
        ],
        "id": "819a34a8-54ed-4ae8-98ba-d217190b2fbb",
        "name": "Wait.5",
        "webhookId": "ea433414-392a-4ebe-830c-3864fc6019ac"
      },
      {
        "parameters": {
          "amount": 4
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          656,
          720
        ],
        "id": "c6498409-ec12-43f5-8177-15ed5431da76",
        "name": "Wait.4",
        "webhookId": "c3535e7a-3af1-4f81-bf76-49dbe600e306"
      },
      {
        "parameters": {
          "content": "## Renovar Token: Facebook \n- Ingresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Copiar: Token de acceso\n- [Depurador de token de acceso\n](https://developers.facebook.com/tools/debug/accesstoken/)\n- Regresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Usar: me?fields=id,accounts\n- Copiar: access_token\n- Volver a conectar: Graph API ",
          "height": 224,
          "width": 400,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          944
        ],
        "typeVersion": 1,
        "id": "5fb3fc62-b3f0-4403-9ea1-409c4744dd3e",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "If": {
        "main": [
          [
            {
              "node": "IdeasToString",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send.Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Limit.10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Personalizacion": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escritor": {
        "main": [
          [
            {
              "node": "ArrayToString",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Limit.1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "4oImageApiIo.Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Ready?": {
        "main": [
          [
            {
              "node": "taskId",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait.25",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4oImageApiIo.Post": {
        "main": [
          [
            {
              "node": "4oImageApiIo.Get",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4oImageApiIo.Get": {
        "main": [
          [
            {
              "node": "Is Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IdeasToString": {
        "main": [
          [
            {
              "node": "Escritor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ArrayToString": {
        "main": [
          [
            {
              "node": "Personalizacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analizador": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Idea",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gpt-4o-mini.Analiza": {
        "ai_languageModel": [
          [
            {
              "node": "Analizador",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Limit.10": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit.1": {
        "main": [
          [
            {
              "node": "Send.FinCarrusel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MediaFbId": {
        "main": [
          [
            {
              "node": "Facebook.Post.Carrusel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "media_fbid",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "4oImageApiIo.Get1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4oImageApiIo.Get1": {
        "main": [
          [
            {
              "node": "Facebook.Upload.Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "media_fbid": {
        "main": [
          [
            {
              "node": "MediaFbId",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "children": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Instagram.Push.Carrusel": {
        "main": [
          [
            {
              "node": "Wait.15",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Instagram.Upload.Image": {
        "main": [
          [
            {
              "node": "Wait.5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Instagram.Push.Carrusel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [
            {
              "node": "children",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "4oImageApiIo.Get2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4oImageApiIo.Get2": {
        "main": [
          [
            {
              "node": "Instagram.Upload.Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redactor": {
        "main": [
          [
            {
              "node": "Analizador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Idea": {
        "main": [
          [
            {
              "node": "Redactor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gpt-4o-mini.Redacta": {
        "ai_languageModel": [
          [
            {
              "node": "Redactor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Estructura.Analisis": {
        "ai_outputParser": [
          [
            {
              "node": "Analizador",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Estructura.Redacta": {
        "ai_outputParser": [
          [
            {
              "node": "Redactor",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Wait.25": {
        "main": [
          [
            {
              "node": "4oImageApiIo.Get",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook.Upload.Image": {
        "main": [
          [
            {
              "node": "Wait.4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "taskId": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait.15": {
        "main": [
          [
            {
              "node": "Instagram.Post.Carrusel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait.5": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait.4": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "0aeb7d0a-5c0e-4ba7-9a33-c98858422eef",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "IdeasToString",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send.Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit.10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalizacion": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escritor": {
      "main": [
        [
          {
            "node": "ArrayToString",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit.1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4oImageApiIo.Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "taskId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait.25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4oImageApiIo.Post": {
      "main": [
        [
          {
            "node": "4oImageApiIo.Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4oImageApiIo.Get": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IdeasToString": {
      "main": [
        [
          {
            "node": "Escritor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ArrayToString": {
      "main": [
        [
          {
            "node": "Personalizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizador": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini.Analiza": {
      "ai_languageModel": [
        [
          {
            "node": "Analizador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit.10": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit.1": {
      "main": [
        [
          {
            "node": "Send.FinCarrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MediaFbId": {
      "main": [
        [
          {
            "node": "Facebook.Post.Carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "media_fbid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4oImageApiIo.Get1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4oImageApiIo.Get1": {
      "main": [
        [
          {
            "node": "Facebook.Upload.Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "media_fbid": {
      "main": [
        [
          {
            "node": "MediaFbId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "children": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram.Push.Carrusel": {
      "main": [
        [
          {
            "node": "Wait.15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram.Upload.Image": {
      "main": [
        [
          {
            "node": "Wait.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Instagram.Push.Carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "children",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4oImageApiIo.Get2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4oImageApiIo.Get2": {
      "main": [
        [
          {
            "node": "Instagram.Upload.Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redactor": {
      "main": [
        [
          {
            "node": "Analizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea": {
      "main": [
        [
          {
            "node": "Redactor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini.Redacta": {
      "ai_languageModel": [
        [
          {
            "node": "Redactor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Estructura.Analisis": {
      "ai_outputParser": [
        [
          {
            "node": "Analizador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Estructura.Redacta": {
      "ai_outputParser": [
        [
          {
            "node": "Redactor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait.25": {
      "main": [
        [
          {
            "node": "4oImageApiIo.Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook.Upload.Image": {
      "main": [
        [
          {
            "node": "Wait.4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "taskId": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait.15": {
      "main": [
        [
          {
            "node": "Instagram.Post.Carrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait.5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait.4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-11T16:17:29.447Z",
  "id": "UYV4F0QBv68hb6oD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Baserow.Optimiza.Carrusel.Imagenes",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "447861b0-ecb3-4c7b-86f4-523681c8821b",
              "leftValue": "={{ $json.output.scraped_summary }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        400
      ],
      "id": "64b6d7c2-dad7-4f9c-b01b-d092d5b1224b",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1152,
        384
      ],
      "id": "75d1fca6-609d-4108-8a0c-4fe39ba5c7c9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un agente IA altamente especializado en la creación de prompts detallados y de alta calidad para la generación de imágenes de infografía, optimizados para carruseles de Instagram. Tu objetivo es transformar el esquema de cada slide proporcionado en una única prompt final y completa, diseñada para ser directamente procesable por un modelo avanzado de generación de imágenes como el de ChatGPT.\n\nConsideraciones Clave:\n\nContexto de Empresa: Automatización de Procesos con IA. Esto implica un estilo visual que transmita modernidad, eficiencia, tecnología, innovación y profesionalismo.\n\nPaleta de Colores: Utiliza exclusivamente la siguiente paleta de colores. Sé explícito con ellos:\n\nAzul: #007bff (para elementos corporativos, títulos principales, íconos de información).\n\nGris: #495057 (para texto principal, fondos suaves, elementos secundarios).\n\nBlanco: #ffffff (para fondos limpios, texto contrastante en fondos oscuros).\n\nNaranja: #fd7e14 (para acentos, elementos que requieran atención, llamadas a la acción secundarias).\n\nVerde Lima: #28a745 (para énfasis, beneficios, elementos positivos, llamadas a la acción principales).\n\nTipografía General: La tipografía principal para todo el carrusel es Futura. Varía entre sus pesos (Light, Regular, Medium, Bold) para la jerarquía visual.\n\nEstilos de Iconos:\n\nPrioriza el estilo Minimalista (que abarca Flat Design, Lineal y Glifo por su simplicidad).\n\nPuedes incorporar íconos Isométricos (sin excesivo detalle) para representar sistemas, arquitecturas o flujos complejos, pero con moderación y claridad.\n\nEvita íconos dibujados a mano, realistas, o con excesivas texturas/degradados.\n\nTu Salida Requerida: Un objeto JSON EXACTO con la siguiente estructura. Debe contener un elemento dentro de prompts por cada slide que recibas:\n\nJSON\n{\n  \"estilo\": \"infográfico\",\n  \"formato\": \"1:1\",\n  \"resolucion\": \"alta\",\n  \"tipografia\": \"Futura\",\n  \"prompts\": [\n    {\n      \"slide\": <numero de slide 1>,\n      \"prompt\": \"<instrucción infográfico para slide 1>\"\n    },\n    {\n      \"slide\": <numero de slide 2>,\n      \"prompt\": \"<instrucción infográfico para slide 2>\"\n    },\n    // ... y así sucesivamente para cada slide\n  ]\n}\n\nPara cada \"prompt\" (instrucción específica por slide), sigue estas directrices estrictas:\n\nInicio:\nSiempre comienza con \"Estilo infográfico, centrado en automatización con IA: \".\n\nFondo:\nDescribe el fondo de forma precisa, utilizando solo los colores de la paleta. Ejemplo: \"fondo blanco puro\", \"fondo degradado suave de gris a blanco\", \"fondo azul claro con una sección inferior en gris suave\". NO debe haber fondos transparentes.\n\nGráficos/Diagramas/Íconos:\nEspecifica el tipo de gráfico (barras, pastel, embudo, etc.) o diagrama, y su diseño (ej. \"gráfico de barras minimalista\", \"diagrama de flujo lineal\").\n\nIntegra los íconos de forma coherente con el estilo seleccionado (Minimalista: Flat, Lineal, Glifo; o Isométrico). Sé explícito sobre el estilo del ícono (ej. \"icono de engranaje en estilo Flat Design con color azul\", \"icono de flecha en estilo Lineal de color naranja\", \"icono de 'check' en estilo Glifo de color verde lima\") y su ubicación.\n\nAsegura que los elementos visuales reflejen el tema de automatización, datos, eficiencia, IA, tecnología.\n\nTexto:\nDetalla la ubicación, tamaño, peso y color del texto.\n\nObligatorio:\nEspecifica Fuente Futura para todo el texto.\n\nUtiliza los colores de la paleta para el texto (ej. \"título en Futura Bold de color azul #007bff\", \"texto secundario en Futura Regular de color gris #495057\", \"énfasis en Futura Medium de color naranja #fd7e14\").\n\nIncorpora el título y la descripción del slide de forma clara y concisa.\n\nPaleta de Colores:\nAplica los colores definidos con sus respectivos códigos hex cuando sea posible para asegurar la precisión. Por ejemplo: azul #007bff, gris #495057, blanco #ffffff, naranja #fd7e14, verde lima #28a745.\n\nNarrativa de Venta:\nCada slide debe contribuir a una narrativa que guíe al lector desde la identificación de un problema o necesidad hasta una solución ofrecida por la automatización con IA, culminando en una clara llamada a la acción (CTA) en el último slide. La descripción del prompt debe reflejar esta progresión.\n\nEjemplo de Output con las mejoras:\n\nJSON\n\n{\n  \"estilo\": \"infográfico\",\n  \"formato\": \"1:1\",\n  \"resolucion\": \"alta\",\n  \"tipografia\": \"Futura\",\n  \"prompts\": [\n    {\n      \"slide\": 1,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Crea una portada para un carrusel de 5 slides titulado 'Optimiza tu Negocio con IA'. Fondo blanco puro #ffffff con una sección inferior suavemente degradada de gris claro #495057 a blanco. En la parte superior, un gran título centrado en Futura Bold de color azul #007bff: 'Optimiza tu Negocio con IA'. Debajo del título, un icono de cerebro interconectado en estilo Flat Design con nodos luminosos en color verde lima #28a745, flanqueado por dos flechas de proceso circulares en estilo Lineal de color gris #495057. Pequeño subtítulo debajo del ícono en Futura Light de color gris #495057: 'Automatización inteligente para resultados superiores'.\"\n    },\n    {\n      \"slide\": 2,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Identifica tus puntos de dolor. Fondo blanco puro #ffffff con una franja superior fina en azul #007bff. Un diagrama de embudo minimalista en el centro, con tres secciones horizontales etiquetadas 'Tareas Repetitivas', 'Errores Manuales' y 'Costos Ocultos', cada sección en tonos de gris #495057 a azul #007bff. A la izquierda del embudo, un icono de 'X' en estilo Glifo de color naranja #fd7e14. Texto a la derecha del embudo: Título '1. Desafíos Comunes' en Futura Bold de color azul #007bff, y debajo en Futura Regular de color gris #495057: 'Identifica dónde tu negocio pierde tiempo y recursos. La IA puede transformar estas áreas en eficiencia'.\"\n    },\n    {\n      \"slide\": 3,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Cómo la IA Transforma. Fondo gris claro #495057. Sección central con tres paneles verticales, cada uno con un icono distintivo: 'Eficiencia' (icono de reloj con flecha en estilo Flat Design verde lima #28a745), 'Precisión' (icono de lupa con check en estilo Flat Design azul #007bff), 'Escalabilidad' (icono de crecimiento en estilo Flat Design naranja #fd7e14). Títulos de panel en Futura Medium blanco #ffffff, y descripciones cortas en Futura Light blanco #ffffff. Líneas divisorias sutiles entre paneles en blanco. Un pequeño diagrama de flujo lineal horizontal debajo de los paneles conectando 'Problema' a 'Solución IA' a 'Beneficio'.\"\n    },\n    {\n      \"slide\": 4,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Casos de Éxito y Aplicaciones. Fondo blanco puro #ffffff. Un gráfico de barras minimalista que muestra un aumento significativo de 'Productividad' y 'Reducción de Costos', usando barras en azul #007bff y verde lima #28a745. A la derecha, tres cajas de texto apiladas con iconos en estilo Lineal de color gris #495057: 'Atención al Cliente (chatbot)', 'Gestión de Datos (análisis)', 'Logística (optimización de rutas)'. Título principal en la parte superior '3. Impacto Real de la IA' en Futura Bold azul #007bff, con descripciones cortas de cada caso en Futura Regular gris #495057.\"\n    },\n    {\n      \"slide\": 5,\n      \"prompt\": \"Estilo infográfico, centrado en automatización con IA: Tu Próximo Paso. Fondo degradado de azul #007bff a blanco #ffffff. Un gran icono de 'apretón de manos' o 'engranaje con flecha' en estilo Isométrico, de color azul oscuro #007bff y acentos en verde lima #28a745, ocupando el centro inferior. Título '4. ¡Es Hora de Automatizar!' en Futura Bold blanco #ffffff en la parte superior. Debajo del título, un botón simulado grande en color verde lima #28a745 con el texto 'Agenda una Demostración Gratuita' en Futura Bold blanco #ffffff. Iconos de teléfono, email y calendario en estilo Lineal gris #495057 dispersos alrededor del botón.\"\n    }\n  ]\n}",
              "role": "system"
            },
            {
              "content": "={{ $json.combined_slides_text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        384
      ],
      "id": "6867d9ad-b204-40bb-8be1-2ad8efbe4a1f",
      "name": "Personalizacion",
      "credentials": {
        "openAiApi": {
          "id": "eLbN9zGBjEdfzRwe",
          "name": "OpenAi.msn"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un copywriter especializado en contenido técnico para Instagram.\n\nVas a recibir un texto que resume conceptos clave extraídos de un artículo técnico.\n\nTu tarea:\n\nReescribir cada idea en 1 frase impactante, técnica y clara para un carrusel de Instagram.\n\nMantén el tema principal de cada idea (no cambies de tema).\n\nUsa estructura de mini historia en cada frase:\n\n➔ Presenta brevemente el problema ➔ Menciona el impacto ➔ Insinúa solución o esperanza.\n\nEl tono debe ser profesional, informativo y atractivo (no sensacionalista, no clickbait vacío).\n\nCada frase debe tener entre 12 y 20 palabras máximo.\n\nEL numero de slides dependera de el tema, sin embargo el limite máximo es de 10\n\nDevuélvelo en el siguiente formato JSON:\n\n{\n  \"slides\": [\n    { \"slide\": 1, \"text\": \"Frase lista para Slide 1\" },\n    { \"slide\": 2, \"text\": \"Frase lista para Slide 2\" },\n    { \"slide\": 3, \"text\": \"Frase lista para Slide 3\" },\n    { \"slide\": 4, \"text\": \"Frase lista para Slide 4\" },\n    { \"slide\": 5, \"text\": \"Frase lista para Slide 5\" }\n  ]\n}\n\nEJEMPLOS\n\nIdea Original | Reescritura Mejorada\n\n84% de fraude en ATMs, necesidad de IoT seguro | \"El 84% de los fraudes en ATMs revelan la urgencia de reforzar la conectividad IoT como defensa principal.\"\n\nIoT encripta y detecta fraudes | \"La encriptación IoT permite detectar amenazas en tiempo real antes de que los atacantes actúen.\"\n\nRed de ATMs desconectados = vulnerabilidad | \"Un cajero desconectado es un blanco perfecto: el uptime IoT es vital para la seguridad continua.\"\n\nMonitoreo IoT detecta amenazas temprano | \"Con monitoreo IoT, los ataques se detectan y neutralizan antes de comprometer los cajeros automáticos.\"\n\nSeguridad integral: IoT + físico + humano | \"La seguridad efectiva combina conectividad segura, protección física y supervisión humana estratégica.\"\n\nSi recibes un texto que tu pienses que no hace mucho sentido corrijelo y adaptalo para que haga sentido",
              "role": "system"
            },
            {
              "content": "={{ $json.ideas_text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        384
      ],
      "id": "cac2ac49-2166-434e-8d7c-508eeba14adf",
      "name": "Escritor",
      "credentials": {
        "openAiApi": {
          "id": "eLbN9zGBjEdfzRwe",
          "name": "OpenAi.msn"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        1248
      ],
      "id": "159c3dae-b7f6-4022-b327-fed74c08e69b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac50759b-e2f3-4efd-a2af-f28b7d209b45",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCESS"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6fbbee5-be6d-4a02-808e-97c42db139be",
      "name": "Is Ready?",
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        1296
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"size\": \"2:3\",\n  \"isEnhance\": false,\n  \"uploadCn\": false\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        1296
      ],
      "id": "faf5f9b9-bae3-44e2-a7e5-929af4273312",
      "name": "4oImageApiIo.Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BCtFCQIPro12mTQP",
          "name": "4oImageApi.gmail"
        }
      }
    },
    {
      "parameters": {
        "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1296
      ],
      "id": "f9480bea-e389-4eb7-b803-8f8e556a5ded",
      "name": "4oImageApiIo.Get",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BCtFCQIPro12mTQP",
          "name": "4oImageApi.gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Accedemos al arreglo de ideas\nconst input = items[0].json.output.scraped_summary;\n\n// Unimos todas las ideas en un solo string con formato de lista numerada\nconst ideasText = input.map(entry => `${entry.id}.${entry.idea}`).join('\\n\\n');\n\n// Devolvemos el string como único output\nreturn [\n  {\n    json: {\n      ideas_text: ideasText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "id": "91adb885-37b5-4f56-b447-691d737cc20b",
      "name": "IdeasToString"
    },
    {
      "parameters": {
        "jsCode": "// Accedemos al array de slides\n\nconst slides = items[0].json.message.content.slides;\n\n// Unimos todos los textos de los slides en un solo string\nconst combinedText = slides.map(slide => `${slide.slide}. ${slide.text}`).join('\\n\\n');\n\n// Devolvemos el resultado como un solo campo\nreturn [\n  {\n    json: {\n      combined_slides_text: combinedText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        384
      ],
      "id": "7af8100d-3836-4bcc-b39c-d15ef64ed221",
      "name": "ArrayToString"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Texto a analizar: Genera un carrusel sobre \"{{ $('Idea').item.json.txtIdea }}\"",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un agente inteligente que tiene acceso a una herramienta capaz de investigar en internet. \n\nHerramientas\n1. ChatGPT: IA que puede buscar en internet\n\nInstrucciones:\nRecibirás un tema a investigar.\n\nDebes:\nExtrae las ideas principales que expliquen todo entendiblemente, el carrusel debe tener de 7-10 slides dependiendo la complejidad y extensión del contenido\nEs importante que el carrusel siga un storytelling y sea congruente\nLas ideas deben ser claras, relevantes y enfocadas en aportar valor, porque esto lo ocupare para hacer un carrusel despúes entonces debe contener información completa.\n\nIMPORTANTE:\nIgnora información irrelevante como menús, comentarios o contenido promocional.\n\nResponde en formato JSON, así:\n{\n  \"source\": \"url o tema\",\n  \"scraped_summary\": [\n    { \"id\": 1, \"idea\": \"Frase resumen de la idea 1\" },\n    { \"id\": 2, \"idea\": \"Frase resumen de la idea 2\" },\n    { \"id\": 3, \"idea\": \"Frase resumen de la idea 3\" },\n    { \"id\": 4, \"idea\": \"Frase resumen de la idea 4\" },\n    { \"id\": 5, \"idea\": \"Frase resumen de la idea 5\" }\n  ]\n}\n\nEs importante que todas las ideas vayan en orden de storytelling y hagan sentido la pasada con la nueva"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        128
      ],
      "id": "f044629b-80d2-4851-85de-16ab77f6edf2",
      "name": "Analizador"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "67bb6b74-2d70-4cbb-b164-d55acb759f8c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -272,
        128
      ],
      "id": "a2284026-e4d2-41e9-a53b-8d6e19a803eb",
      "name": "Webhook",
      "webhookId": "67bb6b74-2d70-4cbb-b164-d55acb759f8c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f86894d-2123-4e06-bbe1-b839c7807797",
              "leftValue": "={{ $json.body.items[0].Estado.value }}",
              "rightValue": "Generado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        128
      ],
      "id": "73558dc5-2e0c-41f7-8a40-44da2ac6ae90",
      "name": "Filter"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        272
      ],
      "id": "be57ed08-5aed-4d2a-b3f1-6260b3220360",
      "name": "gpt-4o-mini.Analiza",
      "credentials": {
        "openRouterApi": {
          "id": "fx7pdURTekgTilKM",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        16,
        1248
      ],
      "id": "55c5f9d9-7888-4611-8612-3e3da039513a",
      "name": "Limit.10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        944,
        1232
      ],
      "id": "c73df725-d90d-4b4e-a238-63d6f4a704c8",
      "name": "Limit.1"
    },
    {
      "parameters": {
        "content": "## Optimiza.ia.pro \n[Facebook.Api - vence: 14.09.2025](https://developers.facebook.com/tools/explorer/?method=GET&path=me%2Faccounts&version=v23.0)\n[Facebook](https://www.facebook.com/profile.php?id=61578064421780)\n[Instagram](https://www.instagram.com/optimiza.ia.pro/)\n[4oImageApi](https://4oimageapi.io/logs)\n\n## Costo: \n1 crédito = $ 0.05\n10 Imágenes: 60 créditos (1 img = 6 cred.)\n1 Post: 60 x 0.05 = $ 0.3 ~ S/ 1.14\n",
        "height": 272,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        608
      ],
      "typeVersion": 1,
      "id": "c4771c2f-1ada-4207-927d-3b71402d4c74",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "=1704819492",
        "text": "Fin del carrusel",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        1232
      ],
      "id": "e6a81b10-ac90-4dd8-abf3-37441d3eff75",
      "name": "Send.FinCarrusel",
      "webhookId": "c006ecae-1fc9-42b9-9c0e-64623f34f3c3",
      "credentials": {
        "telegramApi": {
          "id": "zxkALNj2uZW1uxoX",
          "name": "Telegram.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1704819492",
        "text": "No se pudo procesar la instrucción.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        688
      ],
      "id": "ea3d0340-a410-41e6-84f7-09d65480add8",
      "name": "Send.Error",
      "webhookId": "e48bf998-52aa-4cde-8741-58569786fc06",
      "credentials": {
        "telegramApi": {
          "id": "zxkALNj2uZW1uxoX",
          "name": "Telegram.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = items.map(item => {\n  return `{ \"media_fbid\": \"${item.json.media_fbid}\" }`;\n});\n\nreturn [\n  {\n    json: {\n      output: result.join(\", \")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        592
      ],
      "id": "315b07eb-09ba-4260-94de-61c3022c23dd",
      "name": "MediaFbId"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        704
      ],
      "id": "b7afb369-2609-41dc-9942-f608cbf266ec",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json[\"taskId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        720
      ],
      "id": "28e1abcb-299b-4275-9a06-2d14fa92b0ed",
      "name": "4oImageApiIo.Get1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BCtFCQIPro12mTQP",
          "name": "4oImageApi.gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      media_fbid: item.json.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        592
      ],
      "id": "8892fc09-6a15-4b56-b374-5e81feee3a1f",
      "name": "media_fbid"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841476072414746",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1008,
        912
      ],
      "id": "18126b72-558f-4f82-8754-86da7fd82af0",
      "name": "Instagram.Post.Carrusel",
      "credentials": {
        "facebookGraphApi": {
          "id": "q07PnzaLdq09L9OE",
          "name": "Instagram.Optimiza"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      children: item.json.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        912
      ],
      "id": "a5153d42-0131-41f5-99b1-76ccdf2190fd",
      "name": "children"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841476072414746",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $('Redactor').first().json.output.instagram.caption }} {{ $('Redactor').first().json.output.instagram.hashtags }}\n\n{{ $('Redactor').first().json.output.instagram.accion[0] }}\n{{ $('Redactor').first().json.output.instagram.accion[1] }}\n{{ $('Redactor').first().json.output.instagram.accion[2] }}"
              },
              {
                "name": "media_type",
                "value": "CAROUSEL"
              },
              {
                "name": "children",
                "value": "=[ {{ $json.output }} ]"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        672,
        912
      ],
      "id": "069fb2ed-d8bc-4426-8edb-dae01ffdefe1",
      "name": "Instagram.Push.Carrusel",
      "credentials": {
        "facebookGraphApi": {
          "id": "q07PnzaLdq09L9OE",
          "name": "Instagram.Optimiza"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841476072414746",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.data.response.resultUrls[0] }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        480,
        1056
      ],
      "id": "022fb15f-f11c-4c14-881a-4040a832d1c0",
      "name": "Instagram.Upload.Image",
      "credentials": {
        "facebookGraphApi": {
          "id": "q07PnzaLdq09L9OE",
          "name": "Instagram.Optimiza"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = items.map(item => {\n  return `\"${item.json.children}\"`;\n});\n\nreturn [\n  {\n    json: {\n      output: result.join(\", \")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        912
      ],
      "id": "7eb7a76c-b7ba-412c-b527-0deea2b70866",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        1040
      ],
      "id": "fb2c3065-f910-4c6b-94ec-f123ee23f1ab",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "url": "https://4oimageapiio.erweima.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json[\"taskId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        1056
      ],
      "id": "b6872bc5-5b44-4c50-bf06-edde95a7fa4d",
      "name": "4oImageApiIo.Get2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BCtFCQIPro12mTQP",
          "name": "4oImageApi.gmail"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.txtIdea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## Contexto\nEres un experto en marketing digital y comunicación multiplataforma. Tu tarea es transformar ideas sobre Inteligencia Artificial en contenido optimizado para diferentes redes sociales, manteniendo la esencia de la idea pero adaptándolo al tono y estilo único de cada plataforma. El output debe estar en español y en formato JSON estructurado.\n\n## Input\nRecibirás una idea en formato texto plano.\n\n## Output Format\nDebes generar un JSON con la siguiente estructura:\n\nFormato JSON\n{\n  \"instagram\": {\n    \"caption\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  },\n  \"facebook\": {\n    \"content\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  }\n}\n\n## Características Específicas por Plataforma\n\n### Instagram\n- Caption: 150-220 caracteres\n- Tono: Visual y atractivo\n- Elementos:\n  * Gancho emocional o dato impactante al inicio\n  * 2-4 emojis estratégicamente colocados\n  * Terminar con pregunta o call-to-action\n- Accion: 3 llamadas a la acción (elígelos entre estos ejemplos o usa similares: 👉 Escríbeme si quieres empezar a automatizar. 🔗 Link en bio para más info. 🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios. 💬 Responde este post si quieres más información)\n- Hashtags: 4-6 relevantes, siempre incluye el hashtag `#OptimizaIApro` al final.\n\n### Facebook\n- Contenido: 150-250 caracteres\n- Tono: Informal pero informativo\n- Elementos:\n  * Pregunta o dato sorprendente al inicio\n  * 1-2 emojis máximo\n  * Call-to-action final\n- accion: 3 llamadas a la acción (elígelos entre estos ejemplos o usa similares: 👉 Escríbeme si quieres empezar a automatizar. 🔗 Link en bio para más info. 🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios. 💬 Responde este post si quieres más información)\n- Hashtags: 3-5 relevantes, siempre incluye el hashtag ` #OptimizaIApro` al final.\n\n## Ejemplo de Output\n{\n  \"instagram\": {\n    \"caption\": \"🏦 El CEO de Goldman Sachs alcanza nuevas alturas: $80M en bonos de retención + aumento del 26% 📈 David Solomon lidera un crecimiento histórico del 175% en acciones desde 2018. ¿Cuál crees que será su próximo movimiento? 🤔\",\n   \"accion\": [\"👉 Escríbeme si quieres empezar a automatizar.\", \"🔗 Link en bio para más info.\", \"🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios\"]\n   \"hashtags\": [\"#WallStreet\", \"#GoldmanSachs\", \"#Liderazgo\", \"#FinanzasGlobales\", \"#Banking\", \"#OptimizaIApro\"]\n  },\n  \"facebook\": {\n    \"content\": \"💰 ¿Qué harías con un bono de $80 millones? El CEO de Goldman Sachs, David Solomon, recibe esta recompensa tras lograr un crecimiento del 175% en acciones. ¡Cuéntanos tu opinión sobre esta mega-compensación! 🏦\",\n    \"accion\": [\"🔗 Link en bio para más info.\", \"🧠 ¿Ya usas IA en tu negocio? Cuéntame en los comentarios.\", \"💬 Responde este post si quieres más información.\"],\n    \"hashtags\": [\"#GoldmanSachs\", \"#WallStreet\", \"#FinanzasGlobales\", \"#OptimizaIApro\"]\n  }\n}\n\n## Instrucciones Adicionales\n1. Mantén consistencia en los datos clave entre plataformas\n2. Adapta el tono según la plataforma pero mantén la precisión\n3. Asegura que los hashtags sean relevantes y actuales\n4. Verifica que cada versión sea única pero alineada con e la idea central\n5. Respeta los límites de caracteres de cada plataforma"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        128
      ],
      "id": "d546b8d2-8846-4bb3-bb04-56461489faa8",
      "name": "Redactor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfe4b7ee-0aac-4e38-9da3-18010109d00c",
              "name": "txtIdea",
              "value": "={{ $json.body.items[0].Idea }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        128
      ],
      "id": "f55bb97d-129b-44be-9577-7c26245d12b4",
      "name": "Idea"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        256
      ],
      "id": "827e6cd5-609b-4cb8-8efa-52080cd1728e",
      "name": "gpt-4o-mini.Redacta",
      "credentials": {
        "openRouterApi": {
          "id": "fx7pdURTekgTilKM",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"url o tema\",\n  \"scraped_summary\": [\n    { \"id\": 1, \"idea\": \"Frase resumen de la idea 1\" },\n    { \"id\": 2, \"idea\": \"Frase resumen de la idea 2\" },\n    { \"id\": 3, \"idea\": \"Frase resumen de la idea 3\" },\n    { \"id\": 4, \"idea\": \"Frase resumen de la idea 4\" },\n    { \"id\": 5, \"idea\": \"Frase resumen de la idea 5\" }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        272
      ],
      "id": "c22d8b39-b094-459c-99d1-7c7a3ab2075d",
      "name": "Estructura.Analisis"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"instagram\": {\n    \"caption\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  },\n  \"facebook\": {\n    \"content\": \"string\",\n    \"accion\": [\"string\"],\n    \"hashtags\": [\"string\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        272
      ],
      "id": "7ecf0d4f-aeef-4829-9035-ac8df2c1765f",
      "name": "Estructura.Redacta"
    },
    {
      "parameters": {
        "amount": 25
      },
      "id": "49fbaf73-e0b9-42ba-aa47-c0dba8338bf3",
      "name": "Wait.25",
      "type": "n8n-nodes-base.wait",
      "position": [
        864,
        1360
      ],
      "webhookId": "47943f24-f20c-4f96-a977-8bd5628de897",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "/me/photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.data.response.resultUrls[0] }}"
              },
              {
                "name": "published",
                "value": "false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        448,
        720
      ],
      "id": "5f3c7574-0620-4105-b09e-2d3592b0652b",
      "name": "Facebook.Upload.Image",
      "credentials": {
        "facebookGraphApi": {
          "id": "ym2xOYOdM5h5E89o",
          "name": "Facebook.Optimiza"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me/feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Redactor').first().json.output.facebook.content }} {{ $('Redactor').first().json.output.facebook.hashtags }}\n\n{{ $('Redactor').first().json.output.facebook.accion[0] }}\n{{ $('Redactor').first().json.output.facebook.accion[1] }}\n{{ $('Redactor').first().json.output.facebook.accion[2] }}\n"
              },
              {
                "name": "attached_media",
                "value": "=[{{ $('MediaFbId').item.json.output }}]"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        656,
        592
      ],
      "id": "b9f6fbaf-def8-4aa6-b6b8-420311af390d",
      "name": "Facebook.Post.Carrusel",
      "credentials": {
        "facebookGraphApi": {
          "id": "ym2xOYOdM5h5E89o",
          "name": "Facebook.Optimiza"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d3c53e6-1f61-40dc-93aa-5b41bc01e934",
              "name": "taskId",
              "value": "={{ $('4oImageApiIo.Get').item.json.data.taskId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        1360
      ],
      "id": "7924f139-ff55-444c-a14a-24ba59423577",
      "name": "taskId"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        912
      ],
      "id": "c26ea637-2fab-411f-b1f2-ff2c9718f022",
      "name": "Wait.15",
      "webhookId": "db1bf8b2-a335-43e9-9f06-43efb82e4b22"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        1056
      ],
      "id": "819a34a8-54ed-4ae8-98ba-d217190b2fbb",
      "name": "Wait.5",
      "webhookId": "ea433414-392a-4ebe-830c-3864fc6019ac"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        720
      ],
      "id": "c6498409-ec12-43f5-8177-15ed5431da76",
      "name": "Wait.4",
      "webhookId": "c3535e7a-3af1-4f81-bf76-49dbe600e306"
    },
    {
      "parameters": {
        "content": "## Renovar Token: Facebook \n- Ingresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Copiar: Token de acceso\n- [Depurador de token de acceso\n](https://developers.facebook.com/tools/debug/accesstoken/)\n- Regresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Usar: me?fields=id,accounts\n- Copiar: access_token\n- Volver a conectar: Graph API ",
        "height": 224,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        944
      ],
      "typeVersion": 1,
      "id": "5fb3fc62-b3f0-4403-9ea1-409c4744dd3e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "iNdV46Bame2vCTJz",
    "timeSavedPerExecution": 60
  },
  "shared": [
    {
      "updatedAt": "2025-07-11T16:17:29.466Z",
      "createdAt": "2025-07-11T16:17:29.466Z",
      "role": "workflow:owner",
      "workflowId": "UYV4F0QBv68hb6oD",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-07-28T23:13:44.849Z",
      "createdAt": "2025-07-28T23:13:44.849Z",
      "id": "E7azoCbE6H7Fjix1",
      "name": "✨ Optimiza.ia.pro"
    },
    {
      "updatedAt": "2025-07-18T02:37:28.170Z",
      "createdAt": "2025-07-18T02:37:28.170Z",
      "id": "Za1YQUqDKWnwNOuD",
      "name": "🤖 IA al mando"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-25T17:41:01.000Z",
  "versionId": "0aeb7d0a-5c0e-4ba7-9a33-c98858422eef"
}