WorkflowsError.jomBusiness.msn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-28T11:37:52.577Z",
    "createdAt": "2025-11-28T11:37:52.577Z",
    "versionId": "ec1606d4-e30a-4efb-b87c-8ee6dc1ecaaa",
    "workflowId": "iNdV46Bame2vCTJz",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -160,
          48
        ],
        "id": "009b0cab-ca2f-4450-81d5-1498b11d68a8",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "chatId": "1704819492",
          "text": "=**URGENTE: Critical Error**\n\n**WorkFlow:** {{ $json.workflow.name }}\n**Error:** {{ $json.execution.error.message }}\n**Last Node Executed:** {{ $json.execution.lastNodeExecuted }}\n\n**Error Details:**\n{{ $json.execution.error.stack }}\n\n**Date $ Time:** {{ $now.format('dd-MM-yyyy HH:mm:ss') }}\n\n",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          80,
          -80
        ],
        "id": "8fa03401-3044-472b-87d0-dfed20747008",
        "name": "Send a text message",
        "webhookId": "47768359-131c-4dcd-9e2b-e3a0a44fb69e",
        "credentials": {
          "telegramApi": {
            "id": "zxkALNj2uZW1uxoX",
            "name": "Telegram.jomBusiness"
          }
        }
      },
      {
        "parameters": {
          "content": "## Opción Telegram \nDesactivar 'Append n8n Attribution' en 'Additional Fields', último modulo de Telegram.",
          "height": 144
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          -256
        ],
        "typeVersion": 1,
        "id": "2f3a4c23-0570-4ce5-ae2f-7139eed6a930",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "fromEmail": "\"Optimiza IA Soluciones creativas\" <hola@optimiza-ia.com>",
          "toEmail": "=jomBusiness@msn.com",
          "subject": "=💥 URGENTE: Critical Error",
          "html": "=<b>WorkFlow:</b> {{ $json.workflow.name }}<br/>\n<b>Error:</b> {{ $json.execution.error.message }}<br/>\n<b>Last Node Executed:</b> {{ $json.execution.lastNodeExecuted }}<br>\n<br>/\n<b>Error Details:</b><br/>\n{{ $json.execution.error.stack }}<br/>\n<br/>\n<b>Date $ Time:</b> {{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          80,
          112
        ],
        "id": "4238c80d-c793-48e4-a360-e357c143cf93",
        "name": "Send.Lead",
        "webhookId": "f4c94d16-2482-4d18-b3c3-41ae05868902",
        "credentials": {
          "smtp": {
            "id": "g9Le19jvw1BGykSt",
            "name": "SMTP.optimiza"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send.Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "ec1606d4-e30a-4efb-b87c-8ee6dc1ecaaa",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send.Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-09T14:17:09.474Z",
  "id": "iNdV46Bame2vCTJz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error.jomBusiness.msn",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        48
      ],
      "id": "009b0cab-ca2f-4450-81d5-1498b11d68a8",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1704819492",
        "text": "=**URGENTE: Critical Error**\n\n**WorkFlow:** {{ $json.workflow.name }}\n**Error:** {{ $json.execution.error.message }}\n**Last Node Executed:** {{ $json.execution.lastNodeExecuted }}\n\n**Error Details:**\n{{ $json.execution.error.stack }}\n\n**Date $ Time:** {{ $now.format('dd-MM-yyyy HH:mm:ss') }}\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -80
      ],
      "id": "8fa03401-3044-472b-87d0-dfed20747008",
      "name": "Send a text message",
      "webhookId": "47768359-131c-4dcd-9e2b-e3a0a44fb69e",
      "credentials": {
        "telegramApi": {
          "id": "zxkALNj2uZW1uxoX",
          "name": "Telegram.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "content": "## Opción Telegram \nDesactivar 'Append n8n Attribution' en 'Additional Fields', último modulo de Telegram.",
        "height": 144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -256
      ],
      "typeVersion": 1,
      "id": "2f3a4c23-0570-4ce5-ae2f-7139eed6a930",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fromEmail": "\"Optimiza IA Soluciones creativas\" <hola@optimiza-ia.com>",
        "toEmail": "=jomBusiness@msn.com",
        "subject": "=💥 URGENTE: Critical Error",
        "html": "=<b>WorkFlow:</b> {{ $json.workflow.name }}<br/>\n<b>Error:</b> {{ $json.execution.error.message }}<br/>\n<b>Last Node Executed:</b> {{ $json.execution.lastNodeExecuted }}<br>\n<br>/\n<b>Error Details:</b><br/>\n{{ $json.execution.error.stack }}<br/>\n<br/>\n<b>Date $ Time:</b> {{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        80,
        112
      ],
      "id": "4238c80d-c793-48e4-a360-e357c143cf93",
      "name": "Send.Lead",
      "webhookId": "f4c94d16-2482-4d18-b3c3-41ae05868902",
      "credentials": {
        "smtp": {
          "id": "g9Le19jvw1BGykSt",
          "name": "SMTP.optimiza"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-09T14:17:09.480Z",
      "createdAt": "2025-07-09T14:17:09.480Z",
      "role": "workflow:owner",
      "workflowId": "iNdV46Bame2vCTJz",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-20T02:24:32.000Z",
  "versionId": "ec1606d4-e30a-4efb-b87c-8ee6dc1ecaaa"
}