WorkflowsMy workflow 3.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historia": {
      "main": [
        [
          {
            "node": "Secciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Historia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Historia",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Secciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "historia.json": {
      "ai_outputParser": [
        [
          {
            "node": "Historia",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "secciones.json": {
      "ai_outputParser": [
        [
          {
            "node": "Secciones",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T03:50:13.197Z",
  "id": "L5KAjSDhk43bqQI2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1a612821-17a0-4825-8c2e-86aadf3753d9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=nombre: {{ $json.nombre }}\nactriz: {{ $json.actriz }}\npersonaje: {{ $json.personaje }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un narrador experto en crear textos narrativos para Shorts virales de YouTube.  \n\nDirectrices claras:  \n- Idioma: español.  \n\n## Título  \n## Narración  \n\n- Título:  \n  - Máximo 3 palabras.  \n  - No usar puntos suspensivos ni puntuación innecesaria.  \n  - Evitar artículos innecesarios; hacerlo impactante y conciso.  \n\n- Narración:  \n  - Longitud total: entre **80 y 90 palabras**.  \n  - Tiempo: **presente**.  \n  - Persona: **tercera persona**, centrada **SOLO** en el personaje.  \n  - El personaje es siempre **{{$json.personaje}}** interpretado por **{{$json.actriz}}**.  \n  - El personaje **siempre camina** y realiza una actividad en solitario (ejemplos válidos: caminando en la playa, recorriendo un museo, adentrándose en el bosque).  \n  - No mencionar otras personas ni personajes.  \n  - Formato: un bloque de texto fluido (uno o dos párrafos). Sin diálogos ni citas.  \n\n- Originalidad: no repetir narraciones anteriores. Variar imágenes, verbos y metáforas.  \n- Evita instrucciones técnicas en la salida.  \n- Evita mencionar a la actriz **{{ $json.actriz }}**\n\n- **Adicional**: genera en inglés una descripción detallada del cosplay del personaje **{{$json.personaje}}** para la generación de imagen. Esta descripción debe incluir:\n  - Identificación del personaje: Mencionar el nombre del personaje (ej. 'Chun-Li', 'Catwoman').\n  - Atuendo principal: Tipo de ropa (ej. 'qipao-inspired dress', 'body-hugging leather suit'), color icónico y un material sugerente (ej. 'lustrous satin', 'stretch-latex', 'glossy vinyl'). Debe ser extremadamente ajustado, revelador y con cortes estratégicos (ej. 'deep side slits', 'plunging neckline', 'strategic cutouts').\n  - Elementos icónicos del personaje: Detalles clave que lo hagan reconocible (ej. 'ox horns hair buns', 'spiked bracelets', 'cat ears', 'utility belt'). Estos deben estar presentes y, si es posible, reinterpretados de forma sugerente.\n  - Accesorios: Incluir accesorios visibles y cualquier elemento característico del cosplay, manteniendo un estilo que realce la sexualidad (ej. 'fishnet stockings', 'high heels').\n  - Estilo general: Orientado a un público adulto (OnlyFans), muy sexy, erótico y que celebre la figura, sin dejar de ser inmediatamente reconocible como el personaje.\n\nFormato de salida esperado:  \n- Título: texto en español  \n- Narración: texto en español \n- Cosplay: texto en inlges"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Usa estos datos:  \n- Nombre: **{{$json.nombre}}**  \n- Personaje de cosplay: **{{$json.personaje}}**  \n- Actriz: **{{$json.actriz}}**  \n\nRequisitos de salida (obligatorio):  \n## Título  \n[Título de máximo 3 palabras]  \n\n## Narración  \n[Texto narrativo en español, 80–90 palabras, presente, tercera persona.  \nCentrado SOLO en {{$json.personaje}}, interpretado por {{$json.actriz}}.  \nEl personaje debe estar **siempre caminando** y actuando en solitario en un entorno tipo: playa, bosque, museo, ciudad nocturna, templo antiguo, desierto, jardín japonés o calle urbana.  \nEvita mencionar otras personas o personajes.]  \n\nConsejos de estilo (para mejorar viralidad):  \n- Usa verbos de movimiento y sensaciones táctiles (arena, paso, susurro del viento).  \n- Mantén ritmo para lectura en ~20–30 segundos.  \n- Sé evocador pero directo. No repitas estructuras comunes.  \n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ],
      "id": "3e96e5e0-3f3d-4872-aea6-2f11dd325585",
      "name": "Historia"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.narracion }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un experto en dividir narraciones en escenas y en construir prompts de imagen consistentes para generación IA.  \n\nDirectrices:  \n- Idioma de salida: **JSON válido** (sin texto extra fuera del JSON).  \n- Debes dividir la narración en **exactamente 5 secciones** según este orden narrativo:  \n  1. Inicio universal (imagen de espaldas, alejándose caminando, mirando a la cámara).  \n  2. Presentación del personaje (imagen de frente, acercándose a la cámara).  \n  3. Acción (imagen de espaldas, alejándose caminando, mirando a la cámara).  \n  4. Resultado visible (imagen de frente, acercándose a la cámara).  \n  5. Cierre evocador (imagen de espaldas, alejándose caminando, mirando a la cámara).  \n\n- Cada sección:  \n  - Longitud en español: **18–25 palabras** (aprox. 1–2 frases).  \n  - Tiempo: **presente**.  \n  - Persona: **tercera persona**.  \n  - Nunca mencionar otras personas o personajes.  \n\n- Para cada sección debes devolver:  \n  - `descripcion` (en español, 18–25 palabras).  \n  - `promptImagen` (prompt en inglés, incluye bloque fijo y **debe especificar que la imagen sea sugerente y atrevida**).  \n\nBloque fijo (usar en cada `promptImagen`):  \n- Devuelve **solo** el JSON:\n{\n  \"seccion1\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section + make the image suggestive and provocative\"\n  },\n  \"seccion2\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section + make the image suggestive and provocative\"\n  },\n  \"seccion3\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section + make the image suggestive and provocative\"\n  },\n  \"seccion4\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section + make the image suggestive and provocative\"\n  },\n  \"seccion5\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section + make the image suggestive and provocative\"\n  }\n}"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Toma esta narración en español:\n\"{{ $json.output.narracion }}\"\n\nBloque fijo (inglés). Mantener exactamente este bloque al inicio de cada promptImagen para máxima consistencia facial/corporal:\n\"({{ $('Info').item.json.personaje }} cosplay:1.5), 19-year-old curvy, blue eyes, (similar facial features to {{ $('Info').item.json.actriz }}:1.3), photorealistic, high quality, natural lighting, full body, full {{ $json.output.cosplay }}, accentuating bust and hips, confident and provocative expression.\"\n\nInstrucciones para construir `promptImagen` por sección:\n- Estructura: `<Bloque fijo>, Scene X:, [acción física en inglés centrada en caminar y el entorno, manteniendo la pose exacta de la sección]`.\n- Acciones y poses por sección (en inglés, cortas y concretas):\n  1. Sección 1 (Inicio universal, espalda): \"walking away from camera, back visible, looking over shoulder seductively, cherry blossom garden\"\n  2. Sección 2 (Presentación del personaje, frente): \"approaching camera, front visible, seductive pose, soft breeze, confident expression\"\n  3. Sección 3 (Acción, espalda): \"walking away from camera, back visible, playful glance over shoulder, sunlit path\"\n  4. Sección 4 (Resultado visible, frente): \"approaching camera, front visible, provocative posture, petals falling, alluring gaze\"\n  5. Sección 5 (Cierre evocador, espalda): \"walking away from camera, back visible, last seductive glance, immersive natural environment\"\n- Mantén el enfoque: el sujeto está siempre caminando en solitario. No incluir otros seres.\n\nSalida solicitada (ejemplo de estructura, devolver JSON real):\n{\n  \"seccion1\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of section 1\"\n  },\n  \"seccion2\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of section 2\"\n  },\n  \"seccion3\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of section 3\"\n  },\n  \"seccion4\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of section 4\"\n  },\n  \"seccion5\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of section 5\"\n  }\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        800,
        0
      ],
      "id": "a4bd3f26-66d7-4d55-86e2-6e23cf98536c",
      "name": "Secciones"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aca1ff2d-1879-4417-ad38-318f27d9d8ab",
              "name": "nombre",
              "value": "Nelida",
              "type": "string"
            },
            {
              "id": "bdc79c04-4335-4baa-b028-9a428235554e",
              "name": "actriz",
              "value": "Scarlett Johansson",
              "type": "string"
            },
            {
              "id": "11273768-284e-4510-a17b-442c88176842",
              "name": "personaje",
              "value": "Chun-li",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "92ce4bf7-6915-4a9f-8b19-268a12085749",
      "name": "Info"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        224
      ],
      "id": "04610ac0-0ee4-4396-8bcc-e9afce7fc033",
      "name": "gpt-4o-mini",
      "credentials": {
        "openRouterApi": {
          "id": "fx7pdURTekgTilKM",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"titulo\": \"string\",\n\t\"narracion\": \"string\",\n    \"cosplay\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        224
      ],
      "id": "29a95ccd-1cb3-4090-82fb-e7ee0a31437c",
      "name": "historia.json"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"seccion1\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section\"\n  },\n  \"seccion2\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section\"\n  },\n  \"seccion3\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section\"\n  },\n  \"seccion4\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section\"\n  },\n  \"seccion5\": {\n    \"descripcion\": \"short text\",\n    \"promptImagen\": \"fixed block + action of the section\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        224
      ],
      "id": "6756c08f-3e17-4465-953b-2c9f7149f247",
      "name": "secciones.json"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-15T03:50:13.211Z",
      "updatedAt": "2025-09-15T03:50:13.211Z",
      "role": "workflow:owner",
      "workflowId": "L5KAjSDhk43bqQI2",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-15T06:40:31.000Z",
  "versionId": "4199ebef-3a67-4bb6-a78f-a0ee10fb7862"
}