WorkflowsMy workflow.json
{
  "active": false,
  "connections": {
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T16:01:52.717Z",
  "id": "3D5mHrAKGxrYHrSX",
  "isArchived": false,
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "databaseId": 324695,
        "tableId": 747259,
        "limit": "={{ $json.Limite }}",
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 6301142,
                "operator": "single_select_equal",
                "value": "Proyecto"
              },
              {
                "field": 6301129,
                "value": "={{ $json['Mitología'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "01ed6a1e-716d-4cfb-9e00-b444026e2d2e",
      "name": "Get many rows",
      "credentials": {
        "baserowApi": {
          "id": "SNrllAn2sJZ5Lm7r",
          "name": "Baserow.msn"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 324695,
        "tableId": 747259,
        "rowId": "={{ $('Get a row').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6301132,
              "fieldValue": "={{ $('Get a row').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        240,
        144
      ],
      "id": "b8e14a5c-2132-4eea-b81b-29d551ca61d1",
      "name": "Update a row",
      "credentials": {
        "baserowApi": {
          "id": "SNrllAn2sJZ5Lm7r",
          "name": "Baserow.msn"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Generar MicroCuentos",
        "formDescription": "Batallas mitológicas entre Dioses",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Mitología",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Griega"
                  },
                  {
                    "option": "Nórdica"
                  },
                  {
                    "option": "Egipcia"
                  },
                  {
                    "option": "Crossover"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Limite",
              "fieldType": "number",
              "placeholder": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        -112
      ],
      "id": "0456e42c-c3a3-43ee-b568-4224cc10efec",
      "name": "On form submission",
      "webhookId": "09957d30-2c06-4a60-bc8a-be0c373d94b4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        128
      ],
      "id": "0afaf0e9-a5da-480e-bc56-b85ccc2d3160",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "databaseId": 324695,
        "tableId": 747259,
        "rowId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -48,
        144
      ],
      "id": "443f4ad1-5961-4f66-a47a-c37700c567db",
      "name": "Get a row",
      "credentials": {
        "baserowApi": {
          "id": "SNrllAn2sJZ5Lm7r",
          "name": "Baserow.msn"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-27T16:01:52.730Z",
      "updatedAt": "2025-11-27T16:01:52.730Z",
      "role": "workflow:owner",
      "workflowId": "3D5mHrAKGxrYHrSX",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T16:01:52.717Z",
  "versionId": "2a124de4-6b79-443e-8c5b-8ce6f8b4adff"
}