WorkflowsWhatsApp.AgenteIA.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-05T15:10:05.549Z",
    "createdAt": "2026-06-05T15:09:49.981Z",
    "versionId": "e4a51afd-36f8-4a34-acb1-5e3945d3fa74",
    "workflowId": "EzuhMMML1nuiHzh9",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d4b35b41-549a-4b23-b8f9-459e9bee0e80",
                "name": "body.key",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "4d21c639-5d85-4e57-b7d9-709ed4513ef8",
                "name": "body",
                "value": "={{ $json.body }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -608,
          64
        ],
        "id": "5edc2c12-9cfc-42b5-8e26-095f7e76b202",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b912eb55-c707-4caa-a2e9-6ea7eb2ecec3",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -416,
          64
        ],
        "id": "978f98c3-44f3-479f-ad68-8fc231cb80d6",
        "name": "Filtro fromMe"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -416,
          -80
        ],
        "id": "c01037d6-43bf-4816-b2db-1c47ecdee5fb",
        "name": "Ignorar mensaje propio"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "37e8d4ea-8815-4800-b3bd-f9c76884d803",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TEXTO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4d4dfaa6-272f-4f2b-9ce5-e6c1ba5b490a",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AUDIO"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -192,
          64
        ],
        "id": "da21f71f-f8b0-4872-9508-9c2068967c72",
        "name": "Switch tipo mensaje"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -208,
          336
        ],
        "id": "dd3ffa00-298a-4547-adb7-955b98515234",
        "name": "Ignorar tipo no soportado"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e209fc01-2976-4973-bca9-3b08b202e0a6",
                "name": "mensaje",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          80,
          -80
        ],
        "id": "bcba507c-35e2-4db2-876f-21dd7946f458",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3fb9ea6c-bd0d-401a-ab2d-d27a59c6ffa1",
                "name": "audioMessageKeyId",
                "value": "={{ $json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "ce02b96b-10c9-456b-8746-525ff16f67a0",
                "name": "remoteJid",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          80,
          80
        ],
        "id": "64f0166b-8b7a-4b24-9642-1706d904a16b",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://smartweb-web-evolution-api.izq3rn.easypanel.host/chat/getBase64FromMediaMessage/Optimiza.ia.pro",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"message\": $('Edit Fields').item.json.body.data, \"convertToMp4\": false } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          64,
          336
        ],
        "id": "01fde04b-0123-4893-811f-206081680a3c",
        "name": "Obtener audio (Evolution)",
        "credentials": {
          "httpHeaderAuth": {
            "id": "yKsf30NQFRM3zopJ",
            "name": "Replicate.msn"
          }
        }
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          288,
          336
        ],
        "id": "594fc43d-9bc4-4f12-b9a7-7d256bd6ec70",
        "name": "Base64 a binario"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          544,
          336
        ],
        "id": "e8fae3ae-e06e-42db-9311-35209f0fa350",
        "name": "Transcribir audio",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1966fbe0-8564-4acc-96b6-c38b26e8440e",
                "name": "mensaje",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          752,
          336
        ],
        "id": "953dad32-57ac-4ebe-a159-a64edd60f3e3",
        "name": "Edit Fields7"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          288,
          -64
        ],
        "id": "1949883b-a82f-4f1e-b392-c79f015d46c2",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0df1f23d-5e07-48c7-8cfe-1df7058c1a86",
                "name": "Input",
                "value": "={{ $json.mensaje }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          512,
          -64
        ],
        "id": "aa631f2f-edc4-4d0c-96de-42bf20209076",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "inputText": "={{ $json.Input }}",
          "categories": {
            "categories": [
              {
                "category": "RESERVA",
                "description": "El usuario quiere agendar una cita: inicia una nueva cita, pide horarios disponibles, da datos para agendar (nombre, correo, fecha, hora), corrige datos de una cita en proceso, pide horarios por franja (mañana, tarde, noche) o responde a las preguntas de contexto previas al agendamiento. Si el flujo de agendamiento ya está activo, cualquier respuesta dentro de ese contexto es RESERVA."
              },
              {
                "category": "CONVERSACION",
                "description": "El usuario hace preguntas o comentarios no relacionados con agendar una cita: dudas informativas sobre la empresa o sus servicios, temas generales o cualquier asunto fuera del proceso de reserva."
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1,
        "position": [
          720,
          -64
        ],
        "id": "03dd66d2-aa8d-41e7-88f0-f3670220caba",
        "name": "Clasificador intencion"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          704,
          160
        ],
        "id": "c2c639ea-10f3-4d89-b869-2b99458ebf16",
        "name": "Modelo Clasificador (gpt-4o-mini)",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Edit Fields2').item.json.Input }}",
          "options": {
            "systemMessage": "=Eres un asistente de reservación de citas para una agencia especializada en automatización con inteligencia artificial. Tu objetivo es entender al prospecto y agendar su cita de forma conversacional, profesional y cordial.\n\nHERRAMIENTAS DISPONIBLES (usa exactamente estos nombres):\n- DISPONIBILIDAD: consulta los horarios libres en la fecha indicada por el usuario.\n- AGENDAR: registra la cita en la base de datos (Cal.com).\n- Think: úsala para razonar si te pierdes o para verificar que tienes todos los datos antes de agendar.\n\nZONA HORARIA Y CONVERSIÓN A UTC (CRÍTICO):\n- El usuario está en zona horaria America/Lima (UTC-5, sin horario de verano).\n- Cal.com requiere las horas en formato ISO 8601 UTC: YYYY-MM-DDTHH:mm:ssZ.\n- Para convertir: hora local de Lima + 5 horas = hora UTC.\n  Ejemplo: si el usuario elige las 14:00 hora Lima del 2026-06-10, envía 2026-06-10T19:00:00Z en el campo start de AGENDAR.\n- Para DISPONIBILIDAD usa startTime a las 00:00:00 y endTime a las 23:59:59 del día solicitado, expresados en UTC.\n\nPREGUNTAS DE CONTEXTO (una por una; sirven para entender al prospecto, NUNCA para rechazarlo):\n1. ¿Cuál es tu objetivo principal al buscar automatización con IA?\n2. ¿Ya usas alguna herramienta de automatización o CRM? ¿Cuál?\n3. ¿Qué presupuesto tienes en mente? (solo para orientar la propuesta; nuestros planes inician desde 50 USD al mes)\nContinúa SIEMPRE con el agendamiento, sin importar las respuestas. No descartes a nadie por presupuesto.\n\nFLUJO DE AGENDAMIENTO:\n- Reconoce los datos ya proporcionados y no repitas preguntas. Pide solo lo que falte: nombre completo, correo y fecha.\n- Llama a DISPONIBILIDAD y muestra los horarios libres de forma clara.\n- Franjas horarias (hora Lima): mañana 00:00-11:59, tarde 12:00-17:00, noche 17:01-23:59. Si no hay disponibilidad en la franja pedida, ofrece otras opciones del mismo día.\n- Cuando el usuario elija una hora válida y ya tengas nombre, correo, fecha y hora: resume los datos, convierte la hora a UTC y llama a AGENDAR de inmediato, sin confirmaciones innecesarias.\n- Si se agenda bien: ¡Tu cita quedó reservada para el [fecha] a las [hora Lima]! Te enviamos un correo de confirmación.\n- Si hay error: Hubo un problema al confirmar la cita. ¿Podrías elegir otro horario?\n\nREGLAS:\n- Valida que el correo tenga @ y un dominio válido.\n- Nunca inventes horarios. Si cambia la fecha u hora, vuelve a llamar a DISPONIBILIDAD.\n- Interpreta correctamente frases como mañana por la mañana, próximo lunes, la siguiente semana, respecto a la fecha actual.\n- No menciones herramientas técnicas como n8n o Make. Habla de beneficios: ayudamos a las empresas a ahorrar tiempo automatizando tareas repetitivas con tecnología inteligente.\n- No pongas palabras entre comillas. No saltes párrafos innecesariamente.\n\nFecha y hora actual (referencia, America/Lima): {{ new Date($now).toLocaleString(\"es-PE\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\", hour12: true, timeZone: \"America/Lima\" }) }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1056,
          -208
        ],
        "id": "4525e830-7007-4809-8f51-9c6c3d89926d",
        "name": "AGENDADOR"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          1024,
          -32
        ],
        "id": "d2ac4996-dae6-4c3b-b95d-70f11342706d",
        "name": "Modelo Agendador (gpt-4o)",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Edit Fields2').item.json.Input }}",
          "options": {
            "systemMessage": "=<agentPrompt>\n  <context>\n    Eres el asistente de Optimiza.ia.pro, una empresa especializada en automatización e inteligencia artificial orientada a pequeñas y medianas empresas. Tu rol es ayudar a personas interesadas en los servicios de automatización a través de su plataforma SaaS, brindando soluciones simples, efectivas y personalizadas.\n  </context>\n  <role>\n    Asistente informativo profesional, humano y claro. Responde únicamente con base en la información de tu base de datos vectorial (RAG), con tono natural y conversacional.\n  </role>\n  <tools>\n    companyKnowledge: base de datos vectorial con toda la información de Optimiza.ia.pro.\n  </tools>\n  <services>\n    Si preguntan si ofrecen servicios de automatización, responde que trabajan con proyectos de automatización con IA, que nuestros planes inician desde 50 USD al mes con todo incluido, y ofrece agendar una llamada o contar más sobre las soluciones SaaS.\n  </services>\n  <ragRule>\n    Siempre consulta companyKnowledge antes de responder. Si no tienes una respuesta clara, no inventes; redirige a https://www.facebook.com/optimiza.ia.pro o propone agendar una cita.\n  </ragRule>\n  <contact>Correo: hola@optimiza-ia.com</contact>\n  <tone>Cercano, claro, profesional, sin sonar robótico. No uses emojis.</tone>\n  <limits>\n    No inventes información no respaldada por la base. No participes en temas fuera del enfoque. Redirige al sitio web si es necesario.\n  </limits>\n  <personaRules>\n    Responde en primera persona como parte del equipo de Optimiza.ia.pro. Si te preguntan algo personal o te felicitan, agradece y di que eres la IA de Optimiza.ia.pro y que lo harás llegar al equipo. Si preguntan cuántos clientes han tenido, responde con amabilidad que eso lo responde mejor el equipo.\n  </personaRules>\n</agentPrompt>\n\nTrata de no saltar párrafos. No menciones herramientas como Make.com ni n8n.com. Enfócate en los beneficios prácticos para el cliente: ayudamos a las empresas a ahorrar tiempo y esfuerzo automatizando tareas repetitivas con el apoyo de tecnología inteligente."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1040,
          208
        ],
        "id": "e162d262-356b-4c88-ab12-9c1556d5a6b1",
        "name": "CONVERSACION"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          976,
          368
        ],
        "id": "a9963987-b086-4530-877a-5524d9b1511b",
        "name": "Modelo Conversacion (gpt-4o-mini)",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1152,
          0
        ],
        "id": "4dab0792-7bec-46fd-b10c-180dbe651e7e",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "dptch5UJkIPuomI3",
            "name": "Postgres.contabo"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Recupera todos los espacios de citas libres disponibles de la base de datos.",
          "url": "https://api.cal.com/v1/slots",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendQuery": true,
          "specifyQuery": "json",
          "jsonQuery": "={\n  \"startTime\": \"{startTime}\",\n  \"endTime\": \"{endTime}\",\n  \"eventTypeId\": \"2848727\",\n  \"timeZone\": \"America/Lima\"\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "startTime",
                "description": "Fecha de inicio en ISO 8601 UTC. La hora siempre empieza a las 00:00:00.",
                "type": "string"
              },
              {
                "name": "endTime",
                "description": "Fecha de fin en ISO 8601 UTC. La hora siempre finaliza a las 23:59:59.",
                "type": "string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          1296,
          -16
        ],
        "id": "f400813c-c484-402a-9c8a-03b3e66d4c3c",
        "name": "DISPONIBILIDAD",
        "credentials": {
          "httpQueryAuth": {
            "id": "hy15mO7aQlU97oEM",
            "name": "Calc.Auth"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Guarda la cita en la base de datos.",
          "method": "POST",
          "url": "https://api.cal.com/v1/bookings",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpQueryAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"eventTypeId\": 2848727,\n  \"start\": \"{startTime}\",\n  \"responses\": {\n    \"name\": \"{userName}\",\n    \"email\": \"{userEmail}\",\n    \"location\": {\n      \"value\": \"online\",\n      \"optionValue\": \"\"\n    }\n  },\n  \"timeZone\": \"America/Lima\",\n  \"language\": \"es\",\n  \"metadata\": {}\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "startTime",
                "description": "Fecha/hora de inicio elegida por el usuario en ISO 8601 UTC.",
                "type": "string"
              },
              {
                "name": "userName",
                "description": "Nombre completo del usuario",
                "type": "string"
              },
              {
                "name": "userEmail",
                "description": "Email del usuario"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          1472,
          -16
        ],
        "id": "199112f6-eda8-4c04-b648-5edbdd2d2466",
        "name": "AGENDAR",
        "credentials": {
          "httpQueryAuth": {
            "id": "hy15mO7aQlU97oEM",
            "name": "Calc.Auth"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1,
        "position": [
          1632,
          -16
        ],
        "id": "d75610d9-c683-4991-aa0a-834a9650bcb7",
        "name": "Think"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "companyKnowledge",
          "toolDescription": "Usa esta herramienta para recuperar información sobre Optimiza.ia.pro",
          "qdrantCollection": {
            "__rl": true,
            "value": "smartweb_knowledge",
            "mode": "list",
            "cachedResultName": "smartweb_knowledge"
          },
          "topK": 10,
          "options": {
            "searchFilterJson": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.tenant\",\n      \"match\": { \"value\": \"optimiza\" }\n    }\n  ]\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.1,
        "position": [
          1248,
          416
        ],
        "id": "3c9ddbae-b2d0-4af4-90cf-dc5d0cfc8a50",
        "name": "Qdrant Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "CGQrp2xFcyYxuAVX",
            "name": "Qdrant.inHouse"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          1120,
          560
        ],
        "id": "70264054-1bc7-43a5-a08a-60202bc194ea",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "Optimiza.ia.pro",
          "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1504,
          -208
        ],
        "id": "9b3b76de-f11c-4bf5-9ddb-7dc164e630ce",
        "name": "Enviar texto (AGENDADOR)",
        "credentials": {
          "evolutionApi": {
            "id": "pkZphInpmEQfnYQG",
            "name": "Evolution.inHouse"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "Optimiza.ia.pro",
          "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1456,
          208
        ],
        "id": "12eb8cb6-41f9-4b41-b271-7e0469e87c61",
        "name": "Enviar texto (CONVERSACION)",
        "credentials": {
          "evolutionApi": {
            "id": "pkZphInpmEQfnYQG",
            "name": "Evolution.inHouse"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d60b9d1f-d38b-4f74-8a08-27203d85aa2a",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -816,
          64
        ],
        "id": "2cfb5460-e664-47aa-a60c-fa90e35be68f",
        "name": "Webhook",
        "webhookId": "d60b9d1f-d38b-4f74-8a08-27203d85aa2a"
      },
      {
        "parameters": {
          "content": "## Notas \n[Configurar Webhokk](https://smartweb-web-evolution-api.izq3rn.easypanel.host/manager/instance/c6d3e45e-2616-40f6-b822-934a6ca62591/webhook)",
          "width": 272
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -784,
          -144
        ],
        "typeVersion": 1,
        "id": "3e489264-2956-42b5-ada2-237c97e2652c",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Filtro fromMe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro fromMe": {
        "main": [
          [
            {
              "node": "Ignorar mensaje propio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch tipo mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch tipo mensaje": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ignorar tipo no soportado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Obtener audio (Evolution)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener audio (Evolution)": {
        "main": [
          [
            {
              "node": "Base64 a binario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 a binario": {
        "main": [
          [
            {
              "node": "Transcribir audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribir audio": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Clasificador intencion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clasificador intencion": {
        "main": [
          [
            {
              "node": "AGENDADOR",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CONVERSACION",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AGENDADOR": {
        "main": [
          [
            {
              "node": "Enviar texto (AGENDADOR)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CONVERSACION": {
        "main": [
          [
            {
              "node": "Enviar texto (CONVERSACION)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Clasificador (gpt-4o-mini)": {
        "ai_languageModel": [
          [
            {
              "node": "Clasificador intencion",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Agendador (gpt-4o)": {
        "ai_languageModel": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Conversacion (gpt-4o-mini)": {
        "ai_languageModel": [
          [
            {
              "node": "CONVERSACION",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "CONVERSACION",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "DISPONIBILIDAD": {
        "ai_tool": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AGENDAR": {
        "ai_tool": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant Vector Store": {
        "ai_tool": [
          [
            {
              "node": "CONVERSACION",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "John Ordóñez Monroy",
    "name": "Version e4a51afd",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "e4a51afd-36f8-4a34-acb1-5e3945d3fa74",
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filtro fromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro fromMe": {
      "main": [
        [
          {
            "node": "Ignorar mensaje propio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch tipo mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipo mensaje": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar tipo no soportado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Obtener audio (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio (Evolution)": {
      "main": [
        [
          {
            "node": "Base64 a binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a binario": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Clasificador intencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador intencion": {
      "main": [
        [
          {
            "node": "AGENDADOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CONVERSACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENDADOR": {
      "main": [
        [
          {
            "node": "Enviar texto (AGENDADOR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONVERSACION": {
      "main": [
        [
          {
            "node": "Enviar texto (CONVERSACION)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Clasificador (gpt-4o-mini)": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificador intencion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Agendador (gpt-4o)": {
      "ai_languageModel": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Conversacion (gpt-4o-mini)": {
      "ai_languageModel": [
        [
          {
            "node": "CONVERSACION",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "CONVERSACION",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DISPONIBILIDAD": {
      "ai_tool": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENDAR": {
      "ai_tool": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "CONVERSACION",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T22:22:35.100Z",
  "id": "EzuhMMML1nuiHzh9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp.AgenteIA",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b35b41-549a-4b23-b8f9-459e9bee0e80",
              "name": "body.key",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4d21c639-5d85-4e57-b7d9-709ed4513ef8",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        64
      ],
      "id": "5edc2c12-9cfc-42b5-8e26-095f7e76b202",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b912eb55-c707-4caa-a2e9-6ea7eb2ecec3",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        64
      ],
      "id": "978f98c3-44f3-479f-ad68-8fc231cb80d6",
      "name": "Filtro fromMe"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -416,
        -80
      ],
      "id": "c01037d6-43bf-4816-b2db-1c47ecdee5fb",
      "name": "Ignorar mensaje propio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37e8d4ea-8815-4800-b3bd-f9c76884d803",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d4dfaa6-272f-4f2b-9ce5-e6c1ba5b490a",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -192,
        64
      ],
      "id": "da21f71f-f8b0-4872-9508-9c2068967c72",
      "name": "Switch tipo mensaje"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -208,
        336
      ],
      "id": "dd3ffa00-298a-4547-adb7-955b98515234",
      "name": "Ignorar tipo no soportado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e209fc01-2976-4973-bca9-3b08b202e0a6",
              "name": "mensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -80
      ],
      "id": "bcba507c-35e2-4db2-876f-21dd7946f458",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fb9ea6c-bd0d-401a-ab2d-d27a59c6ffa1",
              "name": "audioMessageKeyId",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "ce02b96b-10c9-456b-8746-525ff16f67a0",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        80
      ],
      "id": "64f0166b-8b7a-4b24-9642-1706d904a16b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smartweb-web-evolution-api.izq3rn.easypanel.host/chat/getBase64FromMediaMessage/Optimiza.ia.pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": $('Edit Fields').item.json.body.data, \"convertToMp4\": false } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        336
      ],
      "id": "01fde04b-0123-4893-811f-206081680a3c",
      "name": "Obtener audio (Evolution)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yKsf30NQFRM3zopJ",
          "name": "Replicate.msn"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        288,
        336
      ],
      "id": "594fc43d-9bc4-4f12-b9a7-7d256bd6ec70",
      "name": "Base64 a binario"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        544,
        336
      ],
      "id": "e8fae3ae-e06e-42db-9311-35209f0fa350",
      "name": "Transcribir audio",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1966fbe0-8564-4acc-96b6-c38b26e8440e",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        336
      ],
      "id": "953dad32-57ac-4ebe-a159-a64edd60f3e3",
      "name": "Edit Fields7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        288,
        -64
      ],
      "id": "1949883b-a82f-4f1e-b392-c79f015d46c2",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0df1f23d-5e07-48c7-8cfe-1df7058c1a86",
              "name": "Input",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -64
      ],
      "id": "aa631f2f-edc4-4d0c-96de-42bf20209076",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Input }}",
        "categories": {
          "categories": [
            {
              "category": "RESERVA",
              "description": "El usuario quiere agendar una cita: inicia una nueva cita, pide horarios disponibles, da datos para agendar (nombre, correo, fecha, hora), corrige datos de una cita en proceso, pide horarios por franja (mañana, tarde, noche) o responde a las preguntas de contexto previas al agendamiento. Si el flujo de agendamiento ya está activo, cualquier respuesta dentro de ese contexto es RESERVA."
            },
            {
              "category": "CONVERSACION",
              "description": "El usuario hace preguntas o comentarios no relacionados con agendar una cita: dudas informativas sobre la empresa o sus servicios, temas generales o cualquier asunto fuera del proceso de reserva."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        720,
        -64
      ],
      "id": "03dd66d2-aa8d-41e7-88f0-f3670220caba",
      "name": "Clasificador intencion"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        704,
        160
      ],
      "id": "c2c639ea-10f3-4d89-b869-2b99458ebf16",
      "name": "Modelo Clasificador (gpt-4o-mini)",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields2').item.json.Input }}",
        "options": {
          "systemMessage": "=Eres un asistente de reservación de citas para una agencia especializada en automatización con inteligencia artificial. Tu objetivo es entender al prospecto y agendar su cita de forma conversacional, profesional y cordial.\n\nHERRAMIENTAS DISPONIBLES (usa exactamente estos nombres):\n- DISPONIBILIDAD: consulta los horarios libres en la fecha indicada por el usuario.\n- AGENDAR: registra la cita en la base de datos (Cal.com).\n- Think: úsala para razonar si te pierdes o para verificar que tienes todos los datos antes de agendar.\n\nZONA HORARIA Y CONVERSIÓN A UTC (CRÍTICO):\n- El usuario está en zona horaria America/Lima (UTC-5, sin horario de verano).\n- Cal.com requiere las horas en formato ISO 8601 UTC: YYYY-MM-DDTHH:mm:ssZ.\n- Para convertir: hora local de Lima + 5 horas = hora UTC.\n  Ejemplo: si el usuario elige las 14:00 hora Lima del 2026-06-10, envía 2026-06-10T19:00:00Z en el campo start de AGENDAR.\n- Para DISPONIBILIDAD usa startTime a las 00:00:00 y endTime a las 23:59:59 del día solicitado, expresados en UTC.\n\nPREGUNTAS DE CONTEXTO (una por una; sirven para entender al prospecto, NUNCA para rechazarlo):\n1. ¿Cuál es tu objetivo principal al buscar automatización con IA?\n2. ¿Ya usas alguna herramienta de automatización o CRM? ¿Cuál?\n3. ¿Qué presupuesto tienes en mente? (solo para orientar la propuesta; nuestros planes inician desde 50 USD al mes)\nContinúa SIEMPRE con el agendamiento, sin importar las respuestas. No descartes a nadie por presupuesto.\n\nFLUJO DE AGENDAMIENTO:\n- Reconoce los datos ya proporcionados y no repitas preguntas. Pide solo lo que falte: nombre completo, correo y fecha.\n- Llama a DISPONIBILIDAD y muestra los horarios libres de forma clara.\n- Franjas horarias (hora Lima): mañana 00:00-11:59, tarde 12:00-17:00, noche 17:01-23:59. Si no hay disponibilidad en la franja pedida, ofrece otras opciones del mismo día.\n- Cuando el usuario elija una hora válida y ya tengas nombre, correo, fecha y hora: resume los datos, convierte la hora a UTC y llama a AGENDAR de inmediato, sin confirmaciones innecesarias.\n- Si se agenda bien: ¡Tu cita quedó reservada para el [fecha] a las [hora Lima]! Te enviamos un correo de confirmación.\n- Si hay error: Hubo un problema al confirmar la cita. ¿Podrías elegir otro horario?\n\nREGLAS:\n- Valida que el correo tenga @ y un dominio válido.\n- Nunca inventes horarios. Si cambia la fecha u hora, vuelve a llamar a DISPONIBILIDAD.\n- Interpreta correctamente frases como mañana por la mañana, próximo lunes, la siguiente semana, respecto a la fecha actual.\n- No menciones herramientas técnicas como n8n o Make. Habla de beneficios: ayudamos a las empresas a ahorrar tiempo automatizando tareas repetitivas con tecnología inteligente.\n- No pongas palabras entre comillas. No saltes párrafos innecesariamente.\n\nFecha y hora actual (referencia, America/Lima): {{ new Date($now).toLocaleString(\"es-PE\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\", hour12: true, timeZone: \"America/Lima\" }) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1056,
        -208
      ],
      "id": "4525e830-7007-4809-8f51-9c6c3d89926d",
      "name": "AGENDADOR"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1024,
        -32
      ],
      "id": "d2ac4996-dae6-4c3b-b95d-70f11342706d",
      "name": "Modelo Agendador (gpt-4o)",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields2').item.json.Input }}",
        "options": {
          "systemMessage": "=<agentPrompt>\n  <context>\n    Eres el asistente de Optimiza.ia.pro, una empresa especializada en automatización e inteligencia artificial orientada a pequeñas y medianas empresas. Tu rol es ayudar a personas interesadas en los servicios de automatización a través de su plataforma SaaS, brindando soluciones simples, efectivas y personalizadas.\n  </context>\n  <role>\n    Asistente informativo profesional, humano y claro. Responde únicamente con base en la información de tu base de datos vectorial (RAG), con tono natural y conversacional.\n  </role>\n  <tools>\n    companyKnowledge: base de datos vectorial con toda la información de Optimiza.ia.pro.\n  </tools>\n  <services>\n    Si preguntan si ofrecen servicios de automatización, responde que trabajan con proyectos de automatización con IA, que nuestros planes inician desde 50 USD al mes con todo incluido, y ofrece agendar una llamada o contar más sobre las soluciones SaaS.\n  </services>\n  <ragRule>\n    Siempre consulta companyKnowledge antes de responder. Si no tienes una respuesta clara, no inventes; redirige a https://www.facebook.com/optimiza.ia.pro o propone agendar una cita.\n  </ragRule>\n  <contact>Correo: hola@optimiza-ia.com</contact>\n  <tone>Cercano, claro, profesional, sin sonar robótico. No uses emojis.</tone>\n  <limits>\n    No inventes información no respaldada por la base. No participes en temas fuera del enfoque. Redirige al sitio web si es necesario.\n  </limits>\n  <personaRules>\n    Responde en primera persona como parte del equipo de Optimiza.ia.pro. Si te preguntan algo personal o te felicitan, agradece y di que eres la IA de Optimiza.ia.pro y que lo harás llegar al equipo. Si preguntan cuántos clientes han tenido, responde con amabilidad que eso lo responde mejor el equipo.\n  </personaRules>\n</agentPrompt>\n\nTrata de no saltar párrafos. No menciones herramientas como Make.com ni n8n.com. Enfócate en los beneficios prácticos para el cliente: ayudamos a las empresas a ahorrar tiempo y esfuerzo automatizando tareas repetitivas con el apoyo de tecnología inteligente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1040,
        208
      ],
      "id": "e162d262-356b-4c88-ab12-9c1556d5a6b1",
      "name": "CONVERSACION"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        976,
        368
      ],
      "id": "a9963987-b086-4530-877a-5524d9b1511b",
      "name": "Modelo Conversacion (gpt-4o-mini)",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1152,
        0
      ],
      "id": "4dab0792-7bec-46fd-b10c-180dbe651e7e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dptch5UJkIPuomI3",
          "name": "Postgres.contabo"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera todos los espacios de citas libres disponibles de la base de datos.",
        "url": "https://api.cal.com/v1/slots",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"startTime\": \"{startTime}\",\n  \"endTime\": \"{endTime}\",\n  \"eventTypeId\": \"2848727\",\n  \"timeZone\": \"America/Lima\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "startTime",
              "description": "Fecha de inicio en ISO 8601 UTC. La hora siempre empieza a las 00:00:00.",
              "type": "string"
            },
            {
              "name": "endTime",
              "description": "Fecha de fin en ISO 8601 UTC. La hora siempre finaliza a las 23:59:59.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1296,
        -16
      ],
      "id": "f400813c-c484-402a-9c8a-03b3e66d4c3c",
      "name": "DISPONIBILIDAD",
      "credentials": {
        "httpQueryAuth": {
          "id": "hy15mO7aQlU97oEM",
          "name": "Calc.Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Guarda la cita en la base de datos.",
        "method": "POST",
        "url": "https://api.cal.com/v1/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": 2848727,\n  \"start\": \"{startTime}\",\n  \"responses\": {\n    \"name\": \"{userName}\",\n    \"email\": \"{userEmail}\",\n    \"location\": {\n      \"value\": \"online\",\n      \"optionValue\": \"\"\n    }\n  },\n  \"timeZone\": \"America/Lima\",\n  \"language\": \"es\",\n  \"metadata\": {}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "startTime",
              "description": "Fecha/hora de inicio elegida por el usuario en ISO 8601 UTC.",
              "type": "string"
            },
            {
              "name": "userName",
              "description": "Nombre completo del usuario",
              "type": "string"
            },
            {
              "name": "userEmail",
              "description": "Email del usuario"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1472,
        -16
      ],
      "id": "199112f6-eda8-4c04-b648-5edbdd2d2466",
      "name": "AGENDAR",
      "credentials": {
        "httpQueryAuth": {
          "id": "hy15mO7aQlU97oEM",
          "name": "Calc.Auth"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1632,
        -16
      ],
      "id": "d75610d9-c683-4991-aa0a-834a9650bcb7",
      "name": "Think"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "companyKnowledge",
        "toolDescription": "Usa esta herramienta para recuperar información sobre Optimiza.ia.pro",
        "qdrantCollection": {
          "__rl": true,
          "value": "smartweb_knowledge",
          "mode": "list",
          "cachedResultName": "smartweb_knowledge"
        },
        "topK": 10,
        "options": {
          "searchFilterJson": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.tenant\",\n      \"match\": { \"value\": \"optimiza\" }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1248,
        416
      ],
      "id": "3c9ddbae-b2d0-4af4-90cf-dc5d0cfc8a50",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "CGQrp2xFcyYxuAVX",
          "name": "Qdrant.inHouse"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        560
      ],
      "id": "70264054-1bc7-43a5-a08a-60202bc194ea",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1504,
        -208
      ],
      "id": "9b3b76de-f11c-4bf5-9ddb-7dc164e630ce",
      "name": "Enviar texto (AGENDADOR)",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1456,
        208
      ],
      "id": "12eb8cb6-41f9-4b41-b271-7e0469e87c61",
      "name": "Enviar texto (CONVERSACION)",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d60b9d1f-d38b-4f74-8a08-27203d85aa2a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        64
      ],
      "id": "2cfb5460-e664-47aa-a60c-fa90e35be68f",
      "name": "Webhook",
      "webhookId": "d60b9d1f-d38b-4f74-8a08-27203d85aa2a"
    },
    {
      "parameters": {
        "content": "## Notas \n[Configurar Webhokk](https://smartweb-web-evolution-api.izq3rn.easypanel.host/manager/instance/c6d3e45e-2616-40f6-b822-934a6ca62591/webhook)",
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -144
      ],
      "typeVersion": 1,
      "id": "3e489264-2956-42b5-ada2-237c97e2652c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T22:22:35.100Z",
      "createdAt": "2026-06-04T22:22:35.100Z",
      "role": "workflow:owner",
      "workflowId": "EzuhMMML1nuiHzh9",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-05T15:10:21.191Z",
  "versionId": "003d41f6-0b0e-4a0a-832d-56d28b61ca1d"
}