WorkflowsGithub.Optimiza.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-28T11:37:52.577Z",
    "createdAt": "2025-11-28T11:37:52.577Z",
    "versionId": "e171e5e8-6280-419a-aaef-e360def562c9",
    "workflowId": "8arbZ69hNRz0bYXm",
    "nodes": [
      {
        "parameters": {},
        "id": "48982c7c-1007-4ca4-99dd-32e20bd8e4a9",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -1216,
          -192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json[\"github_status\"]}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "8785651e-582d-4b5a-bc01-8a9b09752739",
        "name": "github_status",
        "type": "n8n-nodes-base.switch",
        "position": [
          128,
          -96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "4f64911c-da2d-47e0-92b1-abf72f8aa297",
        "name": "same",
        "type": "n8n-nodes-base.noOp",
        "position": [
          304,
          -288
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "f940ef79-93d1-4e07-8436-d6aa2bd1b41e",
        "name": "different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          288,
          -96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "0806a673-c86a-4645-9d2d-eac28caf6b90",
        "name": "new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          288,
          96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "3d88da25-8d60-4a26-9f2f-0acc30e51698",
        "name": "GitHub Edit",
        "type": "n8n-nodes-base.github",
        "position": [
          448,
          -96
        ],
        "typeVersion": 1,
        "webhookId": "58ae2878-f7f6-4fb3-b0f5-174ce6d91267",
        "credentials": {
          "githubApi": {
            "id": "oLZIg5vzU0boYptJ",
            "name": "GitHub.msn"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "29afd46d-dcdb-4ad6-b034-17bc0e2622d0",
        "name": "GitHub Create",
        "type": "n8n-nodes-base.github",
        "position": [
          448,
          96
        ],
        "typeVersion": 1,
        "webhookId": "b0351e9d-9485-4ed1-a09c-355881d4fdc5",
        "credentials": {
          "githubApi": {
            "id": "oLZIg5vzU0boYptJ",
            "name": "GitHub.msn"
          }
        }
      },
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 12
              }
            ]
          }
        },
        "id": "d37d563e-85c4-4e2d-89d8-51f6ffa2105a",
        "name": "Every 12 hours",
        "type": "n8n-nodes-base.cron",
        "position": [
          -1216,
          80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "5d3fd2d4-c866-49f4-aaa6-555f4a3a0f2d",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -832,
          -64
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "eLuM4gFHJFRq4LCY",
            "name": "n8n.Optimiza.ia.pro"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
        },
        "id": "3728da75-b24d-4b8b-afae-ab82246958a3",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          -48,
          -64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "a948b69f-6a6c-4870-8dae-e9ad43764a75",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          -224,
          -64
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "repo.owner",
                "value": "SMARTweb-SaaS"
              },
              {
                "name": "repo.name",
                "value": "Optimiza.n8n"
              },
              {
                "name": "repo.path",
                "value": "Workflows"
              }
            ]
          },
          "options": {}
        },
        "id": "1c169736-8000-45c5-baed-cb5c6804a5f0",
        "name": "Variables",
        "type": "n8n-nodes-base.set",
        "position": [
          -1040,
          -64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "8f199028-4dc4-4085-9eef-9930d2ba50cd",
        "name": "Fin",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -416,
          -320
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b24a5e94-9fbd-41fb-810f-c0aa8db307c9",
        "name": "OneAtATime",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -624,
          -64
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "68624d03-189b-4435-b4e6-7fc50287c04f",
        "name": "Get a file",
        "type": "n8n-nodes-base.github",
        "position": [
          -416,
          -176
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "4f23bcc4-5659-468b-918f-15af6e02b092",
        "credentials": {
          "githubApi": {
            "id": "oLZIg5vzU0boYptJ",
            "name": "GitHub.msn"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "content": "## Consultar\n[GitHub - Optimiza.n8n](https://github.com/SMARTweb-SaaS/Optimiza.n8n)",
          "height": 112,
          "width": 312,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -976,
          -272
        ],
        "id": "3b0ccc67-5736-4674-8edc-722354ca472e",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "GitHub Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "GitHub Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "github_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "github_status": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 12 hours": {
        "main": [
          [
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Fin",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "e171e5e8-6280-419a-aaef-e360def562c9",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T18:11:29.057Z",
  "id": "8arbZ69hNRz0bYXm",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Github.Optimiza",
  "nodes": [
    {
      "parameters": {},
      "id": "48982c7c-1007-4ca4-99dd-32e20bd8e4a9",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1216,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "8785651e-582d-4b5a-bc01-8a9b09752739",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        128,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4f64911c-da2d-47e0-92b1-abf72f8aa297",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        304,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f940ef79-93d1-4e07-8436-d6aa2bd1b41e",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        288,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0806a673-c86a-4645-9d2d-eac28caf6b90",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        288,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "3d88da25-8d60-4a26-9f2f-0acc30e51698",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        448,
        -96
      ],
      "typeVersion": 1,
      "webhookId": "58ae2878-f7f6-4fb3-b0f5-174ce6d91267",
      "credentials": {
        "githubApi": {
          "id": "oLZIg5vzU0boYptJ",
          "name": "GitHub.msn"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "29afd46d-dcdb-4ad6-b034-17bc0e2622d0",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        448,
        96
      ],
      "typeVersion": 1,
      "webhookId": "b0351e9d-9485-4ed1-a09c-355881d4fdc5",
      "credentials": {
        "githubApi": {
          "id": "oLZIg5vzU0boYptJ",
          "name": "GitHub.msn"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "d37d563e-85c4-4e2d-89d8-51f6ffa2105a",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1216,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "5d3fd2d4-c866-49f4-aaa6-555f4a3a0f2d",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -832,
        -64
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "eLuM4gFHJFRq4LCY",
          "name": "n8n.Optimiza.ia.pro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "3728da75-b24d-4b8b-afae-ab82246958a3",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -48,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a948b69f-6a6c-4870-8dae-e9ad43764a75",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -224,
        -64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "SMARTweb-SaaS"
            },
            {
              "name": "repo.name",
              "value": "Optimiza.n8n"
            },
            {
              "name": "repo.path",
              "value": "Workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "1c169736-8000-45c5-baed-cb5c6804a5f0",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1040,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8f199028-4dc4-4085-9eef-9930d2ba50cd",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -416,
        -320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b24a5e94-9fbd-41fb-810f-c0aa8db307c9",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        -64
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "68624d03-189b-4435-b4e6-7fc50287c04f",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -416,
        -176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "4f23bcc4-5659-468b-918f-15af6e02b092",
      "credentials": {
        "githubApi": {
          "id": "oLZIg5vzU0boYptJ",
          "name": "GitHub.msn"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Consultar\n[GitHub - Optimiza.n8n](https://github.com/SMARTweb-SaaS/Optimiza.n8n)",
        "height": 112,
        "width": 312,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -272
      ],
      "id": "3b0ccc67-5736-4674-8edc-722354ca472e",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "iNdV46Bame2vCTJz",
    "timeSavedPerExecution": 30
  },
  "shared": [
    {
      "updatedAt": "2025-08-01T18:11:29.064Z",
      "createdAt": "2025-08-01T18:11:29.064Z",
      "role": "workflow:owner",
      "workflowId": "8arbZ69hNRz0bYXm",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-07-28T23:13:44.849Z",
      "createdAt": "2025-07-28T23:13:44.849Z",
      "id": "E7azoCbE6H7Fjix1",
      "name": "✨ Optimiza.ia.pro"
    },
    {
      "updatedAt": "2025-07-18T02:37:28.170Z",
      "createdAt": "2025-07-18T02:37:28.170Z",
      "id": "Za1YQUqDKWnwNOuD",
      "name": "🤖 IA al mando"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-26T20:24:49.000Z",
  "versionId": "e171e5e8-6280-419a-aaef-e360def562c9"
}