WorkflowsAuto.Test.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-01T15:57:06.003Z",
    "createdAt": "2026-05-01T15:56:03.606Z",
    "versionId": "5ada5aea-7c26-49c8-8d69-3ef9c8801069",
    "workflowId": "KhuB3AdKN65YfnVW",
    "nodes": [
      {
        "parameters": {
          "url": "=https://slides.googleapis.com/v1/presentations/{{ $json.presentationId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          736,
          32
        ],
        "id": "ee74ec60-70ca-4ae9-87c0-414aa56fa42f",
        "name": "ObtenerSlides",
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "94480326-dc38-4f80-905b-81ca0ac063b1",
                "name": "Nombre",
                "value": "=John",
                "type": "string"
              },
              {
                "id": "93df26f2-4e6e-44e5-ab98-f2a68e40cf5f",
                "name": "MensajeEspecifico",
                "value": "Que sigan los éxitos.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -528,
          400
        ],
        "id": "861863a0-8b8b-4817-bf59-2914636fad40",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://www.googleapis.com/drive/v3/files/{{ $('CopiarPlantilla.Slides').item.json.id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          912,
          32
        ],
        "id": "680b321a-49a6-4ef1-990d-83cafc95529c",
        "name": "BorrarSlide",
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        }
      },
      {
        "parameters": {
          "graphApiVersion": "v23.0",
          "node": "/me?fields=id,name",
          "options": {}
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -96,
          784
        ],
        "id": "2fad7e66-bfb9-4655-8155-0ad585293f32",
        "name": "Instagram.Optimiza",
        "credentials": {
          "facebookGraphApi": {
            "id": "eTz9nRIExeQqbsq9",
            "name": "Facebook.CodigoAlfa"
          }
        },
        "disabled": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "graphApiVersion": "v23.0",
          "node": "625574693983199",
          "options": {}
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -96,
          208
        ],
        "id": "c68e704a-2e7b-4a85-9e8e-fe7cddb1a1c8",
        "name": "Facebook.CodigoAlfa",
        "credentials": {
          "facebookGraphApi": {
            "id": "eTz9nRIExeQqbsq9",
            "name": "Facebook.CodigoAlfa"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "graphApiVersion": "v23.0",
          "node": "157152044640637",
          "options": {}
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -96,
          400
        ],
        "id": "dbd30410-f7f8-4583-bc83-031fd1a009cb",
        "name": "Facebook.Smartweb",
        "credentials": {
          "facebookGraphApi": {
            "id": "eTz9nRIExeQqbsq9",
            "name": "Facebook.CodigoAlfa"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "graphApiVersion": "v23.0",
          "node": "/me?fields=id,name",
          "options": {}
        },
        "type": "n8n-nodes-base.facebookGraphApi",
        "typeVersion": 1,
        "position": [
          -96,
          592
        ],
        "id": "695bb5d1-9c02-45fd-a6a7-b79015297a4b",
        "name": "Facebook.Optimiza",
        "credentials": {
          "facebookGraphApi": {
            "id": "eTz9nRIExeQqbsq9",
            "name": "Facebook.CodigoAlfa"
          }
        },
        "disabled": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "## Renovar Token: Facebook \n- Ingresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Copiar: Token de acceso\n- [Depurador de token de acceso\n](https://developers.facebook.com/tools/debug/accesstoken/)\n- Regresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Usar: me?fields=id,accounts\n- Copiar: access_token\n- Volver a conectar: Graph API ",
          "height": 224,
          "width": 400,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          544,
          784
        ],
        "typeVersion": 1,
        "id": "8c63687d-cc18-438a-8c23-8294cf66666d",
        "name": "Sticky Note1",
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -752,
          496
        ],
        "id": "496882ae-2209-44d1-a5f7-19155d5cf117",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -752,
          304
        ],
        "id": "516127fd-9f3c-4f3f-a7a8-1de067729dae",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Facebook.CodigoAlfa caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          208
        ],
        "id": "4877e121-b83a-435f-9f39-baba77b944db",
        "name": "Validar.CodigoAlfa"
      },
      {
        "parameters": {
          "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Facebook.SMARTweb caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          400
        ],
        "id": "2cb5b283-a8d9-44ba-802f-0c3b5c4eebd9",
        "name": "Validar.SmartWeb"
      },
      {
        "parameters": {
          "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Facebook.Optimiza caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          592
        ],
        "id": "ce178452-434d-41fd-b37e-9f0b5ce1ee7f",
        "name": "Validar.Facebook.Optimiza",
        "executeOnce": false,
        "retryOnFail": false,
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Instagram.Optimiza caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          784
        ],
        "id": "b5219962-f2d1-4e19-a853-916030a2e873",
        "name": "Validar.Instagram.Optimiza",
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ea99df7e-df22-4eb1-9555-a98e7c946042",
                "leftValue": "={{ $json.notify }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          624,
          400
        ],
        "id": "0c9679c1-1afe-4ec4-a217-32666d3aeb26",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "1704819492",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          848,
          368
        ],
        "id": "765ae484-2b23-4848-914e-968c95f2d0a3",
        "name": "Send a text message",
        "webhookId": "47768359-131c-4dcd-9e2b-e3a0a44fb69e",
        "credentials": {
          "telegramApi": {
            "id": "Kz6I7RAZL2mii6bK",
            "name": "Telegram.api"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "\"Optimiza IA Soluciones creativas\" <hola@optimiza-ia.com>",
          "toEmail": "=jomBusiness@msn.com;jordonezm@cmactacna.com.pe",
          "subject": "=💥 URGENTE: Critical Error",
          "html": "={{ $json.message }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          848,
          208
        ],
        "id": "f3a35cc3-b6f4-4146-9768-250765588dd8",
        "name": "Send.Lead",
        "webhookId": "f4c94d16-2482-4d18-b3c3-41ae05868902",
        "credentials": {
          "smtp": {
            "id": "HUZKWIFzTUTleZeZ",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          864,
          560
        ],
        "id": "88dc7ce7-2199-483d-b040-7c4f6e5ddb40",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "sendTo": "=jombusiness@msn.com",
          "subject": "=AutoTest.n8n",
          "message": "=Esto es una prueba automatizada desde n8n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -96,
          976
        ],
        "id": "06cee038-4ec4-41ad-a6e8-8c08e5f0ddd9",
        "name": "Gmail",
        "webhookId": "4e4499dc-4fa7-4228-9f17-453e18b78e6e",
        "credentials": {
          "gmailOAuth2": {
            "id": "qGZijaDVUOO8FgpZ",
            "name": "Gmail.api"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Captura el objeto devuelto por el nodo Gmail\nconst error = $input.first().json.error\n\n// Si existe error y contiene mensaje de credenciales\nif (error && (\n    error.includes('invalid') ||\n    error.includes('expired') ||\n    error.includes('revoked')\n)) {\n  return [\n    {\n      json: {\n        notify: true,\n        message: '⚠️ Credenciales de Google (gmail) caducadas o inválidas: ' + error\n      }\n    }\n  ];\n}\n\n// Si todo está bien, continúa\nreturn [{ json: { notify: false } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          976
        ],
        "id": "f1aba86d-2055-47d3-9184-140b43ccb5fd",
        "name": "Validar.Gmail"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.googleapis.com/drive/v3/files/1TWZIt7H4su0HaYM8-UbakQIpFweIQaWxvN0IwEVe9T8/copy",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendQuery": true,
          "specifyQuery": "json",
          "jsonQuery": "={\n  \"name\": \"Presentación_{{ $json.Nombre }}\"\n}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"nombre\": \"{{ $json.Nombre }}\",\n  \"mensaje\": \"{{ $json.MensajeEspecifico }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -80,
          16
        ],
        "id": "fbc4d4be-47c0-48d1-a41f-acd05712d3e1",
        "name": "CopiarPlantilla.Slides",
        "notesInFlow": false,
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Captura el objeto devuelto por el nodo Gmail\nconst error = $input.first().json.error\n\n// Si existe error y contiene mensaje de credenciales\nif (error && error.message && (\n    error.message.includes('invalid') ||\n    error.message.includes('expired') ||\n    error.message.includes('revoked')\n)) {\n  \n  return [\n    {\n      json: {\n        notify: true,\n        message: '⚠️ Credenciales de Google (Slides) caducadas o inválidas: ' + error.message\n      }\n    }\n  ];\n}\n\n// Si todo está bien, continúa\nreturn [{ json: { status: 'ok' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          16
        ],
        "id": "0ed7805b-dbac-47fc-828b-229dbc668d5e",
        "name": "Validar.Slides"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://slides.googleapis.com/v1/presentations/{{$node[\"CopiarPlantilla.Slides\"].json[\"id\"]}}:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"nombre\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.Nombre }}\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"mensaje\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.MensajeEspecifico }}\"\n      }\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          32
        ],
        "id": "e10ac379-b0fb-445d-b295-48538c1256a7",
        "name": "ReemplazarTexto.Slides",
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.googleapis.com/drive/v3/files/1EfTpOlNkJh81FMt6XVX9tjW22iaQcj3UKRUt7KCYmz0/copy",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"Documento_{{ $json.Nombre }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -80,
          -176
        ],
        "id": "13caef90-1b35-4e90-bfe9-0467db820e34",
        "name": "CopiarPlantilla.Docs",
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Captura el objeto devuelto por el nodo Gmail\nconst error = $input.first().json.error\n\n// Si existe error y contiene mensaje de credenciales\nif (error && error.message && (\n    error.message.includes('invalid') ||\n    error.message.includes('expired') ||\n    error.message.includes('revoked')\n)) {\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: '⚠️ Credenciales de Google (Docs) caducadas o inválidas: ' + error.message\n      }\n    }\n  ];\n}\n\n// Si todo está bien, continúa\nreturn [{ json: { status: 'ok' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          -176
        ],
        "id": "63a88311-e180-4670-b524-fd10df5cd80a",
        "name": "Validar.Docs"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{$node[\"CopiarPlantilla.Docs\"].json[\"id\"]}}:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"Name\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"Titulo Principal\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"SubTitle\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"Sub-Titulo\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"Review\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"Reseña\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"MicroStory\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"MiniHistoria\"\n      }\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          544,
          -160
        ],
        "id": "c9574cd7-c480-4ea3-b076-34e14e821163",
        "name": "ReemplazarTexto.Docs",
        "alwaysOutputData": false,
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        }
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://www.googleapis.com/drive/v3/files/{{$node[\"CopiarPlantilla.Docs\"].json[\"id\"]}}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          736,
          -160
        ],
        "id": "6c201ec2-5447-4555-ade2-84c5fef6877f",
        "name": "BorrarDoc",
        "credentials": {
          "googleOAuth2Api": {
            "id": "YqSYIxI25n1uZgWB",
            "name": "Google.api"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "00d32d6b-0e7e-4aae-8fcc-67aba5b063b8",
                "leftValue": "={{ $json.notify }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          320,
          -176
        ],
        "id": "730b3234-e2e6-479f-9ca0-530045a480c4",
        "name": "If1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cbac2d80-b82c-4c0b-9266-f5644c82fc89",
                "leftValue": "={{ $json.notify }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          320,
          16
        ],
        "id": "e68682a2-683a-4f87-902e-9c7a949eb24a",
        "name": "If2"
      }
    ],
    "connections": {
      "ObtenerSlides": {
        "main": [
          [
            {
              "node": "BorrarSlide",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Facebook.CodigoAlfa",
              "type": "main",
              "index": 0
            },
            {
              "node": "Facebook.Smartweb",
              "type": "main",
              "index": 0
            },
            {
              "node": "Facebook.Optimiza",
              "type": "main",
              "index": 0
            },
            {
              "node": "Instagram.Optimiza",
              "type": "main",
              "index": 0
            },
            {
              "node": "CopiarPlantilla.Slides",
              "type": "main",
              "index": 0
            },
            {
              "node": "Gmail",
              "type": "main",
              "index": 0
            },
            {
              "node": "CopiarPlantilla.Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook.Optimiza": {
        "main": [
          [
            {
              "node": "Validar.Facebook.Optimiza",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook.CodigoAlfa": {
        "main": [
          [
            {
              "node": "Validar.CodigoAlfa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook.Smartweb": {
        "main": [
          [
            {
              "node": "Validar.SmartWeb",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Instagram.Optimiza": {
        "main": [
          [
            {
              "node": "Validar.Instagram.Optimiza",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.Facebook.Optimiza": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send.Lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.CodigoAlfa": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.SmartWeb": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.Instagram.Optimiza": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail": {
        "main": [
          [
            {
              "node": "Validar.Gmail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.Gmail": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CopiarPlantilla.Slides": {
        "main": [
          [
            {
              "node": "Validar.Slides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.Slides": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ReemplazarTexto.Slides": {
        "main": [
          [
            {
              "node": "ObtenerSlides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CopiarPlantilla.Docs": {
        "main": [
          [
            {
              "node": "Validar.Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar.Docs": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ReemplazarTexto.Docs": {
        "main": [
          [
            {
              "node": "BorrarDoc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ReemplazarTexto.Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "ReemplazarTexto.Slides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "John Ordóñez Monroy",
    "name": "Version 5ada5aea",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "5ada5aea-7c26-49c8-8d69-3ef9c8801069",
  "connections": {
    "ObtenerSlides": {
      "main": [
        [
          {
            "node": "BorrarSlide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Facebook.CodigoAlfa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook.Smartweb",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook.Optimiza",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram.Optimiza",
            "type": "main",
            "index": 0
          },
          {
            "node": "CopiarPlantilla.Slides",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "CopiarPlantilla.Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook.Optimiza": {
      "main": [
        [
          {
            "node": "Validar.Facebook.Optimiza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook.CodigoAlfa": {
      "main": [
        [
          {
            "node": "Validar.CodigoAlfa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook.Smartweb": {
      "main": [
        [
          {
            "node": "Validar.SmartWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram.Optimiza": {
      "main": [
        [
          {
            "node": "Validar.Instagram.Optimiza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.Facebook.Optimiza": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send.Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.CodigoAlfa": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.SmartWeb": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.Instagram.Optimiza": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Validar.Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CopiarPlantilla.Slides": {
      "main": [
        [
          {
            "node": "Validar.Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.Slides": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReemplazarTexto.Slides": {
      "main": [
        [
          {
            "node": "ObtenerSlides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CopiarPlantilla.Docs": {
      "main": [
        [
          {
            "node": "Validar.Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar.Docs": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReemplazarTexto.Docs": {
      "main": [
        [
          {
            "node": "BorrarDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ReemplazarTexto.Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ReemplazarTexto.Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-01T14:05:50.594Z",
  "id": "KhuB3AdKN65YfnVW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto.Test",
  "nodes": [
    {
      "parameters": {
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $json.presentationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        32
      ],
      "id": "ee74ec60-70ca-4ae9-87c0-414aa56fa42f",
      "name": "ObtenerSlides",
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94480326-dc38-4f80-905b-81ca0ac063b1",
              "name": "Nombre",
              "value": "=John",
              "type": "string"
            },
            {
              "id": "93df26f2-4e6e-44e5-ab98-f2a68e40cf5f",
              "name": "MensajeEspecifico",
              "value": "Que sigan los éxitos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        400
      ],
      "id": "861863a0-8b8b-4817-bf59-2914636fad40",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('CopiarPlantilla.Slides').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        32
      ],
      "id": "680b321a-49a6-4ef1-990d-83cafc95529c",
      "name": "BorrarSlide",
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "/me?fields=id,name",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -96,
        784
      ],
      "id": "2fad7e66-bfb9-4655-8155-0ad585293f32",
      "name": "Instagram.Optimiza",
      "credentials": {
        "facebookGraphApi": {
          "id": "eTz9nRIExeQqbsq9",
          "name": "Facebook.CodigoAlfa"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "625574693983199",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -96,
        208
      ],
      "id": "c68e704a-2e7b-4a85-9e8e-fe7cddb1a1c8",
      "name": "Facebook.CodigoAlfa",
      "credentials": {
        "facebookGraphApi": {
          "id": "eTz9nRIExeQqbsq9",
          "name": "Facebook.CodigoAlfa"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "157152044640637",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -96,
        400
      ],
      "id": "dbd30410-f7f8-4583-bc83-031fd1a009cb",
      "name": "Facebook.Smartweb",
      "credentials": {
        "facebookGraphApi": {
          "id": "pyh866tlIzHPoNGH",
          "name": "Facebook.SmartWeb"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "/me?fields=id,name",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -96,
        592
      ],
      "id": "695bb5d1-9c02-45fd-a6a7-b79015297a4b",
      "name": "Facebook.Optimiza",
      "credentials": {
        "facebookGraphApi": {
          "id": "eTz9nRIExeQqbsq9",
          "name": "Facebook.CodigoAlfa"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Renovar Token: Facebook \n- Ingresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Copiar: Token de acceso\n- [Depurador de token de acceso\n](https://developers.facebook.com/tools/debug/accesstoken/)\n- Regresar a [developers.facebook](https://developers.facebook.com/tools/explorer/)\n- Usar: me?fields=id,accounts\n- Copiar: access_token\n- Volver a conectar: Graph API ",
        "height": 224,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        784
      ],
      "typeVersion": 1,
      "id": "8c63687d-cc18-438a-8c23-8294cf66666d",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        496
      ],
      "id": "496882ae-2209-44d1-a5f7-19155d5cf117",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        304
      ],
      "id": "516127fd-9f3c-4f3f-a7a8-1de067729dae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Facebook.CodigoAlfa caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        208
      ],
      "id": "4877e121-b83a-435f-9f39-baba77b944db",
      "name": "Validar.CodigoAlfa",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Facebook.SMARTweb caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        400
      ],
      "id": "2cb5b283-a8d9-44ba-802f-0c3b5c4eebd9",
      "name": "Validar.SmartWeb",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Facebook.Optimiza caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        592
      ],
      "id": "ce178452-434d-41fd-b37e-9f0b5ce1ee7f",
      "name": "Validar.Facebook.Optimiza",
      "executeOnce": false,
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nif (res.statusCode >= 400 || res.error || (res.headers && res.headers[\"www-authenticate\"])) {\n  const text = `⚠️ Token de Instagram.Optimiza caducado o inválido.\\n\\n${\n    res.headers[\"www-authenticate\"] || res.error || ''\n  }`\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, ''); // elimina caracteres conflictivos\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: text\n      }\n    }\n  ];\n}\nreturn [{ json: { notify: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        784
      ],
      "id": "b5219962-f2d1-4e19-a853-916030a2e873",
      "name": "Validar.Instagram.Optimiza",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea99df7e-df22-4eb1-9555-a98e7c946042",
              "leftValue": "={{ $json.notify }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        400
      ],
      "id": "0c9679c1-1afe-4ec4-a217-32666d3aeb26",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "1704819492",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        368
      ],
      "id": "765ae484-2b23-4848-914e-968c95f2d0a3",
      "name": "Send a text message",
      "webhookId": "47768359-131c-4dcd-9e2b-e3a0a44fb69e",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "\"Optimiza IA Soluciones creativas\" <hola@optimiza-ia.com>",
        "toEmail": "=jomBusiness@msn.com;jordonezm@cmactacna.com.pe",
        "subject": "=💥 URGENTE: Critical Error",
        "html": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        848,
        208
      ],
      "id": "f3a35cc3-b6f4-4146-9768-250765588dd8",
      "name": "Send.Lead",
      "webhookId": "f4c94d16-2482-4d18-b3c3-41ae05868902",
      "credentials": {
        "smtp": {
          "id": "HUZKWIFzTUTleZeZ",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        560
      ],
      "id": "88dc7ce7-2199-483d-b040-7c4f6e5ddb40",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "=jombusiness@msn.com",
        "subject": "=AutoTest.n8n",
        "message": "=Esto es una prueba automatizada desde n8n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -96,
        976
      ],
      "id": "06cee038-4ec4-41ad-a6e8-8c08e5f0ddd9",
      "name": "Gmail",
      "webhookId": "4e4499dc-4fa7-4228-9f17-453e18b78e6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "qGZijaDVUOO8FgpZ",
          "name": "Gmail.api"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Captura el objeto devuelto por el nodo Gmail\nconst error = $input.first().json.error\n\n// Si existe error y contiene mensaje de credenciales\nif (error && (\n    error.includes('invalid') ||\n    error.includes('expired') ||\n    error.includes('revoked')\n)) {\n  return [\n    {\n      json: {\n        notify: true,\n        message: '⚠️ Credenciales de Google (gmail) caducadas o inválidas: ' + error\n      }\n    }\n  ];\n}\n\n// Si todo está bien, continúa\nreturn [{ json: { notify: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        976
      ],
      "id": "f1aba86d-2055-47d3-9184-140b43ccb5fd",
      "name": "Validar.Gmail",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/1TWZIt7H4su0HaYM8-UbakQIpFweIQaWxvN0IwEVe9T8/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"name\": \"Presentación_{{ $json.Nombre }}\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $json.Nombre }}\",\n  \"mensaje\": \"{{ $json.MensajeEspecifico }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        16
      ],
      "id": "fbc4d4be-47c0-48d1-a41f-acd05712d3e1",
      "name": "CopiarPlantilla.Slides",
      "notesInFlow": false,
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Captura el objeto devuelto por el nodo Gmail\nconst error = $input.first().json.error\n\n// Si existe error y contiene mensaje de credenciales\nif (error && error.message && (\n    error.message.includes('invalid') ||\n    error.message.includes('expired') ||\n    error.message.includes('revoked')\n)) {\n  \n  return [\n    {\n      json: {\n        notify: true,\n        message: '⚠️ Credenciales de Google (Slides) caducadas o inválidas: ' + error.message\n      }\n    }\n  ];\n}\n\n// Si todo está bien, continúa\nreturn [{ json: { status: 'ok' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        16
      ],
      "id": "0ed7805b-dbac-47fc-828b-229dbc668d5e",
      "name": "Validar.Slides",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{$node[\"CopiarPlantilla.Slides\"].json[\"id\"]}}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"nombre\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.Nombre }}\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"mensaje\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.MensajeEspecifico }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        32
      ],
      "id": "e10ac379-b0fb-445d-b295-48538c1256a7",
      "name": "ReemplazarTexto.Slides",
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/1EfTpOlNkJh81FMt6XVX9tjW22iaQcj3UKRUt7KCYmz0/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Documento_{{ $json.Nombre }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -176
      ],
      "id": "13caef90-1b35-4e90-bfe9-0467db820e34",
      "name": "CopiarPlantilla.Docs",
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Captura el objeto devuelto por el nodo Gmail\nconst error = $input.first().json.error\n\n// Si existe error y contiene mensaje de credenciales\nif (error && error.message && (\n    error.message.includes('invalid') ||\n    error.message.includes('expired') ||\n    error.message.includes('revoked')\n)) {\n\n  return [\n    {\n      json: {\n        notify: true,\n        message: '⚠️ Credenciales de Google (Docs) caducadas o inválidas: ' + error.message\n      }\n    }\n  ];\n}\n\n// Si todo está bien, continúa\nreturn [{ json: { status: 'ok' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -176
      ],
      "id": "63a88311-e180-4670-b524-fd10df5cd80a",
      "name": "Validar.Docs",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{$node[\"CopiarPlantilla.Docs\"].json[\"id\"]}}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"Name\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"Titulo Principal\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"SubTitle\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"Sub-Titulo\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"Review\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"Reseña\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"MicroStory\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"MiniHistoria\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -160
      ],
      "id": "c9574cd7-c480-4ea3-b076-34e14e821163",
      "name": "ReemplazarTexto.Docs",
      "alwaysOutputData": false,
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/drive/v3/files/{{$node[\"CopiarPlantilla.Docs\"].json[\"id\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -160
      ],
      "id": "6c201ec2-5447-4555-ade2-84c5fef6877f",
      "name": "BorrarDoc",
      "credentials": {
        "googleOAuth2Api": {
          "id": "YqSYIxI25n1uZgWB",
          "name": "Google.api"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00d32d6b-0e7e-4aae-8fcc-67aba5b063b8",
              "leftValue": "={{ $json.notify }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -176
      ],
      "id": "730b3234-e2e6-479f-9ca0-530045a480c4",
      "name": "If1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbac2d80-b82c-4c0b-9266-f5644c82fc89",
              "leftValue": "={{ $json.notify }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        16
      ],
      "id": "e68682a2-683a-4f87-902e-9c7a949eb24a",
      "name": "If2",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "51952947576",
        "messageText": "Esto es una prueba de Evolution.inHouse",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        112,
        1200
      ],
      "id": "84a80e42-f36f-494d-b4c9-b989bd1993d3",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "url": "https://smartweb-web-evolution-api.izq3rn.easypanel.host/instance/connectionState/Optimiza.ia.pro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        1200
      ],
      "id": "77a29af9-7d5f-45a5-bf08-9a310737173a",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-01T14:05:50.594Z",
      "createdAt": "2026-05-01T14:05:50.594Z",
      "role": "workflow:owner",
      "workflowId": "KhuB3AdKN65YfnVW",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2026-04-30T23:13:50.319Z",
      "createdAt": "2026-04-30T23:13:50.319Z",
      "id": "WkzLO7ASOwlX9Xby",
      "name": "✨ Optimiza.ia.pro"
    },
    {
      "updatedAt": "2026-04-30T23:13:50.360Z",
      "createdAt": "2026-04-30T23:13:50.360Z",
      "id": "c03xSxyTfQ6QC8qX",
      "name": "🤖 IA al mando"
    },
    {
      "updatedAt": "2026-05-01T14:05:45.832Z",
      "createdAt": "2026-05-01T14:05:45.832Z",
      "id": "8wlQKtpUxQ9ElXHE",
      "name": "💡SmartWeb"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-06-04T23:40:15.440Z",
  "versionId": "8fb22f40-d894-4b2a-857e-c076713be19b"
}