WorkflowsError.jomBusiness.msn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-01T00:14:55.309Z",
    "createdAt": "2026-05-01T00:10:28.683Z",
    "versionId": "88ed125c-12ee-46c1-b497-e64329d43ce7",
    "workflowId": "qvHy7Ek5sgyaX9xp",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -160,
          304
        ],
        "id": "25aa757e-4744-4569-8c77-808324147f9a",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "chatId": "1704819492",
          "text": "=**URGENTE: Critical Error**\n\n**WorkFlow:** {{ $json.workflow.name }}\n**Error:** {{ $json.execution.error.message }}\n**Last Node Executed:** {{ $json.execution.lastNodeExecuted }}\n\n**Error Details:**\n{{ $json.execution.error.stack }}\n\n**Date $ Time:** {{ $now.format('dd-MM-yyyy HH:mm:ss') }}\n\n",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          80,
          176
        ],
        "id": "fb82cb8a-d4d7-4c94-ba71-99448588ec38",
        "name": "Send a text message",
        "webhookId": "47768359-131c-4dcd-9e2b-e3a0a44fb69e",
        "credentials": {
          "telegramApi": {
            "id": "Kz6I7RAZL2mii6bK",
            "name": "Telegram.api"
          }
        }
      },
      {
        "parameters": {
          "content": "## Opción Telegram \nDesactivar 'Append n8n Attribution' en 'Additional Fields', último modulo de Telegram.",
          "height": 144
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "1d73a244-b849-4605-bf37-3c8929b17447",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "fromEmail": "\"Optimiza IA Soluciones creativas\" <hola@optimiza-ia.com>",
          "toEmail": "=jomBusiness@msn.com",
          "subject": "=💥 URGENTE: Critical Error",
          "html": "=<b>WorkFlow:</b> {{ $json.workflow.name }}<br/>\n<b>Error:</b> {{ $json.execution.error.message }}<br/>\n<b>Last Node Executed:</b> {{ $json.execution.lastNodeExecuted }}<br>\n<br>/\n<b>Error Details:</b><br/>\n{{ $json.execution.error.stack }}<br/>\n<br/>\n<b>Date $ Time:</b> {{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          80,
          368
        ],
        "id": "91a5df53-6513-4e97-8c4e-4aadc251cca0",
        "name": "Send.Lead",
        "webhookId": "f4c94d16-2482-4d18-b3c3-41ae05868902",
        "credentials": {
          "smtp": {
            "id": "HUZKWIFzTUTleZeZ",
            "name": "SMTP account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send.Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Ordóñez Monroy",
    "name": "Version 88ed125c",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "88ed125c-12ee-46c1-b497-e64329d43ce7",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send.Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-01T00:02:37.654Z",
  "id": "qvHy7Ek5sgyaX9xp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error.jomBusiness.msn",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        304
      ],
      "id": "25aa757e-4744-4569-8c77-808324147f9a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1704819492",
        "text": "=**URGENTE: Critical Error**\n\n**WorkFlow:** {{ $json.workflow.name }}\n**Error:** {{ $json.execution.error.message }}\n**Last Node Executed:** {{ $json.execution.lastNodeExecuted }}\n\n**Error Details:**\n{{ $json.execution.error.stack }}\n\n**Date $ Time:** {{ $now.format('dd-MM-yyyy HH:mm:ss') }}\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        176
      ],
      "id": "fb82cb8a-d4d7-4c94-ba71-99448588ec38",
      "name": "Send a text message",
      "webhookId": "47768359-131c-4dcd-9e2b-e3a0a44fb69e",
      "credentials": {
        "telegramApi": {
          "id": "Kz6I7RAZL2mii6bK",
          "name": "Telegram.api"
        }
      }
    },
    {
      "parameters": {
        "content": "## Opción Telegram \nDesactivar 'Append n8n Attribution' en 'Additional Fields', último modulo de Telegram.",
        "height": 144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1d73a244-b849-4605-bf37-3c8929b17447",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fromEmail": "\"Optimiza IA Soluciones creativas\" <hola@optimiza-ia.com>",
        "toEmail": "=jomBusiness@msn.com",
        "subject": "=💥 URGENTE: Critical Error",
        "html": "=<b>WorkFlow:</b> {{ $json.workflow.name }}<br/>\n<b>Error:</b> {{ $json.execution.error.message }}<br/>\n<b>Last Node Executed:</b> {{ $json.execution.lastNodeExecuted }}<br>\n<br>/\n<b>Error Details:</b><br/>\n{{ $json.execution.error.stack }}<br/>\n<br/>\n<b>Date $ Time:</b> {{ $now.format('dd-MM-yyyy HH:mm:ss') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        80,
        368
      ],
      "id": "91a5df53-6513-4e97-8c4e-4aadc251cca0",
      "name": "Send.Lead",
      "webhookId": "f4c94d16-2482-4d18-b3c3-41ae05868902",
      "credentials": {
        "smtp": {
          "id": "HUZKWIFzTUTleZeZ",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-01T00:02:37.654Z",
      "createdAt": "2026-05-01T00:02:37.654Z",
      "role": "workflow:owner",
      "workflowId": "qvHy7Ek5sgyaX9xp",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-01T00:10:28.674Z",
  "versionId": "88ed125c-12ee-46c1-b497-e64329d43ce7"
}