WorkflowsMy workflow 3.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Fal.flux.dev.post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fal.flux.dev.post": {
      "main": [
        [
          {
            "node": "Wait.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal.flux.dev.get": {
      "main": [
        [
          {
            "node": "Fal.flux.dev.completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal.flex.dev.get.url": {
      "main": [
        [
          {
            "node": "Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal.flux.dev.completed": {
      "main": [
        [
          {
            "node": "Fal.flex.dev.get.url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait.5": {
      "main": [
        [
          {
            "node": "Fal.flux.dev.get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-16T15:08:09.415Z",
  "id": "KzD5yr0TYeX5sETT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "797c7754-4daf-4d44-b9d0-076c351a0175",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera un prompt para la profesión de: {{ $json.profesion }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Tu tarea es generar un prompt de imagen en inglés para una mujer que representa una profesión específica. La descripción debe ser fotorealista, de alta calidad y seguir un formato de una sola línea.\n\n### **Ejemplos de salida:**\nEntrada: Mujer Policía\nSalida: An attractive young woman (not older than 20 years old) with a **very voluptuous and highly curvaceous figure** and an **angelic face**, with long honey-brown hair, wearing a modern and tight black police uniform, seen from a three-quarter rear view, looking back over her left shoulder directly at the camera with a subtle smile, standing in a blurred urban street with faint outlines of cars and buildings in the background, **low camera angle from below to highlight her buttocks**, professionally photographed, RAW photo, high resolution, cinematic lighting, vibrant, sexy, glamorous, lively lighting, ultra detailed, extreme realism, 8k, bokeh, subtle lights and shadows, focus on the face and body, detailed clothing textures, negative prompts: Deformed, blurry, bad anatomy, disfigured, poorly drawn, extra limbs, bad hands, mutated, cartoon, anime, 3D render, low resolution, bad lighting, facing away completely, full back view, dark lighting, dull colors.\n\nEntrada: Mujer Bombera\nSalida: An attractive young woman (not older than 20 years old) with a **very voluptuous and highly curvaceous figure** and an **angelic face**, with long honey-brown hair, wearing a modern and tight firefighter uniform with a black and red color scheme, seen from a three-quarter rear view, looking back over her left shoulder directly at the camera with a subtle smile, standing in a blurred urban street with a fire truck in the background, **low camera angle from below to highlight her buttocks**, professionally photographed, RAW photo, high resolution, cinematic lighting, vibrant, sexy, glamorous, lively lighting, ultra detailed, extreme realism, 8k, bokeh, subtle lights and shadows, focus on the face and body, detailed clothing textures, negative prompts: Deformed, blurry, bad anatomy, disfigured, poorly drawn, extra limbs, bad hands, mutated, cartoon, anime, 3D render, low resolution, bad lighting, facing away completely, full back view, dark lighting, dull colors.\n\n### **Instrucciones para la descripción:**\n* **Profesión:** El prompt debe identificar la profesión y el color y tipo de uniforme asociado.\n* **Sujeto:** La mujer debe ser joven (no mayor de 20 años), con una **figura muy voluptuosa y altamente curvilínea** y un **rostro angelical**. Debe replicar la pose de la imagen original: vista de tres cuartos trasera, girando la cabeza para mirar a la cámara sobre su hombro.\n* **Entorno:** El fondo debe estar desenfocado.\n* **Ángulo y calidad:** La imagen debe ser capturada con una cámara profesional desde un **ángulo bajo para resaltar sus glúteos**, con iluminación vibrante, sexy, glamorosa y con vida.\n\n### **Consideraciones adicionales:**\n* El prompt final debe estar completamente en inglés."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ],
      "id": "d4463e3f-7973-4713-8468-a26e29eafa4d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0a8357c-0167-4d30-8199-ff1037a46851",
              "name": "profesion",
              "value": "Policia",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f62b3c21-48af-47c7-abb2-bd1290ce9efd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "=1704819492",
        "file": "={{ $json.images[0].url }}",
        "additionalFields": {
          "caption": "={{ $json.prompt }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "643f8f99-0628-453c-8e34-7acedd84df85",
      "name": "Foto",
      "webhookId": "834b2a54-20a4-4982-a705-2ccdbffcda1b",
      "credentials": {
        "telegramApi": {
          "id": "zxkALNj2uZW1uxoX",
          "name": "Telegram.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        176
      ],
      "id": "9675330e-220f-42c8-a989-5fd63a7ccdef",
      "name": "gpt-4o-mini",
      "credentials": {
        "openRouterApi": {
          "id": "fx7pdURTekgTilKM",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux/dev",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": {\n    \"width\": 832,\n    \"height\": 1216\n  },\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": false,\n  \"output_format\": \"png\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        304
      ],
      "id": "50741eb4-6d26-45fd-8189-fdfb40e2db85",
      "name": "Fal.flux.dev.post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCwKmy0RQPjjcSbm",
          "name": "Fal.tmp"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        304
      ],
      "id": "1bce774d-ad9c-46b3-94b8-636bafd27422",
      "name": "Fal.flux.dev.get",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCwKmy0RQPjjcSbm",
          "name": "Fal.tmp"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/stable-diffusion-v35-large/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "6af91a04-7d57-459f-8d51-54e97e37d18a",
      "name": "Fal.flex.dev.get.url",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCwKmy0RQPjjcSbm",
          "name": "Fal.tmp"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0351d503-4f52-4a78-ad1a-9da5c095f86c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        304
      ],
      "id": "7f6455d9-ae7f-490e-bdf8-cd5258610f29",
      "name": "Fal.flux.dev.completed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        304
      ],
      "id": "90ec02e4-d233-4771-be88-6d4e36c5a85f",
      "name": "Wait.5",
      "webhookId": "b4c754a6-b9ad-45cb-aff5-fadb5bd05689"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-16T15:08:09.424Z",
      "updatedAt": "2025-09-16T15:08:09.424Z",
      "role": "workflow:owner",
      "workflowId": "KzD5yr0TYeX5sETT",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-16T16:23:14.000Z",
  "versionId": "42b1ec35-9b50-4012-9a70-500b8dd2e439"
}