WorkflowsGithub.Backup.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-01T00:15:42.537Z",
    "createdAt": "2026-04-30T23:35:33.674Z",
    "versionId": "9e999b50-329d-4fef-bddb-6ec2b7d9eed1",
    "workflowId": "1YQzx0gB7L5rts2C",
    "nodes": [
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json[\"github_status\"]}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "0698af2e-f0d6-4ab5-9a7d-bf83527f3b1d",
        "name": "github_status",
        "type": "n8n-nodes-base.switch",
        "position": [
          -384,
          160
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "b70290eb-36bb-445e-91ee-b4bd4bf0068b",
        "name": "same",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -208,
          -48
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "e301c621-d5d7-4da0-9ae8-b0f98a2364c1",
        "name": "different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -224,
          160
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "249d8d62-fc3f-4ca3-aa2a-10009320a0f9",
        "name": "new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          -224,
          352
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "0ec7bee1-dae9-43a8-a006-f2e3f1c1ef14",
        "name": "GitHub Edit",
        "type": "n8n-nodes-base.github",
        "position": [
          -64,
          160
        ],
        "typeVersion": 1,
        "webhookId": "58ae2878-f7f6-4fb3-b0f5-174ce6d91267",
        "credentials": {
          "githubApi": {
            "id": "Adw3P3hfmVnkHtIm",
            "name": "Github.api"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "d0149351-d935-4d55-88c2-60ff6dddf2d6",
        "name": "GitHub Create",
        "type": "n8n-nodes-base.github",
        "position": [
          -64,
          352
        ],
        "typeVersion": 1,
        "webhookId": "b0351e9d-9485-4ed1-a09c-355881d4fdc5",
        "credentials": {
          "githubApi": {
            "id": "Adw3P3hfmVnkHtIm",
            "name": "Github.api"
          }
        }
      },
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 12
              }
            ]
          }
        },
        "id": "d0ef6547-d292-4482-8fe1-26a7d1e7ddd1",
        "name": "Every 12 hours",
        "type": "n8n-nodes-base.cron",
        "position": [
          -1744,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "0c3687ad-4ccd-4631-a9ea-2081a298fabc",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -1344,
          192
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "ZGgVNFyj6iREk53l",
            "name": "n8n.api"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
        },
        "id": "31fd1845-93b6-495f-9252-8fb11c51409e",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          -560,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "d054f809-9b95-49b3-9006-56b8571c5e50",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          -736,
          192
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "repo.owner",
                "value": "SMARTweb-SaaS"
              },
              {
                "name": "repo.name",
                "value": "Optimiza.n8n"
              },
              {
                "name": "repo.path",
                "value": "Workflows"
              }
            ]
          },
          "options": {}
        },
        "id": "93db0fbf-4fb0-4895-b5e7-972fd8cc1030",
        "name": "Variables",
        "type": "n8n-nodes-base.set",
        "position": [
          -1552,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "840e5a0d-8162-47ca-8a7b-9f6b51758637",
        "name": "Fin",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -928,
          -80
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "4117edad-bc60-4cbc-8be7-e113e39b431f",
        "name": "OneAtATime",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1136,
          192
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "2b303bec-4ad8-4169-aaea-891c95ae4857",
        "name": "Get a file",
        "type": "n8n-nodes-base.github",
        "position": [
          -928,
          80
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "4f23bcc4-5659-468b-918f-15af6e02b092",
        "credentials": {
          "githubApi": {
            "id": "Adw3P3hfmVnkHtIm",
            "name": "Github.api"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "content": "## Consultar\n[GitHub - Optimiza.n8n](https://github.com/SMARTweb-SaaS/Optimiza.n8n)",
          "height": 112,
          "width": 312,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1488,
          -32
        ],
        "id": "0b58ebac-3b80-4a12-a895-cc8f4ce0aacf",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "GitHub Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "GitHub Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "github_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "github_status": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 12 hours": {
        "main": [
          [
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Fin",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "John Ordóñez Monroy",
    "name": "Version 9e999b50",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "9e999b50-329d-4fef-bddb-6ec2b7d9eed1",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-30T22:50:16.136Z",
  "id": "1YQzx0gB7L5rts2C",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Github.Backup",
  "nodes": [
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "0698af2e-f0d6-4ab5-9a7d-bf83527f3b1d",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -384,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b70290eb-36bb-445e-91ee-b4bd4bf0068b",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -208,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e301c621-d5d7-4da0-9ae8-b0f98a2364c1",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -224,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "249d8d62-fc3f-4ca3-aa2a-10009320a0f9",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -224,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "0ec7bee1-dae9-43a8-a006-f2e3f1c1ef14",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        -64,
        160
      ],
      "typeVersion": 1,
      "webhookId": "58ae2878-f7f6-4fb3-b0f5-174ce6d91267",
      "credentials": {
        "githubApi": {
          "id": "Adw3P3hfmVnkHtIm",
          "name": "Github.api"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "d0149351-d935-4d55-88c2-60ff6dddf2d6",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        -64,
        352
      ],
      "typeVersion": 1,
      "webhookId": "b0351e9d-9485-4ed1-a09c-355881d4fdc5",
      "credentials": {
        "githubApi": {
          "id": "Adw3P3hfmVnkHtIm",
          "name": "Github.api"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "d0ef6547-d292-4482-8fe1-26a7d1e7ddd1",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1744,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "0c3687ad-4ccd-4631-a9ea-2081a298fabc",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1344,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ZGgVNFyj6iREk53l",
          "name": "n8n.api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "31fd1845-93b6-495f-9252-8fb11c51409e",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -560,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d054f809-9b95-49b3-9006-56b8571c5e50",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -736,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "SMARTweb-SaaS"
            },
            {
              "name": "repo.name",
              "value": "Optimiza.n8n"
            },
            {
              "name": "repo.path",
              "value": "Workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "93db0fbf-4fb0-4895-b5e7-972fd8cc1030",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1552,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "840e5a0d-8162-47ca-8a7b-9f6b51758637",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -928,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4117edad-bc60-4cbc-8be7-e113e39b431f",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1136,
        192
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "2b303bec-4ad8-4169-aaea-891c95ae4857",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -928,
        80
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "4f23bcc4-5659-468b-918f-15af6e02b092",
      "credentials": {
        "githubApi": {
          "id": "Adw3P3hfmVnkHtIm",
          "name": "Github.api"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Consultar\n[GitHub - Optimiza.n8n](https://github.com/SMARTweb-SaaS/Optimiza.n8n)",
        "height": 112,
        "width": 312,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        -32
      ],
      "id": "0b58ebac-3b80-4a12-a895-cc8f4ce0aacf",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "qvHy7Ek5sgyaX9xp",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-30T22:50:16.136Z",
      "createdAt": "2026-04-30T22:50:16.136Z",
      "role": "workflow:owner",
      "workflowId": "1YQzx0gB7L5rts2C",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-04-30T23:13:50.360Z",
      "createdAt": "2026-04-30T23:13:50.360Z",
      "id": "c03xSxyTfQ6QC8qX",
      "name": "🤖 IA al mando"
    },
    {
      "updatedAt": "2026-04-30T23:13:50.319Z",
      "createdAt": "2026-04-30T23:13:50.319Z",
      "id": "WkzLO7ASOwlX9Xby",
      "name": "✨ Optimiza.ia.pro"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-05-01T15:58:56.208Z",
  "versionId": "9e999b50-329d-4fef-bddb-6ec2b7d9eed1"
}