WorkflowsMy workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rss.Read.EsWired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rss.Read.EsWired": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select.Rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-20T14:16:18.722Z",
  "id": "Y5yZBopNUa4fVQzt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        0
      ],
      "id": "e65d762b-381d-4c4e-8408-f753909286ff",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://iaenespanol.substack.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -112
      ],
      "id": "0e6dc9ae-3fa1-4da4-bec0-2ba8262a9e0b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// Obtén todos los elementos que vienen del nodo anterior (RSS Read)\nconst rssArray = $input.all();\n\n// --- Elige tu lógica de selección ---\nconst indice = 0// 0: Primer elemento\nconst selectedElement = rssArray[indice];\n\n// Envía el elemento seleccionado como salida\nif (selectedElement) {\n  return [{ json: selectedElement }]; // Asegúrate de devolverlo dentro de un objeto con la propiedad 'json'\n} else {\n  // Manejo si no se encuentra ningún elemento o si el array está vacío\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ],
      "id": "87a513d4-d6de-4fa5-aaa8-cf7590e8e529",
      "name": "Select.Rss"
    },
    {
      "parameters": {
        "url": "https://es.wired.com/feed/rss",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        144
      ],
      "id": "9ceec7f5-2b7d-4eb3-966f-8e136ce19d4a",
      "name": "Rss.Read.EsWired"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9190e1b7-d3c3-42d6-8f60-102233162cab",
              "leftValue": "={{ $json.title }}",
              "rightValue": "IA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c1c01e3c-0f94-4dfb-a471-3a6dcf7c62b6",
              "leftValue": "={{ $json.title }}",
              "rightValue": "gpt",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "29503942-2c6b-445e-8ef1-6520a6bf48ba",
              "leftValue": "={{ $json.title }}",
              "rightValue": "software",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b6798105-bae7-4e4f-a078-d7b84e5bfdfb",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Claude",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "8276b4d9-00e3-4e4d-9b7f-cd3d60d9d193",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        0
      ],
      "id": "546e3fa8-e6f3-464c-9fb5-6b5e8b2046b5",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad7b0a27-e2f4-43ef-a980-8032b0827cf4",
              "name": "=index",
              "value": "={{ $itemIndex }}",
              "type": "number"
            },
            {
              "id": "94d3989d-b3bd-47c1-9867-539e5670bc1f",
              "name": "=creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "81250a65-7a30-43a9-83a0-f01a3961ccaf",
              "name": "=title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "856fd9c0-61e1-4b3a-bbb4-ae1498c462ae",
              "name": "=link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "7abb6e02-9128-4af8-9d33-00cccc283251",
              "name": "=pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true,
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        0
      ],
      "id": "9eb34aff-cd55-4f7a-a453-c231fcb25c6c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-20T14:16:18.747Z",
      "createdAt": "2026-04-20T14:16:18.747Z",
      "role": "workflow:owner",
      "workflowId": "Y5yZBopNUa4fVQzt",
      "projectId": "uBzdLipflPbb1Tbz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T00:02:16.430Z",
  "versionId": "326fe389-324c-447b-9de1-1d7e0cee42a7"
}