WorkflowsTally.SmartWeb.Saludos.json
{
  "active": false,
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "CopiarPlantilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CopiarPlantilla": {
      "main": [
        [
          {
            "node": "ReemplazarTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReemplazarTexto": {
      "main": [
        [
          {
            "node": "ObtenerSlides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerSlides": {
      "main": [
        [
          {
            "node": "ObtenerImagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerImagen": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "BorrarSlide",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "ObtenerImagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    },
    "BorrarSlide": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        []
      ]
    },
    "estructura.json": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "ObtenerImagen1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-13T14:23:37.290Z",
  "id": "5WeE0V9dY1avs7tJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tally.SmartWeb.Saludos",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre: {{ $json.Nombre }}\nRelación: {{ $json.Relacion }}\nInterés: {{ $json.Interes }}\nMensaje Específico: {{ $json.MensajeEspecifico }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un experto en personalización de invitaciones para eventos. Tu tarea es analizar los datos de UN invitado específico de una boda y generar un mensaje personalizado único para esa persona.\n\n## DATOS DE ENTRADA:\nRecibirás los datos de un solo invitado con el siguiente formato:\n- Nombre: [nombre del invitado]\n- Relación: [relación con los novios]\n- Interés: [principal interés o pasión de la persona]\n- Mensaje Específico: [mensaje base relacionado con su importancia]\n\n## PLANTILLA BASE:\n\"Querido/a [NOMBRE], sabemos que te encanta [INTERÉS], por eso [MOTIVO_PERSONALIZADO]. Te esperamos el [FECHA]. [MENSAJE_ESPECÍFICO]\"\n\n## TU TRABAJO:\nPara este invitado específico, debes generar:\n1. FRASE DE INTERÉS: Completa la frase \"sabemos que te encanta/apasiona/te gusta [INTERÉS]\" de forma natural\n2. MOTIVO_PERSONALIZADO: Una razón específica de por qué disfrutará la boda conectada con su interés. Debe comenzar con un verbo de acción.\n\n## REGLAS IMPORTANTES:\n- SIEMPRE usa \"te encanta\", \"te apasiona\" o \"te gusta\" antes del interés\n- El MOTIVO_PERSONALIZADO debe empezar con verbo (preparamos, tendremos, contratamos, etc.)\n- Máximo 12 palabras para MOTIVO_PERSONALIZADO\n- El mensaje debe fluir naturalmente al leerlo en voz alta\n- Evita repetir palabras del interés en el motivo personalizado\n\n## EJEMPLOS CORRECTOS:\n- \"sabemos que te encanta la fotografía, por eso preparamos rincones perfectos para tomar fotos\"\n- \"sabemos que te apasiona la música, por eso contratamos banda en vivo\"\n- \"sabemos que te gusta cocinar, por eso tendremos chef en vivo\"\n\n## FORMATO DE SALIDA JSON:\n{\n  \"nombre\": \"nombre_exacto_del_invitado\",\n  \"frase_interes\": \"te encanta/apasiona/gusta [interés]\",\n  \"motivo_personalizado\": \"razón específica que empiece con verbo de acción\",\n  \"mensaje_completo\": \"mensaje final completo y bien estructurado\"\n}\n\nIMPORTANTE: Revisa que el mensaje final suene natural al leerlo completo y que la persona sienta que es un mensaje natural"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        64,
        16
      ],
      "id": "0b1b8ce7-ce14-4aeb-aa57-6e0fa119e42a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/1Yagt11CRvgvCTGXkhDEMwQcNcK74I-cUvo1KlYZ5oDo/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"name\": \"Presentación_{{$json.output.nombre}}\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $json.output.nombre }}\",\n  \"mensaje\": \"{{ $json.output.mensaje_completo }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        16
      ],
      "id": "5f17a72e-4c34-4d4a-b1b4-939bced69244",
      "name": "CopiarPlantilla",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9itbsHqDyr3Vwspb",
          "name": "Sheets.jomBusiness"
        },
        "googleSlidesOAuth2Api": {
          "id": "r33mZaNsUtZk4fVS",
          "name": "Slides.jomBusiness"
        },
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{$node[\"CopiarPlantilla\"].json[\"id\"]}}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"nombre\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Edit Fields').item.json.Nombre }}\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": {\n          \"text\": \"mensaje\",\n          \"matchCase\": true\n        },\n        \"replaceText\": \"{{ $('Basic LLM Chain').item.json.output.mensaje_completo }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        16
      ],
      "id": "e5dccc0a-3125-46c2-aab0-b1e10ea2a950",
      "name": "ReemplazarTexto",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "r33mZaNsUtZk4fVS",
          "name": "Slides.jomBusiness"
        },
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $json.presentationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        240
      ],
      "id": "9c4fbce6-7eb9-4618-a24b-2216ba9bab96",
      "name": "ObtenerSlides",
      "credentials": {
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $('ReemplazarTexto').item.json.presentationId }}/pages/{{ $('ObtenerSlides').item.json.slides[0].objectId}}/thumbnail?thumbnailProperties.mimeType=PNG&thumbnailProperties.thumbnailSize=LARGE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        240
      ],
      "id": "0d2821e1-e7d7-4f1f-b355-df9fe66991bf",
      "name": "ObtenerImagen",
      "credentials": {
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1704819492",
        "file": "={{ $json.contentUrl }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        240
      ],
      "id": "e948d52a-1e44-4fe2-8ff0-7cf938328181",
      "name": "Send a photo message",
      "webhookId": "08652d6f-e003-4078-b116-73ae4a46b7be",
      "credentials": {
        "telegramApi": {
          "id": "zxkALNj2uZW1uxoX",
          "name": "Telegram.jomBusiness"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('CopiarPlantilla').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        592
      ],
      "id": "cfabe6f8-eece-401d-8359-803a86ce1737",
      "name": "BorrarSlide",
      "credentials": {
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d98c5263-e803-4b0f-b4b7-ba47084888cb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        16
      ],
      "id": "ef1df261-310b-453e-a7f8-d94ab173730f",
      "name": "Webhook",
      "webhookId": "d98c5263-e803-4b0f-b4b7-ba47084888cb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94480326-dc38-4f80-905b-81ca0ac063b1",
              "name": "Nombre",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "f04070b8-1bbf-4046-bda7-e7afcdcfb950",
              "name": "Relacion",
              "value": "={{ $json.body.data.fields[2].value }}",
              "type": "string"
            },
            {
              "id": "a1959e66-e440-4241-bf52-bf8ffa6fcb56",
              "name": "Interes",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "93df26f2-4e6e-44e5-ab98-f2a68e40cf5f",
              "name": "MensajeEspecifico",
              "value": "Tu presencia hace todo perfecto",
              "type": "string"
            },
            {
              "id": "d8f6b8cf-3b25-40e7-9c2d-00cadebd98f3",
              "name": "Celular",
              "value": "={{ $json.body.data.fields[3].value }}",
              "type": "string"
            },
            {
              "id": "d28f6370-cdc1-45fa-9590-e04820753aec",
              "name": "Correo",
              "value": "={{ $json.body.data.fields[4].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        16
      ],
      "id": "35994469-2d90-4258-a5d1-9615686eb4e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        64,
        176
      ],
      "id": "7175226a-6b0d-4a3c-ab27-faeffb2bc32e",
      "name": "gpt-4o-mini",
      "credentials": {
        "openRouterApi": {
          "id": "fx7pdURTekgTilKM",
          "name": "OpenRouter.msn"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "Optimiza.ia.pro",
        "remoteJid": "={{ $('Edit Fields').item.json.Celular }}",
        "media": "={{ $json.contentUrl }}",
        "caption": "=*¡Feliz Cumpleaños!*",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        400
      ],
      "id": "ebeb14ec-4e58-4c90-9e63-f4cafe4cd255",
      "name": "Enviar imagem",
      "credentials": {
        "evolutionApi": {
          "id": "nQ7tKF0mFkgyIYyn",
          "name": "Evolution.Optimiza"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.Correo }}",
        "subject": "¡ Feliz Cumpleaños !",
        "message": "=<p>¡Hola!</p>\n<p>Aquí tienes la imagen incrustada:</p>\n<br/>\n<img src=\"cid:image_0\" alt=\"Tu Imagen\">\n<p>¡Saludos!</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        592
      ],
      "id": "6556b86c-b0f9-476b-919f-ed930d453608",
      "name": "Send a message",
      "webhookId": "4e4499dc-4fa7-4228-9f17-453e18b78e6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "klbYdrcdLX4W0ONj",
          "name": "Gmail.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nombre\": \"nombre_exacto_del_invitado\",\n  \"frase_interes\": \"te encanta/apasiona/gusta [interés]\",\n  \"motivo_personalizado\": \"razón específica que empiece con verbo de acción\",\n  \"mensaje_completo\": \"mensaje final completo y bien estructurado\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        176
      ],
      "id": "4dbd6637-6031-400b-96c8-9b17d0c4a4b7",
      "name": "estructura.json"
    },
    {
      "parameters": {
        "url": "={{ $json.contentUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        432
      ],
      "id": "e7602d9d-86f3-4e0e-84a4-de779fe742d0",
      "name": "ObtenerImagen1",
      "credentials": {
        "googleOAuth2Api": {
          "id": "vkWvvbQeke2SGX0V",
          "name": "Google.jomBusiness"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const imageData = items[0].binary.data;\nconst base64Image = `data:image/jpeg;base64,${imageData}`;\nreturn [{ json: { base64Image: base64Image } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        320
      ],
      "id": "ebf33d9d-c243-4b4b-ab77-9a1deb9559d9",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        464
      ],
      "id": "4884c65a-1e84-46b1-95f9-02d51e2f8be0",
      "name": "Extract from File"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "smartweb-web-n8n.izq3rn.easypanel.host",
            "user-agent": "Tally Webhooks",
            "content-length": "757",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "baggage": "sentry-environment=production,sentry-release=5897508e7ba6c0d76a7e9e2485dce2a151611da9,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=15e2b4a14bcde6d8bd3fc1c64b98bf7a,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.5384017822574876,sentry-sample_rate=0.001",
            "content-type": "application/json",
            "sentry-trace": "15e2b4a14bcde6d8bd3fc1c64b98bf7a-67c6406670747536-0",
            "x-forwarded-for": "34.96.41.155",
            "x-forwarded-host": "smartweb-web-n8n.izq3rn.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "ef50f8ff3fef",
            "x-real-ip": "34.96.41.155"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "4a3c7225-168f-4f4f-a9c9-374ffae100ea",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-08-13T14:37:26.589Z",
            "data": {
              "responseId": "xXN4Z0r",
              "submissionId": "xXN4Z0r",
              "respondentId": "AkdRvo",
              "formId": "w8B1xO",
              "formName": "Saludo por cumpleaños",
              "createdAt": "2025-08-13T14:37:26.000Z",
              "fields": [
                {
                  "key": "question_KVVNAk",
                  "label": "Nombre",
                  "type": "INPUT_TEXT",
                  "value": "John"
                },
                {
                  "key": "question_LPPqBO",
                  "label": "Interés",
                  "type": "INPUT_TEXT",
                  "value": "Automatizaciones con IA"
                },
                {
                  "key": "question_pDD6XZ",
                  "label": "Relación",
                  "type": "INPUT_TEXT",
                  "value": "Socio"
                },
                {
                  "key": "question_199gzO",
                  "label": "Celular",
                  "type": "INPUT_PHONE_NUMBER",
                  "value": "+51952947576"
                },
                {
                  "key": "question_MEEQlg",
                  "label": "Correo",
                  "type": "INPUT_EMAIL",
                  "value": "jordonezm@cmactacna.com.pe"
                }
              ]
            }
          },
          "webhookUrl": "https://smartweb-web-n8n.izq3rn.easypanel.host/webhook-test/d98c5263-e803-4b0f-b4b7-ba47084888cb",
          "executionMode": "test"
        }
      }
    ],
    "Basic LLM Chain": [
      {
        "json": {
          "output": {
            "nombre": "John",
            "frase_interes": "te encanta la automatización con IA",
            "motivo_personalizado": "tendremos increíbles demostraciones tecnológicas durante la boda",
            "mensaje_completo": "Querido John, sabemos que te encanta la automatización con IA, por eso tendremos increíbles demostraciones tecnológicas durante la boda. Te esperamos el 15 de octubre. Tu presencia hace todo perfecto."
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-13T16:24:55.000Z",
  "versionId": "756b1ab1-d9ec-44ca-9bdd-4f333d1e0f32"
}