WorkflowsWhatsApp.AgenteIA.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-05T20:37:20.809Z",
    "createdAt": "2026-06-05T20:32:17.971Z",
    "versionId": "b7894850-23ab-4606-971e-4cc1fd33df34",
    "workflowId": "EzuhMMML1nuiHzh9",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d4b35b41-549a-4b23-b8f9-459e9bee0e80",
                "name": "body.key",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "4d21c639-5d85-4e57-b7d9-709ed4513ef8",
                "name": "body",
                "value": "={{ $json.body }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2048,
          -128
        ],
        "id": "fd301343-40f3-42e5-a116-c162813f9ba5",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b912eb55-c707-4caa-a2e9-6ea7eb2ecec3",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1856,
          -128
        ],
        "id": "ec7dd983-e70b-4b0a-8b50-1b06e509b338",
        "name": "Filtro fromMe"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1856,
          -272
        ],
        "id": "6743ab2a-8bfd-421c-bf3e-d04bd03c5ace",
        "name": "Ignorar mensaje propio"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "37e8d4ea-8815-4800-b3bd-f9c76884d803",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TEXTO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4d4dfaa6-272f-4f2b-9ce5-e6c1ba5b490a",
                      "leftValue": "={{ $json.body.data.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AUDIO"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1632,
          -128
        ],
        "id": "fd29f17f-34a1-45f1-b02a-c670e8a0309c",
        "name": "Switch tipo mensaje"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1648,
          144
        ],
        "id": "44ffabc8-c746-4191-be78-cde6e274136c",
        "name": "Ignorar tipo no soportado"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e209fc01-2976-4973-bca9-3b08b202e0a6",
                "name": "mensaje",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1376,
          -272
        ],
        "id": "35ff93f1-edea-4fa4-b0f7-6c6a094cc160",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3fb9ea6c-bd0d-401a-ab2d-d27a59c6ffa1",
                "name": "audioMessageKeyId",
                "value": "={{ $json.body.data.key.id }}",
                "type": "string"
              },
              {
                "id": "ce02b96b-10c9-456b-8746-525ff16f67a0",
                "name": "remoteJid",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1376,
          -112
        ],
        "id": "f7b70f07-5276-44b5-ac78-394d7329b688",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Inicio (Router)').item.json.evolutionUrl }}/chat/getBase64FromMediaMessage/{{ $('Inicio (Router)').item.json.evolutionInstance }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"message\": $('Edit Fields').item.json.body.data, \"convertToMp4\": false } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1376,
          144
        ],
        "id": "bf6a0f29-8d5b-4a6c-a974-8f76f8b42340",
        "name": "Obtener audio (Evolution)",
        "credentials": {
          "httpHeaderAuth": {
            "id": "yKsf30NQFRM3zopJ",
            "name": "Replicate.msn"
          }
        }
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "base64",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -1152,
          144
        ],
        "id": "cb1b6bd5-5031-4c94-8085-63144798a10d",
        "name": "Base64 a binario"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -896,
          144
        ],
        "id": "c8ea0e4b-1803-4daf-ac14-66900aa165d9",
        "name": "Transcribir audio",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1966fbe0-8564-4acc-96b6-c38b26e8440e",
                "name": "mensaje",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -688,
          144
        ],
        "id": "c1489675-dab2-47c0-a5ca-6a5d96c366c8",
        "name": "Edit Fields7"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          -1152,
          -256
        ],
        "id": "235ae007-4d34-433a-855b-571405029ea4",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0df1f23d-5e07-48c7-8cfe-1df7058c1a86",
                "name": "Input",
                "value": "={{ $json.mensaje }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -928,
          -256
        ],
        "id": "d9592218-06ac-4af6-9866-5ff4daf3c567",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "inputText": "={{ $json.Input }}",
          "categories": {
            "categories": [
              {
                "category": "RESERVA",
                "description": "El usuario quiere agendar una cita: inicia una nueva cita, pide horarios disponibles, da datos para agendar (nombre, correo, fecha, hora), corrige datos de una cita en proceso, pide horarios por franja (mañana, tarde, noche) o responde a las preguntas de contexto previas al agendamiento. Si el flujo de agendamiento ya está activo, cualquier respuesta dentro de ese contexto es RESERVA."
              },
              {
                "category": "CONVERSACION",
                "description": "El usuario hace preguntas o comentarios no relacionados con agendar una cita: dudas informativas sobre la empresa o sus servicios, temas generales o cualquier asunto fuera del proceso de reserva."
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1,
        "position": [
          -720,
          -256
        ],
        "id": "bb3ed185-927d-472c-a893-445dcae5af86",
        "name": "Clasificador intencion"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          -736,
          -32
        ],
        "id": "f70222ec-dcdf-4a82-ad1a-26135baf098f",
        "name": "Modelo Clasificador (gpt-4o-mini)",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Edit Fields2').item.json.Input }}",
          "options": {
            "systemMessage": "=Eres el asistente de agendamiento de {{ $('Inicio (Router)').item.json.empresaNombre }}, una empresa especializada en automatización con inteligencia artificial. Tu objetivo es entender al prospecto y agendar su cita de forma conversacional, profesional y cordial.\n\nHERRAMIENTAS DISPONIBLES (usa exactamente estos nombres):\n- DISPONIBILIDAD: consulta los horarios libres en la fecha indicada por el usuario.\n- AGENDAR: registra la cita en la base de datos (Cal.com).\n- Think: úsala para razonar si te pierdes o para verificar que tienes todos los datos antes de agendar.\n\nZONA HORARIA Y CONVERSIÓN A UTC (CRÍTICO):\n- El usuario está en zona horaria America/Lima (UTC-5, sin horario de verano).\n- Cal.com requiere las horas en formato ISO 8601 UTC: YYYY-MM-DDTHH:mm:ssZ.\n- Para convertir: hora local de Lima + 5 horas = hora UTC.\n  Ejemplo: si el usuario elige las 14:00 hora Lima del 2026-06-10, envía 2026-06-10T19:00:00Z en el campo start de AGENDAR.\n- Para DISPONIBILIDAD usa startTime a las 00:00:00 y endTime a las 23:59:59 del día solicitado, expresados en UTC.\n\nPREGUNTAS DE CONTEXTO (una por una; sirven para entender al prospecto, NUNCA para rechazarlo):\n1. ¿Cuál es tu objetivo principal al buscar automatización con IA?\n2. ¿Ya usas alguna herramienta de automatización o CRM? ¿Cuál?\n3. ¿Qué presupuesto tienes en mente? (solo para orientar la propuesta)\nContinúa SIEMPRE con el agendamiento, sin importar las respuestas. No descartes a nadie por presupuesto.\n\nFLUJO DE AGENDAMIENTO:\n- Reconoce los datos ya proporcionados y no repitas preguntas. Pide solo lo que falte: nombre completo, correo y fecha.\n- Llama a DISPONIBILIDAD y muestra los horarios libres de forma clara.\n- Franjas horarias (hora Lima): mañana 00:00-11:59, tarde 12:00-17:00, noche 17:01-23:59. Si no hay disponibilidad en la franja pedida, ofrece otras opciones del mismo día.\n- Cuando el usuario elija una hora válida y ya tengas nombre, correo, fecha y hora: resume los datos, convierte la hora a UTC y llama a AGENDAR de inmediato, sin confirmaciones innecesarias.\n- Si se agenda bien: ¡Tu cita quedó reservada para el [fecha] a las [hora Lima]! Te enviamos un correo de confirmación.\n- Si hay error: Hubo un problema al confirmar la cita. ¿Podrías elegir otro horario?\n\nREGLAS:\n- Valida que el correo tenga @ y un dominio válido.\n- Nunca inventes horarios. Si cambia la fecha u hora, vuelve a llamar a DISPONIBILIDAD.\n- Interpreta correctamente frases como mañana por la mañana, próximo lunes, la siguiente semana, respecto a la fecha actual.\n- No menciones herramientas técnicas como n8n o Make. Habla de beneficios.\n- No pongas palabras entre comillas. No saltes párrafos innecesariamente.\n\nFecha y hora actual (referencia, America/Lima): {{ new Date($now).toLocaleString(\"es-PE\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\", hour12: true, timeZone: \"America/Lima\" }) }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -384,
          -400
        ],
        "id": "49a49f6c-b532-46e5-b744-8ff63a55e986",
        "name": "AGENDADOR"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          -416,
          -224
        ],
        "id": "90a3c7d5-8397-40dd-ac3b-4bd91aeb21a4",
        "name": "Modelo Agendador (gpt-4o)",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Edit Fields2').item.json.Input }}",
          "options": {
            "systemMessage": "=<agentPrompt>\n  <context>\n    Eres el asistente de {{ $('Inicio (Router)').item.json.empresaNombre }}, una empresa de automatización con inteligencia artificial. Ayudas a personas interesadas en sus servicios, con soluciones simples y personalizadas.\n  </context>\n  <role>\n    Asistente informativo profesional, humano y claro. Responde ÚNICAMENTE con base en la información de companyKnowledge (RAG). No inventes nada.\n  </role>\n  <tools>\n    companyKnowledge: base de datos vectorial con toda la información de {{ $('Inicio (Router)').item.json.empresaNombre }} (servicios, precios, preguntas frecuentes, contacto).\n  </tools>\n  <ragRule>\n    Consulta SIEMPRE companyKnowledge antes de responder. Si no encuentras la respuesta, no inventes; ofrece agendar una llamada o deja el correo de contacto: {{ $('Inicio (Router)').item.json.email }}.\n  </ragRule>\n  <contact>Correo: {{ $('Inicio (Router)').item.json.email }}</contact>\n  <tone>Cercano, claro, profesional, sin sonar robótico. No uses emojis.</tone>\n  <limits>\n    No inventes información no respaldada por companyKnowledge. No participes en temas fuera del enfoque del negocio.\n  </limits>\n  <personaRules>\n    Responde en primera persona como parte del equipo de {{ $('Inicio (Router)').item.json.empresaNombre }}. Si te preguntan algo personal o te felicitan, agradece y di que eres la IA de {{ $('Inicio (Router)').item.json.empresaNombre }} y que lo harás llegar al equipo.\n  </personaRules>\n</agentPrompt>\n\nTrata de no saltar párrafos. No menciones herramientas técnicas como n8n o Make. Enfócate en los beneficios prácticos para el cliente."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -400,
          16
        ],
        "id": "01cd3715-b575-452f-9ed8-d5aa323b819a",
        "name": "CONVERSACION"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          -464,
          176
        ],
        "id": "1441ce1a-1970-4824-b7eb-46aa7fe8814f",
        "name": "Modelo Conversacion (gpt-4o-mini)",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Inicio (Router)').item.json.tenant }}_{{ $('Inicio (Router)').item.json.body.data.key.remoteJid }}",
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -288,
          -192
        ],
        "id": "2c885c65-92b6-4732-b020-9f5b3d61f2df",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "dptch5UJkIPuomI3",
            "name": "Postgres.contabo"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Recupera todos los espacios de citas libres disponibles de la base de datos.",
          "url": "https://api.cal.com/v1/slots",
          "sendQuery": true,
          "specifyQuery": "json",
          "jsonQuery": "={\n  \"startTime\": \"{startTime}\",\n  \"endTime\": \"{endTime}\",\n  \"eventTypeId\": \"{{ $('Inicio (Router)').item.json.calEventTypeId }}\",\n  \"timeZone\": \"America/Lima\",\\n  \"apiKey\": \"{{ $('Inicio (Router)').item.json.calApiKey }}\"\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "startTime",
                "description": "Fecha de inicio en ISO 8601 UTC. La hora siempre empieza a las 00:00:00.",
                "type": "string"
              },
              {
                "name": "endTime",
                "description": "Fecha de fin en ISO 8601 UTC. La hora siempre finaliza a las 23:59:59.",
                "type": "string"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          -144,
          -208
        ],
        "id": "254c019c-bf26-4031-8c31-5c632ddc14ff",
        "name": "DISPONIBILIDAD"
      },
      {
        "parameters": {
          "toolDescription": "Guarda la cita en la base de datos.",
          "method": "POST",
          "url": "https://api.cal.com/v1/bookings",
          "sendQuery": true,
          "specifyQuery": "json",
          "jsonQuery": "={\\n  \"apiKey\": \"{{ $('Inicio (Router)').item.json.calApiKey }}\"\\n}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"eventTypeId\": {{ Number($('Inicio (Router)').item.json.calEventTypeId) }},\n  \"start\": \"{startTime}\",\n  \"responses\": {\n    \"name\": \"{userName}\",\n    \"email\": \"{userEmail}\",\n    \"location\": {\n      \"value\": \"online\",\n      \"optionValue\": \"\"\n    }\n  },\n  \"timeZone\": \"America/Lima\",\n  \"language\": \"es\",\n  \"metadata\": {}\n}",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "startTime",
                "description": "Fecha/hora de inicio elegida por el usuario en ISO 8601 UTC.",
                "type": "string"
              },
              {
                "name": "userName",
                "description": "Nombre completo del usuario",
                "type": "string"
              },
              {
                "name": "userEmail",
                "description": "Email del usuario"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          32,
          -208
        ],
        "id": "16e40def-dbbd-441e-8014-a7880a204853",
        "name": "AGENDAR"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1,
        "position": [
          192,
          -208
        ],
        "id": "ca9b62f3-222d-4e2b-9dff-ace90bffc437",
        "name": "Think"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "companyKnowledge",
          "toolDescription": "Usa esta herramienta para recuperar información de la empresa (servicios, precios, FAQ, contacto).",
          "qdrantCollection": {
            "__rl": true,
            "value": "smartweb_knowledge",
            "mode": "list",
            "cachedResultName": "smartweb_knowledge"
          },
          "topK": 10,
          "options": {
            "searchFilterJson": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.tenant\",\n      \"match\": { \"value\": \"{{ $('Inicio (Router)').item.json.tenant }}\" }\n    }\n  ]\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.1,
        "position": [
          -192,
          224
        ],
        "id": "7b35bf17-0077-4a89-8318-fccea163875d",
        "name": "Qdrant Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "CGQrp2xFcyYxuAVX",
            "name": "Qdrant.inHouse"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -320,
          368
        ],
        "id": "cca5de2e-621f-48b3-81a9-babd5668afc0",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "KY7AUSiKP5pDlGeh",
            "name": "OpenAI.msn"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "={{ $('Inicio (Router)').item.json.evolutionInstance }}",
          "remoteJid": "={{ $('Inicio (Router)').item.json.body.data.key.remoteJid }}",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          64,
          -400
        ],
        "id": "eb2e13d5-a1ba-496b-b11a-1b942df8a470",
        "name": "Enviar texto (AGENDADOR)",
        "credentials": {
          "evolutionApi": {
            "id": "pkZphInpmEQfnYQG",
            "name": "Evolution.inHouse"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "={{ $('Inicio (Router)').item.json.evolutionInstance }}",
          "remoteJid": "={{ $('Inicio (Router)').item.json.body.data.key.remoteJid }}",
          "messageText": "={{ $json.output }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          16,
          16
        ],
        "id": "0e309913-0825-432e-bebd-b0f080086e18",
        "name": "Enviar texto (CONVERSACION)",
        "credentials": {
          "evolutionApi": {
            "id": "pkZphInpmEQfnYQG",
            "name": "Evolution.inHouse"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2256,
          -128
        ],
        "id": "26bd5e8d-9ee0-4c70-afd4-ed78d649da01",
        "name": "Inicio (Router)"
      },
      {
        "parameters": {
          "content": "## Notas \n[Configurar Webhokk](https://smartweb-web-evolution-api.izq3rn.easypanel.host/manager/instance/c6d3e45e-2616-40f6-b822-934a6ca62591/webhook)",
          "width": 272
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2224,
          -336
        ],
        "typeVersion": 1,
        "id": "f527055b-30e7-4153-b31f-f7490ec88e5d",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Filtro fromMe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro fromMe": {
        "main": [
          [
            {
              "node": "Ignorar mensaje propio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch tipo mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch tipo mensaje": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ignorar tipo no soportado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Obtener audio (Evolution)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener audio (Evolution)": {
        "main": [
          [
            {
              "node": "Base64 a binario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 a binario": {
        "main": [
          [
            {
              "node": "Transcribir audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribir audio": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Clasificador intencion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clasificador intencion": {
        "main": [
          [
            {
              "node": "AGENDADOR",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CONVERSACION",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Clasificador (gpt-4o-mini)": {
        "ai_languageModel": [
          [
            {
              "node": "Clasificador intencion",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AGENDADOR": {
        "main": [
          [
            {
              "node": "Enviar texto (AGENDADOR)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Agendador (gpt-4o)": {
        "ai_languageModel": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CONVERSACION": {
        "main": [
          [
            {
              "node": "Enviar texto (CONVERSACION)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Conversacion (gpt-4o-mini)": {
        "ai_languageModel": [
          [
            {
              "node": "CONVERSACION",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "CONVERSACION",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "DISPONIBILIDAD": {
        "ai_tool": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AGENDAR": {
        "ai_tool": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "AGENDADOR",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Qdrant Vector Store": {
        "ai_tool": [
          [
            {
              "node": "CONVERSACION",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Qdrant Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Inicio (Router)": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "John Ordóñez Monroy",
    "name": "Version b7894850",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b7894850-23ab-4606-971e-4cc1fd33df34",
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filtro fromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro fromMe": {
      "main": [
        [
          {
            "node": "Ignorar mensaje propio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch tipo mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch tipo mensaje": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar tipo no soportado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Obtener audio (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio (Evolution)": {
      "main": [
        [
          {
            "node": "Base64 a binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a binario": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Clasificador intencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador intencion": {
      "main": [
        [
          {
            "node": "AGENDADOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CONVERSACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Clasificador (gpt-4o-mini)": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificador intencion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AGENDADOR": {
      "main": [
        [
          {
            "node": "Enviar texto (AGENDADOR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Agendador (gpt-4o)": {
      "ai_languageModel": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CONVERSACION": {
      "main": [
        [
          {
            "node": "Enviar texto (CONVERSACION)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Conversacion (gpt-4o-mini)": {
      "ai_languageModel": [
        [
          {
            "node": "CONVERSACION",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "CONVERSACION",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DISPONIBILIDAD": {
      "ai_tool": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENDAR": {
      "ai_tool": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AGENDADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "CONVERSACION",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Inicio (Router)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T22:22:35.100Z",
  "id": "EzuhMMML1nuiHzh9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp.AgenteIA",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4b35b41-549a-4b23-b8f9-459e9bee0e80",
              "name": "body.key",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4d21c639-5d85-4e57-b7d9-709ed4513ef8",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        -128
      ],
      "id": "fd301343-40f3-42e5-a116-c162813f9ba5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b912eb55-c707-4caa-a2e9-6ea7eb2ecec3",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1856,
        -128
      ],
      "id": "ec7dd983-e70b-4b0a-8b50-1b06e509b338",
      "name": "Filtro fromMe"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1856,
        -272
      ],
      "id": "6743ab2a-8bfd-421c-bf3e-d04bd03c5ace",
      "name": "Ignorar mensaje propio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37e8d4ea-8815-4800-b3bd-f9c76884d803",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d4dfaa6-272f-4f2b-9ce5-e6c1ba5b490a",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1632,
        -128
      ],
      "id": "fd29f17f-34a1-45f1-b02a-c670e8a0309c",
      "name": "Switch tipo mensaje"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1648,
        144
      ],
      "id": "44ffabc8-c746-4191-be78-cde6e274136c",
      "name": "Ignorar tipo no soportado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e209fc01-2976-4973-bca9-3b08b202e0a6",
              "name": "mensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -272
      ],
      "id": "35ff93f1-edea-4fa4-b0f7-6c6a094cc160",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fb9ea6c-bd0d-401a-ab2d-d27a59c6ffa1",
              "name": "audioMessageKeyId",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "ce02b96b-10c9-456b-8746-525ff16f67a0",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -112
      ],
      "id": "f7b70f07-5276-44b5-ac78-394d7329b688",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Inicio (Router)').item.json.evolutionUrl }}/chat/getBase64FromMediaMessage/{{ $('Inicio (Router)').item.json.evolutionInstance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": $('Edit Fields').item.json.body.data, \"convertToMp4\": false } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        144
      ],
      "id": "bf6a0f29-8d5b-4a6c-a974-8f76f8b42340",
      "name": "Obtener audio (Evolution)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yKsf30NQFRM3zopJ",
          "name": "Replicate.msn"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1152,
        144
      ],
      "id": "cb1b6bd5-5031-4c94-8085-63144798a10d",
      "name": "Base64 a binario"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -896,
        144
      ],
      "id": "c8ea0e4b-1803-4daf-ac14-66900aa165d9",
      "name": "Transcribir audio",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1966fbe0-8564-4acc-96b6-c38b26e8440e",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        144
      ],
      "id": "c1489675-dab2-47c0-a5ca-6a5d96c366c8",
      "name": "Edit Fields7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1152,
        -256
      ],
      "id": "235ae007-4d34-433a-855b-571405029ea4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0df1f23d-5e07-48c7-8cfe-1df7058c1a86",
              "name": "Input",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -256
      ],
      "id": "d9592218-06ac-4af6-9866-5ff4daf3c567",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Input }}",
        "categories": {
          "categories": [
            {
              "category": "RESERVA",
              "description": "El usuario quiere agendar una cita: inicia una nueva cita, pide horarios disponibles, da datos para agendar (nombre, correo, fecha, hora), corrige datos de una cita en proceso, pide horarios por franja (mañana, tarde, noche) o responde a las preguntas de contexto previas al agendamiento. Si el flujo de agendamiento ya está activo, cualquier respuesta dentro de ese contexto es RESERVA."
            },
            {
              "category": "CONVERSACION",
              "description": "El usuario hace preguntas o comentarios no relacionados con agendar una cita: dudas informativas sobre la empresa o sus servicios, temas generales o cualquier asunto fuera del proceso de reserva."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -720,
        -256
      ],
      "id": "bb3ed185-927d-472c-a893-445dcae5af86",
      "name": "Clasificador intencion"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -736,
        -32
      ],
      "id": "f70222ec-dcdf-4a82-ad1a-26135baf098f",
      "name": "Modelo Clasificador (gpt-4o-mini)",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields2').item.json.Input }}",
        "options": {
          "systemMessage": "=Eres el asistente de agendamiento de {{ $('Inicio (Router)').item.json.empresaNombre }}, una empresa especializada en automatización con inteligencia artificial. Tu objetivo es entender al prospecto y agendar su cita de forma conversacional, profesional y cordial.\n\nHERRAMIENTAS DISPONIBLES (usa exactamente estos nombres):\n- DISPONIBILIDAD: consulta los horarios libres en la fecha indicada por el usuario.\n- AGENDAR: registra la cita en la base de datos (Cal.com).\n- Think: úsala para razonar si te pierdes o para verificar que tienes todos los datos antes de agendar.\n\nZONA HORARIA Y CONVERSIÓN A UTC (CRÍTICO):\n- El usuario está en zona horaria America/Lima (UTC-5, sin horario de verano).\n- Cal.com requiere las horas en formato ISO 8601 UTC: YYYY-MM-DDTHH:mm:ssZ.\n- Para convertir: hora local de Lima + 5 horas = hora UTC.\n  Ejemplo: si el usuario elige las 14:00 hora Lima del 2026-06-10, envía 2026-06-10T19:00:00Z en el campo start de AGENDAR.\n- Para DISPONIBILIDAD usa startTime a las 00:00:00 y endTime a las 23:59:59 del día solicitado, expresados en UTC.\n\nPREGUNTAS DE CONTEXTO (una por una; sirven para entender al prospecto, NUNCA para rechazarlo):\n1. ¿Cuál es tu objetivo principal al buscar automatización con IA?\n2. ¿Ya usas alguna herramienta de automatización o CRM? ¿Cuál?\n3. ¿Qué presupuesto tienes en mente? (solo para orientar la propuesta)\nContinúa SIEMPRE con el agendamiento, sin importar las respuestas. No descartes a nadie por presupuesto.\n\nFLUJO DE AGENDAMIENTO:\n- Reconoce los datos ya proporcionados y no repitas preguntas. Pide solo lo que falte: nombre completo, correo y fecha.\n- Llama a DISPONIBILIDAD y muestra los horarios libres de forma clara.\n- Franjas horarias (hora Lima): mañana 00:00-11:59, tarde 12:00-17:00, noche 17:01-23:59. Si no hay disponibilidad en la franja pedida, ofrece otras opciones del mismo día.\n- Cuando el usuario elija una hora válida y ya tengas nombre, correo, fecha y hora: resume los datos, convierte la hora a UTC y llama a AGENDAR de inmediato, sin confirmaciones innecesarias.\n- Si se agenda bien: ¡Tu cita quedó reservada para el [fecha] a las [hora Lima]! Te enviamos un correo de confirmación.\n- Si hay error: Hubo un problema al confirmar la cita. ¿Podrías elegir otro horario?\n\nREGLAS:\n- Valida que el correo tenga @ y un dominio válido.\n- Nunca inventes horarios. Si cambia la fecha u hora, vuelve a llamar a DISPONIBILIDAD.\n- Interpreta correctamente frases como mañana por la mañana, próximo lunes, la siguiente semana, respecto a la fecha actual.\n- No menciones herramientas técnicas como n8n o Make. Habla de beneficios.\n- No pongas palabras entre comillas. No saltes párrafos innecesariamente.\n\nFecha y hora actual (referencia, America/Lima): {{ new Date($now).toLocaleString(\"es-PE\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\", hour12: true, timeZone: \"America/Lima\" }) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -384,
        -400
      ],
      "id": "49a49f6c-b532-46e5-b744-8ff63a55e986",
      "name": "AGENDADOR"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -416,
        -224
      ],
      "id": "90a3c7d5-8397-40dd-ac3b-4bd91aeb21a4",
      "name": "Modelo Agendador (gpt-4o)",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields2').item.json.Input }}",
        "options": {
          "systemMessage": "=<agentPrompt>\n  <context>\n    Eres el asistente de {{ $('Inicio (Router)').item.json.empresaNombre }}, una empresa de automatización con inteligencia artificial. Ayudas a personas interesadas en sus servicios, con soluciones simples y personalizadas.\n  </context>\n  <role>\n    Asistente informativo profesional, humano y claro. Responde ÚNICAMENTE con base en la información de companyKnowledge (RAG). No inventes nada.\n  </role>\n  <tools>\n    companyKnowledge: base de datos vectorial con toda la información de {{ $('Inicio (Router)').item.json.empresaNombre }} (servicios, precios, preguntas frecuentes, contacto).\n  </tools>\n  <ragRule>\n    Consulta SIEMPRE companyKnowledge antes de responder. Si no encuentras la respuesta, no inventes; ofrece agendar una llamada o deja el correo de contacto: {{ $('Inicio (Router)').item.json.email }}.\n  </ragRule>\n  <contact>Correo: {{ $('Inicio (Router)').item.json.email }}</contact>\n  <tone>Cercano, claro, profesional, sin sonar robótico. No uses emojis.</tone>\n  <limits>\n    No inventes información no respaldada por companyKnowledge. No participes en temas fuera del enfoque del negocio.\n  </limits>\n  <personaRules>\n    Responde en primera persona como parte del equipo de {{ $('Inicio (Router)').item.json.empresaNombre }}. Si te preguntan algo personal o te felicitan, agradece y di que eres la IA de {{ $('Inicio (Router)').item.json.empresaNombre }} y que lo harás llegar al equipo.\n  </personaRules>\n</agentPrompt>\n\nTrata de no saltar párrafos. No menciones herramientas técnicas como n8n o Make. Enfócate en los beneficios prácticos para el cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -400,
        16
      ],
      "id": "01cd3715-b575-452f-9ed8-d5aa323b819a",
      "name": "CONVERSACION"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -464,
        176
      ],
      "id": "1441ce1a-1970-4824-b7eb-46aa7fe8814f",
      "name": "Modelo Conversacion (gpt-4o-mini)",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Inicio (Router)').item.json.tenant }}_{{ $('Inicio (Router)').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -288,
        -192
      ],
      "id": "2c885c65-92b6-4732-b020-9f5b3d61f2df",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dptch5UJkIPuomI3",
          "name": "Postgres.contabo"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Recupera todos los espacios de citas libres disponibles de la base de datos.",
        "url": "https://api.cal.com/v1/slots",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"startTime\": \"{startTime}\",\n  \"endTime\": \"{endTime}\",\n  \"eventTypeId\": \"{{ $('Inicio (Router)').item.json.calEventTypeId }}\",\n  \"timeZone\": \"America/Lima\",\\n  \"apiKey\": \"{{ $('Inicio (Router)').item.json.calApiKey }}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "startTime",
              "description": "Fecha de inicio en ISO 8601 UTC. La hora siempre empieza a las 00:00:00.",
              "type": "string"
            },
            {
              "name": "endTime",
              "description": "Fecha de fin en ISO 8601 UTC. La hora siempre finaliza a las 23:59:59.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -144,
        -208
      ],
      "id": "254c019c-bf26-4031-8c31-5c632ddc14ff",
      "name": "DISPONIBILIDAD"
    },
    {
      "parameters": {
        "toolDescription": "Guarda la cita en la base de datos.",
        "method": "POST",
        "url": "https://api.cal.com/v1/bookings",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\\n  \"apiKey\": \"{{ $('Inicio (Router)').item.json.calApiKey }}\"\\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\": {{ Number($('Inicio (Router)').item.json.calEventTypeId) }},\n  \"start\": \"{startTime}\",\n  \"responses\": {\n    \"name\": \"{userName}\",\n    \"email\": \"{userEmail}\",\n    \"location\": {\n      \"value\": \"online\",\n      \"optionValue\": \"\"\n    }\n  },\n  \"timeZone\": \"America/Lima\",\n  \"language\": \"es\",\n  \"metadata\": {}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "startTime",
              "description": "Fecha/hora de inicio elegida por el usuario en ISO 8601 UTC.",
              "type": "string"
            },
            {
              "name": "userName",
              "description": "Nombre completo del usuario",
              "type": "string"
            },
            {
              "name": "userEmail",
              "description": "Email del usuario"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        32,
        -208
      ],
      "id": "16e40def-dbbd-441e-8014-a7880a204853",
      "name": "AGENDAR"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        192,
        -208
      ],
      "id": "ca9b62f3-222d-4e2b-9dff-ace90bffc437",
      "name": "Think"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "companyKnowledge",
        "toolDescription": "Usa esta herramienta para recuperar información de la empresa (servicios, precios, FAQ, contacto).",
        "qdrantCollection": {
          "__rl": true,
          "value": "smartweb_knowledge",
          "mode": "list",
          "cachedResultName": "smartweb_knowledge"
        },
        "topK": 10,
        "options": {
          "searchFilterJson": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.tenant\",\n      \"match\": { \"value\": \"{{ $('Inicio (Router)').item.json.tenant }}\" }\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -192,
        224
      ],
      "id": "7b35bf17-0077-4a89-8318-fccea163875d",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "CGQrp2xFcyYxuAVX",
          "name": "Qdrant.inHouse"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        368
      ],
      "id": "cca5de2e-621f-48b3-81a9-babd5668afc0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KY7AUSiKP5pDlGeh",
          "name": "OpenAI.msn"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Inicio (Router)').item.json.evolutionInstance }}",
        "remoteJid": "={{ $('Inicio (Router)').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        64,
        -400
      ],
      "id": "eb2e13d5-a1ba-496b-b11a-1b942df8a470",
      "name": "Enviar texto (AGENDADOR)",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Inicio (Router)').item.json.evolutionInstance }}",
        "remoteJid": "={{ $('Inicio (Router)').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        16,
        16
      ],
      "id": "0e309913-0825-432e-bebd-b0f080086e18",
      "name": "Enviar texto (CONVERSACION)",
      "credentials": {
        "evolutionApi": {
          "id": "pkZphInpmEQfnYQG",
          "name": "Evolution.inHouse"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2256,
        -128
      ],
      "id": "26bd5e8d-9ee0-4c70-afd4-ed78d649da01",
      "name": "Inicio (Router)"
    },
    {
      "parameters": {
        "content": "## Notas \n[Configurar Webhokk](https://smartweb-web-evolution-api.izq3rn.easypanel.host/manager/instance/c6d3e45e-2616-40f6-b822-934a6ca62591/webhook)",
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2224,
        -336
      ],
      "typeVersion": 1,
      "id": "f527055b-30e7-4153-b31f-f7490ec88e5d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T22:22:35.100Z",
      "createdAt": "2026-06-04T22:22:35.100Z",
      "role": "workflow:owner",
      "workflowId": "EzuhMMML1nuiHzh9",
      "projectId": "eyOyKz68GM9OloYk"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-05T20:32:17.968Z",
  "versionId": "b7894850-23ab-4606-971e-4cc1fd33df34"
}